.breakpoint {
  width: auto;
  display: block;
  font-size: 0.7em;
  color: $white;
  position: fixed;
  padding: 0.5rem;
  top: 10em;
  font-weight: bold;
  z-index:100;

  &:before {
    content: "no break- Phone up";
  }

  background-color: rgba(green, 0.7);

  @include media($xsmall-screen) {
    &:before {
      content: "$screen-xsmall";
    }

    background-color: rgba(orange, 0.7);
  }


  @include media($small-screen) {
    &:before {
      content: "$screen-small";
    }

    background-color: rgba(red, 0.7);
  }


  @include media($medium-screen) {
    &:before {
      content: "$screen-medium";
    }

    background-color: rgba(yellow, 0.7);
    color: $black;
  }


  @include media($large-screen) {
    &:before {
      content: "$screen-large";
    }

    background-color: rgba(blue, 0.7);
    color: $white;
  }


  @include media($ipadP) {
    &:before {
      content: "$screen-ipadP";
    }

    background-color: rgba(purple, 0.7);
  }


  @include media($ipadL) {
    &:before {
      content: "$screen-ipadL";
    }

    background-color: rgba(pink, 0.7);
  }
}

.uw-site {
  background: teal;

  .js & {
    background: transparent;
  }
}
