@mixin alpha-attribute($attribute, $color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);

  #{$attribute}: $solid-color;
  #{$attribute}: $color;
}

@mixin rem-fallback($property, $values...) {
  $max: length($values);
  $pxValues: "";
  $remValues: "";

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $pxValues: #{$pxValues + $value * 16}px;

    @if $i < $max {
      $pxValues: #{$pxValues + " "};
    }
  }

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $remValues: #{$remValues + $value}rem;

    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  }

  #{$property}: $pxValues;
  #{$property}: $remValues;
}

$zindex: (modal: 11, overlay: 11, dropdown: 8, menu: 10, logo: 10, header: 5, footer: 4, content: 3, slides: 2, wrapper: 2, background: 1);

@mixin filter($var) {
  -webkit-filter: $var;
  -moz-filter: $var;
  -ms-filter: $var;
  -o-filter: $var;
  filter: $var;
}

@mixin align-absolute($amountX,$amountY) {
  position: absolute;
  left: $amountX;
  top: $amountY;
  -webkit-transform: translate(-$amountX, -$amountY);
  -moz-transform: translate(-$amountX, -$amountY);
  -o-transform: translate(-$amountX, -$amountY);
  -ms-transform: translate(-$amountX, -$amountY);
  transform: translate(-$amountX, -$amountY);
}

@mixin circle($width) {
  width: $width;
  height: $width;
  -webkit-border-radius: $width / 2;
  -moz-border-radius: $width / 2;
  border-radius: $width / 2;
}

@mixin vertical-align {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin vertical-align-relative {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin reset-valign {
  position: relative;
  top: 0;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

@mixin hozizontal-align {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

@mixin center-align-middle {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin alpha-attribute($attribute, $color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);

  #{$attribute}: $solid-color;
  #{$attribute}: $color;
}

@mixin borderBoxHover($borderBoxColor, $borderBoxBgColor) {
  border: 1px solid $borderBoxColor;
  -webkit-box-shadow: -1px 1px $borderBoxColor, -2px 2px $borderBoxColor, -3px 3px $borderBoxColor, -4px 4px $borderBoxColor, -5px 5px $borderBoxColor;
  -moz-box-shadow: -1px 1px $borderBoxColor, -2px 2px $borderBoxColor, -3px 3px $borderBoxColor, -4px 4px $borderBoxColor, -5px 5px $borderBoxColor;
  box-shadow: -1px 1px $borderBoxColor, -2px 2px $borderBoxColor, -3px 3px $borderBoxColor, -4px 4px $borderBoxColor, -5px 5px $borderBoxColor;
  background: $borderBoxBgColor;
  -webkit-transition: all 0.35s, -webkit-transform 0.35s;
  -moz-transition: all 0.35s, -moz-transform 0.35s;
  transition: all 0.35s, transform 0.35s;
}

@mixin borderEffect($bordersize, $borderColor, $borderBgColor, $borderShadowColor, $borderShadowSpread) {
  border: $bordersize solid $borderColor;
  -webkit-box-shadow: $borderShadowColor 0px 0px $borderShadowSpread;
  -moz-box-shadow: $borderShadowColor 0px 0px $borderShadowSpread;
  box-shadow: $borderShadowColor 0px 0px $borderShadowSpread;
  background: $borderBgColor;
  -webkit-transition: all 0.35s, -webkit-transform 0.35s;
  -moz-transition: all 0.35s, -moz-transform 0.35s;
  transition: all 0.35s, transform 0.35s;
  outline: none;
}

@mixin subNav($bordersize, $borderColor, $sub-menu-height, $subpadding-top, $subpadding-bottom, $backgroundColor) {
  background-color: $backgroundColor;
  border-bottom: $bordersize solid $borderColor;
  -webkit-transition: background-color 0.35s, -webkit-transform 0.35s;
  -moz-transition: background-color 0.35s, -moz-transform 0.35s;
  transition: background-color 0.35s, transform 0.35s;
  -webkit-transition: border-bottom-color 0.35s, -webkit-transform 0.35s;
  -moz-transition: border-bottom-color 0.35s, -moz-transform 0.35s;
  transition: border-bottom-color 0.35s, transform 0.35s;
  display: block;
  padding-top:$subpadding-top;
  padding-bottom:$subpadding-bottom;
  height: $sub-menu-height;
}

@mixin textShadow {
  -webkit-text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
  -moz-text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
}

@mixin boxShadow {
  -moz-box-shadow: 2px 5px 5px 2px #888;
  -webkit-box-shadow: 2px 5px 5px 2px #888;
  box-shadow: 2px 5px 5px 2px #888;
}

@mixin boxShadowInner {
  -moz-box-shadow: 2px 0px 5px 2px #888;
  -webkit-box-shadow: 2px 0px 5px 2px #888;
  box-shadow: 2px 0px 5px 2px #888;
}

// Size helper mixin
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

// [Private] 
// Position helper mixin
@mixin _position($position, $args) {
  @each $o in top right bottom left {
    $i: index($args, $o);

    @if $i and $i + 1 <= length($args) and type-of(nth($args, $i + 1)) == number {
      #{$o}: nth($args, $i + 1);
    }
  }

  position: $position;
}

// @param [list] $args: list of offsets and values
@mixin absolute($args) {
  @include _position(absolute, $args);
}

// Arrow helper mixin
@mixin triangle($direction, $position, $color: currentColor, $size: 1em) {
  // Make sure the direction is valid
  @if not index(top right bottom left, $direction) {
    @warn "Direction must be one of top, right, bottom or left.";
  }
  @else {
    @include absolute($position);

    // Position
    @include size(0);

    // Size
    content: '';
    z-index: 2;
    border-#{opposite-position($direction)}: ($size * 1.5) solid $color;

    $perpendicular-borders: $size solid transparent;

    @if $direction == top or $direction == bottom {
      border-left: $perpendicular-borders;
      border-right: $perpendicular-borders;
    }
    @else if $direction == right or $direction == left {
      border-bottom: $perpendicular-borders;
      border-top: $perpendicular-borders;
    }
  }
}

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) {
    margin-right: flex-gutter();
  }

  &:nth-child(#{$nth}+1) {
    clear: none;
  }
}

@mixin uw-transition($duration, $delay, $property, $timing) {
  -moz-transition: {
    property: $property;
    duration: $duration;
    delay: $delay;
    timing-function: $timing;
  };
  -webkit-transition: {
    property: $property;
    duration: $duration;
    delay: $delay;
    timing-function: $timing;
  };
  -ms-transition: {
    property: $property;
    duration: $duration;
    delay: $delay;
    timing-function: $timing;
  };
  transition: {
    property: $property;
    duration: $duration;
    delay: $delay;
    timing-function: $timing;
  };
}

@mixin fontdpi {
  font-weight: $weight-regular;

  @include media($medium-screen) {
    font-weight: $weight-regular;
  }


  @include hidpi(1.5) {
    font-weight: $weight-light;
  }


  @include hidpi(2) {
    font-weight: $weight-light;
  }
}
@mixin sotuTextShadow(){
  -webkit-text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
  -moz-text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
}

@mixin lead {
  font-size:rem-calc(18);
  line-height:rem-calc(24);
  font-family:$base-font-family;
  font-weight:300;
  color: $gray;
  text-align: left;
}
@mixin mag-lead {
  font-size:rem-calc(26);
  line-height:rem-calc(34);
  font-family:$base-font-family;
  font-weight: 300;
  text-align: left;
}
@mixin pub-lead {
  font-size:rem-calc(26);
  line-height:rem-calc(34);
  font-family:$base-font-family;
  font-weight:300;
  color: $gray;
  text-align: left;
}
@mixin report-lead {
  font-size:rem-calc(26);
  line-height:rem-calc(34);
  font-family:$heading-font-family-regular;
  font-weight:700;
  color: $gray;
  text-align: left;
}
@mixin subheader {
  line-height: $subheader-line-height;
  color: $subheader-font-color;
  font-weight: $subheader-font-weight;
  margin-top: $subheader-top-margin;
  margin-bottom: $subheader-bottom-margin;
}
