.visuallyhidden {
  display: none;
}

/*skip links*/
#skip {
  position: absolute;
  z-index: map-get($zindex, header);
  left: 37.5rem;
  width: 8.5rem;
  text-align: center;
  background: #fff;
}

#skip a {
  display: block;
  margin: 0.5rem;
}

/* Float clearing in body content and Webform */
div.field-type-text-with-summary,
div.form-item.webform-component {
  clear: both;
}

/* Indents */
.rteindent1 {
  margin-left: 2rem;
}

.rteindent2 {
  margin-left: 4rem;
}

.rteindent3 {
  margin-left: 6rem;
}

.rteindent4 {
  margin-left: 8rem;
}

/*search results*/
.page-search {
  margin-bottom: 2rem;
}

.search-form {
  margin-bottom: 2rem;
}

.search-results {
  margin: 0;
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;

  h3 {
    margin: 0;
  }

  li {
    list-style: none;
  }

  .search-snippet-info {
    padding: 0;
  }
}

.results_url {
  margin-bottom: 0.5rem;

  a {
    &:link,
    &:visited {
      color: #555;
      text-decoration: none;
    }
  }
}

.page-search {
  .pager {
    padding: 1rem 0;

    a {
      display: inline-block;
      font-weight: bold;

      &:link {
        text-decoration: none;
        color: #03f;
      }

      &:visited {
        text-decoration: none;
        color: #306;
      }
    }
  }

  .pager-current {
    background-color: #923;
    color: #fff;
  }
}

/* IE6 message */
#ie6message {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 16px;

  //-- ie 6 needs px
  background-color: #c00;
  color: white;
  font-size: 120%;
  font-weight: bold;
  text-align: center;
}

/* Custom CSS Style */
.checkmark-replace {
  background: url("../images/core/checkmark.png") no-repeat scroll left top transparent;
  min-height: 1.563rem;
  min-width: 1.563rem;
  text-indent: -999rem;
}

/*global search*/
.global-search {
  position: absolute;
  top: 1.250rem;
  right: 0.625rem;

  label {
    display: inline;
    font-size: 0.9rem;
  }
}

.uw-search-site--label {}

.uw-search--label {
  &.js {
    position: absolute;
    color: #000;
    background-color: #fff;
    padding: 0.125rem 0.375rem;
    font-weight: 400;
  }
}

.uw-search--term {
  border: solid 1px #fff;
  padding: 0.125rem;
}

.uw-search-site--wrap {
  line-height: 1.5rem;
  padding-right: 0.5rem;
}

.uw-search-site {}

.uw-search-site--wrap select {
  vertical-align: top;
  text-transform: uppercase;
  padding: 1px;
}

/* header */
.uw-header {
  background: #000;
  padding: 1.250rem 0.625rem;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;

  .global-menu {
    position: absolute;
    bottom: 0.313rem;
    right: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      float: left;
      padding: 0.125rem 0.375rem;
      border-left: solid 1px #fff;
      margin: 0;

      &:first-child {
        border-left: none;
      }
    }
  }
}

.uw-header--logo {
  display: block;
  width: 12.938rem;
  height: 3.750rem;
  text-indent: -999rem;
  overflow: hidden;
  background: url("../images/core/university-of-waterloo-logo.png") no-repeat left top;
}

// @media only screen and (-webkit-min-device-pixel-ratio: 2){
//    .uw-logo {
//         background: url('../images/core/university-of-waterloo-logo-2x.png') no-repeat left top;
//         background-size: 12.938rem   3.750rem;
//     }
// }

// @media only screen and (min-resolution: 2dppx) {
//     .uw-logo {
//         background: url('../images/core/university-of-waterloo-logo-2x.png') no-repeat left top;
//        background-size: 12.938rem   3.750rem;
//     }
// }
