fieldset {
  background-color: lighten($base-border-color, 10%);
  border: none;
  font-size: $base-font-size;
  margin: 0;
  padding: 0;
  line-height: inherit;
  font-weight: inherit;
}

input,
label,
select {
  display: block;
  font-family: inherit;
  font-size: $base-font-size;
  line-height: inherit;
  margin: 0;

  &.chevron-submit {
    width: 1.125rem;
    height: 1.125rem;
    overflow: hidden;
    text-indent: -999rem;
    line-height: 0;
    border: none;
    background: url("../images/core/search-arrows.png") no-repeat -18px 0;
    color: #fff;
    cursor: pointer;

    @media only screen and (-webkit-min-device-pixel-ratio: 2) {
      background: url("../images/core/search-arrows-2x.png") no-repeat -18px 0;
      background-size: 54px 18px;
    }

    @media only screen and (min-resolution: 2dppx) {
      background: url("../images/core/search-arrows-2x.png") no-repeat -18px 0;
      background-size: 54px 18px;
    }

    &:focus {
      background-position: 0 0;
    }
  }
}

input {
  .search-wrapper & {
    height: 1.625rem;
  }
}

label {
  font-weight: 600;
  margin-bottom: $small-spacing / 2;

  &.required::after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

optgroup {
  font-family: inherit;
}

#{$all-text-inputs},
select[multiple=multiple],
textarea {
  background-color: $base-background-color;
  border: $base-border;
  box-sizing: border-box;
  font-family: $base-font-family;
  font-size: $base-font-size;

  &:hover {
    border-color: darken($base-border-color, 10%);
  }

  &:focus {
    border-color: $action-color;
    outline: none;
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"],
input[type="radio"] {
  // display: inline;
  margin-right: $small-spacing / 2;

  &.visuallyhidden {
    display: none;
  }
}

input[type="file"] {
  padding-bottom: $small-spacing;
  width: 100%;
}

select {
  max-width: 100%;
  width: auto;
}

input[disabled],
select[disabled],
textarea[disabled],
button[disabled] {
  // opacity: 0.75;
  // height: 26px;
}
