/**
 * area colours need to be set in the following documents:
 * uw_ct_event/css/uw_ct_event.css
 * uw_ct_home_page_banner/css/banner.css
 * uw_ct_home_page_banner/css/uw_banner_slideshow.css
 * uw_wysiwyg_ckeditor/css/uw_ckeditor.css
 * uw_fdsu_theme/css/colors.css
 */

$faculties:
        org_default $uw-black $uw-black $dark-gray url("../images/rwd-home/chevrons-yellow.png") $medium-gray org_default_bg $uw-gold #fffaaa #e4b429 #fdd54f #e4b429,
        org_ahs $uw-ahs $uw-ahs-light darken($uw-ahs, 9%) url("../images/rwd-home/chevrons-teal.png") $uw-ahs org_ahs_bg $uw-ahs-light #97DFEF #00BED0 #0098A5 #005963,
        org_art $uw-arts $uw-arts-light darken($uw-arts, 5%) url("../images/rwd-home/chevrons-orange.png") $uw-arts org_art_bg $uw-arts-light #FFD5A5 #FBAF00 #E78100 #D93F00,
        org_eng $uw-engineering $uw-engineering-light darken($uw-engineering, 5%) url("../images/rwd-home/chevrons-purple.png") $uw-engineering org_eng_bg $uw-engineering-light #D0B4EF #BE33DA #8100B4 #57058B,
        org_env $uw-environment $uw-environment-light darken($uw-environment, 5%) url("../images/rwd-home/chevrons-green.png") $uw-environment org_env_bg $uw-environment-light #DAF582 #BED500 #B4BE00 #607000,
        org_mat $uw-math $uw-math-light darken($uw-math, 5%) url("../images/rwd-home/chevrons-pink.png") $uw-math org_mat_bg $uw-math-light #FFBEEF #FF63AA #DF2498 #C60078,
        org_sci $uw-science $uw-science-light darken($uw-science, 5%) url("../images/rwd-home/chevrons-blue.png") $uw-science org_sci_bg $uw-science-light #B4D5FF #63A0FF #0073CE #0033BE,
        org_school $uw-school $uw-schools-light darken($uw-school, 5%) url("../images/rwd-home/chevrons-red.png") $uw-school org_school_bg $uw-schools-light #FFA5AA #E41740 #B71233 #80001F,
        org_cgc $uw-cgc $uw-conrad-light darken($uw-cgc, 5%) url("../images/rwd-home/chevrons-cgc.png") $uw-cgc org_cgc_bg #fff #FFA5AA #E41740 #B71233 #80001F,
        org_ren $uw-ren $uw-renison-light darken($uw-ren, 5%) url("../images/rwd-home/chevrons-ren.png") $uw-ren org_ren_bg #fff #FFA5AA #E41740 #B71233 #80001F,
        org_stj $uw-stj $uw-st-jeromes-light darken($uw-stj, 5%) url("../images/rwd-home/chevrons-stj.png") $uw-stj org_stj_bg #fff #FFA5AA #E41740 #B71233 #80001F,
        org_stp $uw-stp $uw-st-pauls-light darken($uw-stp, 5%) url("../images/rwd-home/chevrons-stp.png") $uw-stp org_stp_bg #fff #FFA5AA #E41740 #B71233 #80001F;

body{
  @each $faculty in $faculties {
    &.#{nth($faculty, 1)} {
      .uwm-pub-cat-name,
      .uwm-pub-cat-theme{
        span{

          a{
            color: #fff;
            background-color:nth($faculty, 11);
            &:hover,
            &:focus{
              text-decoration:underline!important;
            }
          }
          &.cat-type,
          &.cat-theme{
            background-color:transparent;
          }
        }
      }
      a[href="#navigation"]:link,
      a[href="#navigation"]:visited,
      a[href="#navigation"]:active{
        color:#fff!important;
      }
      a[href="#navigation"]:focus,
      a[href="#navigation"]:hover {
        color:nth($faculty, 11)!important;
      }
      .navigation-button {

        span {
          background-color: #fff;
        }
        &:focus,
        &:hover{
          span {
            background-color: nth($faculty, 11);
            &::before,
            &::after{
              background-color: nth($faculty, 11);
            }
          }
        }

      }
      .bt-menu-open .navigation-button span {
         background-color: transparent!important;
       }
      .uwm-main-nav ul li{
        &.active{
          border-top: 1px solid nth($faculty, 11);
          border-bottom: 1px solid nth($faculty, 11);
          a{
            color:nth($faculty, 11)!important;
          }
        }
        a{
          &:hover,
          &:focus{
            color:nth($faculty, 11)!important;
          }
        }
      }
      .uwm-main-nav ul li{
        a{

          &:hover,
          &:focus{
            color:nth($faculty, 11);
          }
        }
      }
      .uwm-social-share-btns{
        li {
          a{
            &:link,
            &:visited,
            &:active{
              &::before{
                color:#fff;
                background-color:$gray;
              }
              &:focus,
              &:hover{
                &::before{
                  background-color:nth($faculty, 11);
                }
              }
            }
          }
        }
      }
      .uwm-social-links ul li a{
        .ifdsu{

        }
        &:hover,
        &:focus{
          .ifdsu{
            color:nth($faculty, 11);
            background-color:#3f3f3f;

          }
        }

      }
      .uw-territorial{
        a{
          color: $yellow-dark;
        }
      }
      .uwm-login{
        a{
          color:nth($faculty, 11)
        }
      }
      .more-feature a {

        &:hover,
        &:focus{
          color:#fff!important;
          background-color:nth($faculty, 11);

        }
      }
      .uwm-subscribe-button a.button,
      .uwm-support-button a.button{
        color:#fff!important;
        background-color:nth($faculty, 11);
        &:hover,
        &:focus{
          background-color:nth($faculty, 12);
        }
      }
      .uwm-top-link{
        abbr{
          color:nth($faculty, 11)
        }
      }
      .uwm-site-title{
        a {
          color:#fff;
          &:hover,
          &:focus{
            color:nth($faculty, 9)
          }
        }
      }
      .uwm-nested-insert{
        border: 2px solid nth($faculty, 11);
      }
      .close-reveal-modal{
        &:hover,
        &:focus{
          background-color:nth($faculty, 11);
        }
      }
      .uwm-nested-article-meta{
        border-bottom: 2px solid nth($faculty, 11);
      }
      .uwm-next-link,
      .uwm-previous-link{
        background-color:nth($faculty, 11);
        color:#fff;
      }
      .uwm-testimonials .button,
      .uwm-testimonials a.button{
        background-color:nth($faculty, 11);
        &:hover{
          background-color:#3f3f3f;
        }
      }
      .uwm-related-articles-header{
        border-left: 4px solid nth($faculty, 11);
      }
      .caption strong {
        color:#000;
      }
      .uwm-related-item{
        a{
          color:#3f3f3f;
        }

      }
    }
  }
}

// overrides for default theme colors
body.org_default{
  .uwm-hero-sub-headline{
    color:$uw-gold;
  }
  a[href="#navigation"]:focus,
  a[href="#navigation"]:hover {
    color:$uw-gold!important;
  }
  .uwm-pub-cat-name,
  .uwm-pub-cat-theme{
    span{
      a{
        color:$uw-black;
      }
    }
  }
  .uwm-subscribe-button a.button,
  .uwm-support-button a.button{
    background-color:$uw-gold;
    color:#000!important;
    &:hover,
    &:focus{
      color:$uw-gold!important;
      background-color:black;
    }
  }
  .uwm-login {
    a {
      color: $uw-gold;
    }
  }
  .uwm-social-share-btns{
    li {
      a{
        &:link,
        &:visited,
        &:active{
          &::before{
            color:#fff!important;
            background-color:$gray!important;
          }
          &:focus,
          &:hover{
            &::before{
              color:#fff!important;
              background-color:$dark-gray!important;

            }
          }
        }
      }
    }
  }
  .uwm-social-links ul li a{
    .ifdsu{
      background-color:white;
    }
    &:hover,
    &:focus{
      .ifdsu{
        color:#3f3f3f;
        background-color:$uw-gold;
      }
    }
  }
  .more-feature a {
    &:hover,
    &:focus{
      color:black!important;

    }
  }
  .uwm-top-link{
    abbr{
      color:$uw-gold;
    }
  }
  .uwm-site-title{
    a {
      color:#fff;
      &:hover,
      &:focus{
        color:$uw-gold;
      }
    }
  }
  .uwm-testimonials .button,
  .uwm-testimonials a.button{
    &:hover{
      background-color:#3f3f3f;
    }
  }
  .uwm-next-link,
  .uwm-previous-link{
    color:#000;
  }
}









// does not need to be in body loop
h2{
  .uwm-testimonials &{
    color:$gray;
  }
  .uwm-testimonials-wrap-nobg &{
    color:$uw-black;
    text-shadow:none;
    span{
      font-weight: 300;
      display:block;
    }
  }
  .uwm-testimonials-wrap &{
    color:$white;
    @include sotuTextShadow();
    span{
      font-weight: 300;
      display:block;
    }
  }
}
