/*fixes drop shadow problems in IE10+, unfortunately must apply to all browsers*/
.ie-resize-fix {
  // height: 1em;
}
/* Fixes for FDSU-1736: WCAG Contrast colour errors.*/
#uw-header-logo {
   background-color: $uw-black;
  color: $white;
}
#uw-header-logo a {
   background-color: $uw-black;
  color: $white;
}
#site--offcanvas .content {
  background-color: $uw-black;
  color: $white;
}
#navbar-bar h2 {
  background: $uw-black;
  color: $white;
}
#uw-header-content {
  background-color: $uw-black;
  color: $white;
}
#navbar-administration{
  width:0px!important;
}
.off-screen, .element-invisible {
  display: block;
  text-indent: -9999px;
  height: 0px;
  overflow: hidden;
  &:focus{
    text-indent:0px;
  }
}
.visuallyhidden,
.show-for-sr{
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
#navbar-administration {
  z-index: map-get($zindex, overlay);
}
.content{
 width:100%;
}
.uw-site--main-top{
  width:100%!important;
  max-width:64rem!important;
  margin:0 auto;
}
// layout of global elements
.uw-section {
  &--inner {
    padding: 0rem 0.8rem 0rem 0.8rem;
    clear: both;
    @include outer-container;
    .full-width &{
      @include outer-container(100%);
      position: relative;
      padding: 0;
    }

    @include media($xsmall-screen) {}
    @include media($medium-screen) {
      padding: 0rem 0.8rem 0rem 0.8rem;
    }
    @include media($large-screen) {
     // padding: 0 .8rem;
    }
    .uwm-header-wrapper & {
      @include outer-container(100%);
      position: relative;
      padding: 0;
    }
    .uwm-footer-wrapper & {
      @include outer-container(100%);
      position: relative;
      padding: 0;
    }
    .uwm-hero-feature &{
      @include outer-container(100%);
   }

    .uw-site-publication &{
      @include outer-container(100%);
      padding: 0rem
    }
    .uwm-front-wrapper & {
      @include outer-container;
      //background:red!important;
    }
    .uwm-hero-feature &{
      @include outer-container(100%);

    }
    .uw-site--main &{
        @include outer-container(100%);

    }
    .uw-header--global & {
      padding: 0rem 0rem 0rem 0.8rem;
    }
    .uwm-admin-top & ,
    .uwm-main-content-wrapper &,
    .uwm-front-wrapper &{
      padding: 0rem .8rem;
    }

    .uw-header--banner__alt & {
      @include outer-container;

      margin-bottom: 1rem;
      position: relative;
      padding: 0;

      @include media($medium-screen) {
        margin-bottom: 2rem;
      }
    }
    .uw-site--offcanvas & {
      @include outer-container(100%);

      .menu-open & {
        overflow-x: hidden;
      }
    }
    .uw-footer &{
      @include outer-container(100%);
      padding: 0;
    }
    .uw-site--colors &{
      @include outer-container(100%);
      padding: 0;
    }
    .uwm-pub-article-page &{
      @include outer-container(100%);
      padding: 0;
    }
    .uwm-prev-next-articles-wrap &{
      @include outer-container(58rem);
      padding: 0rem 0.8rem 0rem 0.8rem;
      @include media($large-screen) {
        padding: 0rem
      }
    }
    .uwm-related-articles-wrap &{
      @include outer-container(58rem);
      padding: 0rem;
      @include media($large-screen) {
        padding: 0rem
      }
    }
    .uw-site-footer & {
      @include outer-container;

      min-height: 5.625rem;
    }
    .uw-site-share & {
      @include outer-container(100%);

      min-height: 3rem;
      background: $lighter-gray;
      padding: 0;

      @include media($medium-screen) {
        padding: 0rem 0.8rem 0rem 0.8rem;
      }


      @include media($large-screen) {
        padding: 0rem;
      }
    }
    .uw-site-footer--global & {
      @include outer-container;
    }
    //.uwm-article-wrap-wide{
    //  @include outer-container();
    //}
  }
}
.uwm-related-articles-header{
  @include outer-container(100%);

  @include media($medium-screen) {
    @include outer-container(58rem);
  }

}
.uw-site--inner.meta{
  @include outer-container(100%);
}
.uw-site {
  @include outer-container(100%);
  //make 100% for full width
  &--inner {
    @include outer-container(100%);
    // make 100% for full width

  }
  &--header {
    // inside the global header
    @include outer-container(100%);

    padding: 0.8rem 0 0.5rem 0;

    @include media($medium-screen) {
      padding: 0.6rem 0 0.5rem 0;
    }


    text-align: center;
    min-height: $site-header-height;
    line-height: $base-line-height;
    height: auto;
    background-color: $site-header-bg;
    text-transform: uppercase;

    img {
      vertical-align: bottom;
    }
  }
  &--off-canvas {
    @include outer-container(100%);

    overflow: hidden;
  }
  &--main-top {
    @include outer-container();
  }
  &--colors{
    @include outer-container(100%);
  }
  &--banner {}
  &--messages {}
  &--help {}
  &--breadcrumb {
    text-align: center;
    line-height: 1.125;

    @include media($medium-screen) {
      text-align: left;
    }
  }
  &--title {}

  //  />top bar above site content
  &-admin {
    &--tabs {
      @include span-columns(12);

      @include media($medium-screen) {
        @include span-columns(8);

        @include omega;
      }


      @include media($large-screen) {
        @include span-columns(9);

        @include omega;
      }
    }
  }
  &-navigation {
    //left navigation column
    display: none;
    @include media($medium-screen) {
      @include span-columns(3);
      min-height:30rem;
      background: #fff;

      h2 {
        margin: 0;
        padding: 0.75rem 0 0.75rem 0.5rem;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 95% 50%;
        text-transform: uppercase;

        // background: url('../images/rwd/chevrons.png') no-repeat -16px 0;

      }

    }


    @include media($large-screen) {
      @include span-columns(3);
    }


    &--specific {
      //left menu menu code
      .site-menu {
        max-width: 93%;
        background-color: $white;

        h2 {
          border-bottom: none;
        }

        a {
          display: block;
          text-decoration: none;
          padding: 0.5rem;
          overflow: hidden;
          text-overflow: ellipsis;
          overflow: hidden;
          text-overflow: ellipsis;

          &:hover,
          &.active {
            // background-color: $tab-bg-color !important;
          }
        }

        ul {
          margin: 0;
          padding: 0;

          li {
            padding: 0;
            margin: 0;
            list-style-image: none;
            list-style-type: none;
            position: relative;

            &:after {
              font-family: $fdsu-icon-font;
              content: $fdsu-arrow;
              font-size: modular-scale(-5);
              display: block;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              position: absolute;
              right: 0.8rem;
              top: 0.9rem;
            }

            a {
              &.active {
                // color: $uw-black;
              }
            }

            &.expanded {
              &:after {
                font-family: $fdsu-icon-font;
                content: $fdsu-arrow;
                font-size: modular-scale(-5);
                display: block;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                -ms-transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
              }

              a {
                color:$black;
                padding-left: 0.4rem;
                background-image: none;
                background-repeat: no-repeat;
                background-position: 0.4rem center;
                padding-right: 1.5rem;
              }

              &.active-trail {
                a {
                  padding-left: 0.4rem;
                }

                ul {
                  li {
                    a {
                      padding-left: 1.2rem;
                    }

                    ul {
                      li {
                        a {
                          padding-left: 1.4rem;
                        }
                      }
                    }
                  }
                }
              }
            }

            &.collapsed {
              &:after {
                font-family: $fdsu-icon-font;
                content: $fdsu-arrow;
                font-size: modular-scale(-5);
                display: block;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                -ms-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
              }

              a {
                background-image: none;
                background-repeat: no-repeat;
                background-position: 0.4rem center;

                /* Items with sub-menus have an arrow, make sure we don't overlap */
                padding-right: 1.5rem;
              }
            }

            &.leaf {
              padding:0;
              &:after {
                content: "";
              }

              a {
                background-image: none;
                background-repeat: no-repeat;
                background-position: 0.4rem center;
              }
            }
          }
        }
      }

      &__state {}

      &__grey-out {}
    }
  }
  &--main {
    //   --main wraps the inner section site between header / banner_alt and the footers.
    @include outer-container(100%);
    margin-bottom: 2rem;
  }
  &-main--pub{
    width:100%!important;
    .uw-site-content {
      width:100%!important;
    }
  }
  &-main {
    &--content {
      // this wraps the right column of the site
      @include span-columns(12);

      @include media($medium-screen) {
        @include span-columns(9);

      }


      @include media($large-screen) {
        @include span-columns(9);

      }
    }
  }
  &--cbar {
    @include align-items(start);
    // start|end|center|baseline|stretch
    @include display(flex);
    @include flex-direction(row);
    // row | row-reverse | column | column-reverse
    @include justify-content(flex-start);
    @include flex-wrap(wrap);
    //  nowrap | wrap | wrap-reverse
    @include box-orient(horizontal);
    // horizontal|vertical|inline-axis|block-axis|inherit
    @include box-pack(start);
    // start|end|center|justify
    @include box-lines(multiple);
    // single|multiple
    width: 100%;
    .uw-cbar {
      padding: 0;
      margin: 0;
      height:0.625rem;

      @include flex(1);
       @include media($small-screen) {
          height:0.875rem;
      }
       @include media($medium-screen) {
        height:1rem;
      }
       @include media($large-screen) {
        height:1.125rem;
      }
    }
  }
  &-content {
    // #content -- content body column that can be wide or not
    min-height: 1px;
    display: block;
    padding: 0;
    margin-bottom:3rem;

    div + h2 {
      margin-top: 1rem;
    }

    .gmap {
      margin: 1rem 0;
    }

    @include span-columns(12 of 12);
      @include omega;
    .no-filter {
      .rss_link {
        width: 100%;
      }
    }

    .has-filter {
      .rss_link {
        @include flex(1);
      }
    }

    .controls {
      width: 100%;
      display: block;
      margin: 1rem 0;

      @include align-items(start);

      // start|end|center|baseline|stretch
      @include display(flex);

      @include flex-direction(row);

      // row | row-reverse | column | column-reverse
      @include justify-content(flex-start);

      @include flex-wrap(wrap);

      //  nowrap | wrap | wrap-reverse
      @include box-orient(horizontal);

      // horizontal|vertical|inline-axis|block-axis|inherit
      @include box-pack(start);

      // start|end|center|justify
      @include box-lines(multiple);

      // single|multiple
      width: 100%;

      @include clearfix;

      .page-blog &,
      .page-news &,
      .node-type-uw-news-item &,
      .node-type-uw-event &,
      .page-about-people &,
      .page-people-profiles &,
      .page-taxonomy &,
      .node-type-uw-ct-person-profile &,
      .node-type-contact & {
        #ct-filters {
          padding: 0;
          margin: 0;
          border-right: 1px solid lighten($uw-gray, 40%);

          @include flex(1);
        }

        .rss_link {
          padding: 0;
          margin: 0;

          @include flex(1);
        }
      }

      .page-events & {
        #ct-filters {
          padding: 0;

          @include flex(1);

          margin-bottom: 0.2rem;
        }

        .rss_link {
          padding: 0;
          margin-bottom: 0.2rem;
        }

        .feed-icon {
          padding: 0;

          @include flex(1);

          margin-bottom: 0.2rem;
        }
      }

      .node-type-uw-blog &,
      .node-type-uw-event &,
      .node-type-uw-news-item &,
      .node-type-uw-opportunities & {
        display: none;
      }
    }

    @include media($xsmall-screen) {
      .controls {
        .page-events & {
          .rss_link {
            margin: 0;
            border-right: 1px solid lighten($uw-gray, 40%);
          }

          .feed-icon {
            @include flex(1);

            margin: 0;
            border-right: 1px solid lighten($uw-gray, 40%);
          }

          #ct-filters {
            @include flex(1);

            margin: 0;
            border-right: 1px solid lighten($uw-gray, 40%);
          }
        }
      }
    }


    @include media($medium-screen) {
      @include span-columns(9 of 9);
      .uw-site--stories &{
           @include span-columns(12 of 12);
      }
      ul {
        margin-left: 0.9rem;
        margin-bottom: 1rem;
      }

      .uw-site--modal-wrap ul,
      ul.links {
        margin-left: 0;
      }

      .wide &,
      &.wide,
      .page-opportunities &,
      .page-taxonomy & {
        @include span-columns(9 of 9);
      }
    }


    @include media($large-screen) {
      @include span-columns(6 of 9);
      .uw-site--stories &{
           @include span-columns(12 of 12);
           @include omega;
      }
      .wide &,
      &.wide,
      .page-opportunities &,
      .page-blog &,
      .page-news &,
      .node-type-uw-news-item &,
      .node-type-uw-event &,
      .page-about-people &,
      .page-people-profiles &,
      .page-taxonomy &,
      .node-type-uw-ct-person-profile &,
      .node-type-contact & {
        @include span-columns(9 of 9);

        @include omega;

        .controls {
          @include fill-parent;
        }
      }

      .page-events & {
        @include span-columns(9 of 9);

        div + h2 {
          margin-top: 0.5rem;
        }
      }
    }

    .js & {
      .staff-contact {
        button {
          align-items: inherit;
          background-color: inherit;
          border-bottom-color: inherit;
          border-bottom-style: inherit;
          border-bottom-width: inherit;
          border-image-outset: inherit;
          border-image-repeat: inherit;
          border-image-slice: inherit;
          border-image-source: inherit;
          border-image-width: inherit;
          border-left-color: inherit;
          border-left-style: inherit;
          border-left-width: inherit;
          border-right-color: inherit;
          border-right-style: inherit;
          border-right-width: inherit;
          border-top-color: inherit;
          border-top-style: inherit;
          border-top-width: inherit;
          box-sizing: inherit;
          color: inherit;
          cursor: inherit;
          display: inherit;
          font-family: inherit;
          font-size: inherit;
          font-stretch: inherit;
          font-style: inherit;
          font-variant-caps: inherit;
          font-variant-ligatures: inherit;
          font-variant-numeric: inherit;
          font-weight: inherit;
          height: inherit;
          letter-spacing: inherit;
          line-height: inherit;
          margin-bottom: inherit;
          margin-left: inherit;
          margin-right: inherit;
          margin-top: inherit;
          padding-bottom: inherit;
          padding-left: inherit;
          padding-right: inherit;
          padding-top: inherit;
          text-align: inherit;
          text-indent: inherit;
          text-rendering: inherit;
          text-shadow: inherit;
          text-size-adjust: inherit;
          text-transform: inherit;
          word-spacing: inherit;
          writing-mode: inherit;
          -webkit-appearance: inherit;
          -webkit-border-image: inherit;
          max-width: 100%;
          width: 100%;
        }
      }
    }

    .js & {
      .field-item {
        > .expandable {
          margin-bottom: 1rem;

          > h2 {
            margin: 0;
            padding:0;
            &:first-child {
              border: none;

              // margin-bottom: 1rem;
              padding-bottom: 0;
              font-weight: normal;

              button {
                padding: 0.75rem;
                text-align: left;
                position: relative;

                &:after {
                  position: absolute;
                  top: 40%;
                  right: 5%;
                  z-index: 2;
                  display: block;
                  content: $fdsu-arrow;
                  font-family: $fdsu-icon-font;
                  // color: $gray;
                  font-size: modular-scale(-2);
                  text-rendering: auto;
                  -webkit-font-smoothing: antialiased;
                  -moz-osx-font-smoothing: grayscale;
                  transform-origin: 50% 50%;
                  -webkit-transform: scale(1, 1) rotate(90deg);
                  -ms-transform: scale(1, 1) rotate(90deg);
                  transform: scale(1, 1) rotate(90deg);
                  text-align: center;

                  @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity, transform));
                }

                &:hover {}

                max-width: inherit;

                &::-moz-focus-inner {
                  padding: 0;
                  border: none;
                }

                &:hover,
                &:focus {
                  &:after {
                    color: $white;
                  }
                }

                &:focus {
                  outline: none;
                }
              }
            }
          }

          > .expandable-content {
            display: none;
            background: #FAFAFA;

            //@extend %ct_box;

            min-height: inherit;
            margin-top: 0;
          }

          .last-visible {
            margin-bottom: 0;
          }

          &.expanded {
            .expandable-content {
              display: block;
              margin-top: 0;
              min-height: inherit;
              padding: 1rem;
              @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity, transform));
            }

            > h2 {
              &:first-child {
                button {
                  &:hover,
                  &:focus {
                    &:after {
                      // color: $white;
                    }
                  }

                  &:after {
                    // color: $gray;
                    -webkit-font-smoothing: antialiased;
                    -webkit-transform: scale(1, -1) rotate(90deg);
                    -ms-transform: scale(1, -1) rotate(90deg);
                    transform: scale(1, -1) rotate(90deg);

                    @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity, transform));
                  }
                }
              }
            }
          }
        }
      }

      .expandable-controls {
        margin-right: 0;
        @include span-columns(12);
        margin-bottom: 1rem;

        button {
          max-width: inherit;

          &::-moz-focus-inner {
            padding: 0;
            border: 0;
          }

          &:focus {
            outline: none;
          }

          &.expand-all {
            width: 50%;
            margin-right: 0;
            border-right: 1px solid lighten($uw-gray, 40%);
          }

          &.collapse-all {
            width: 50%;
            margin-right: 0;
          }
        }
      }
    }
  }

  &-sidebar {
    @include clearfix;

  }
  &-footer {
    @include outer-container(100%);
    position: relative;
    @include uw-transition($delay: 0s, $duration: 400ms, $timing: "linear", $property: (height, opacity, visibility, background-color));
    &.open-site-footer {
      background-color: $gray;
      color: $white;
      @include uw-transition($delay: 0s, $duration: 400ms, $timing: "linear", $property: (height, opacity, visibility, background-color));
    }
    &--global {
      background-color: $site-global-footer-bg;
      position: relative;
    }
  }
  &-share {
    @include outer-container(100%);
    background-color: $lighter-gray;
  }
}

.uw-footer-logo {
  height: 3.750rem;
  text-indent: -9999rem;
  background: url("../images/rwd/uwaterloo-logo.svg") no-repeat 0 50%;
  background-size: 100%;
  max-width: 15.563rem;
  margin: 1rem auto;

  @include media($medium-screen) {
    max-width: 13rem;
    margin: 1rem 0;

    html.ie10 & {
      max-width: 11rem;
    }
  }


  a {
    width: 100%;
    display: block;
    height: 100%;
  }
}

// region header

// region footer
.uw-footer,
#uw-footer {
  background-color: $site-footer-bg;
  border: none;
  padding: 0;
  margin-top: 0;
  clear: both;
  position: relative;
}

//inner layout
.col-50,
.col-33,
.col-66,
.threecol-33 {
  @include media($small-screen) {
    float: left;
  }
}
.col-50.first,
.col-33.first,
.col-66.first,
.threecol-33 {
  @include media($small-screen) {
    margin-right: 4%;
  }
}
.threecol-33.last {
  margin-right: 0;
}
.col-50 {
  width: 100%;

  @include media($small-screen) {
    width: 48%;
  }
}
.col-33 {
  width: 100%;

  @include media($small-screen) {
    width: 32%;
  }
}
.col-66 {
  width: 100%;

  @include media($small-screen) {
    width: 64%;
  }
}
.threecol-33 {
  width: 100%;

  @include media($small-screen) {
    width: 30.666666%;
  }
}

/*legacy*/
.half-column {
  float: left;
  width: 100%;

  @include media($small-screen) {
    width: 48%;
  }
}
.half-column.first {
  @include media($small-screen) {
    margin-right: 4%;
  }
}

// video
.uw_video-embed {
  clear: both;
  .wide & {
    position: relative;
    padding-bottom: 56.25%;

    /* 16:9 */
    padding-top: 1.563rem;
    height: 0;
    // margin-bottom: 3.1rem;

    object {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      clear: both;
      margin-bottom: 3.1rem;
    }

    div {
      margin-top: 57%;
    }

    .overlay-open & {
      visibility: hidden;
    }
  }
}

/*views*/
.view-events-with-calendar {
  // border:1px solid $medium-gray;
  padding: 0  0 0.5rem 0;
}
.view {
  .date-nav-wrapper {
    margin-top: 0;
    border-radius: 5px;

    .date-nav {
      min-height: inherit;
      height: auto;
      padding: 0;
    }
  }
}
.date-heading {
  font-size: modular-scale(-3);
}
.uw-site-content {
  .view {
    .calendar-calendar {
      padding: 0.2rem;
      background: $white;
    }

    .date-nav-wrapper {
      clear: both;
      border-radius: 0;

      .date-nav {
        display: block;
        float: left;
        background: $neutral;
        width: 100%;

        .date-heading {
          h2 {
            padding: 0.5rem 1rem 0.2rem 1rem;
            width: 40%;
            float: left;
            text-align: left;

            @include media($medium-screen) {
              width: 50%;
              float: left;
            }
          }
        }
      }

      // position:relative;
      // margin-bottom:3rem;
      .date-next,
      .date-prev {
        border-radius: 0;
        padding: 0;
        text-align: center;
        width: 30%;

        @include media($small-screen) {
          width: 20%;
        }


        a {
          @extend %button;

          border: none;
        }
      }

      .date-prev {
        right: inherit;

        // left:0;
        text-align: left;
      }

      .date-prev {
        right: 30%;

        @include media($small-screen) {
          right: 20%;
        }


        // left:inherit;

      }

      @include media($medium-screen) {}
    }
  }
}
/*cas login*/
.cas_login {
  position: absolute;
  bottom: 0.6250rem;
  right: 0.6250rem;
  width: auto;
  margin: 0;
  font-size: modular-scale(-2);

  a {
    color: #aaa;
    background-color: #000;
    text-decoration: none;

    &:visited {
      color: #aaa;
      background-color: #000;
      text-decoration: none;
    }
  }
}
.view-opportunities {
  span {
    display: inline-block;

    // margin-top:0.2rem;
    // margin-bottom:0.2rem;

  }
}
@media screen and (max-width: 767px) {
  #navbar-administration.navbar-oriented .navbar-tray-vertical > .navbar-lining::before {
    height: 0px;
  }
}

.img-test {
  background: url("../images/cta2.jpg") no-repeat;
  width: 220px;
  height: 87px;
  display: none;
}

#main-menu > ul > li.last.expanded.active-trail > a {
  padding-left: 0.4rem;
}

.contextual-links-region {
  @include clearfix;
}

.hootsuiteWrapper iframe {
  width: 100%;
  min-height: 100px;
}

.uw_video-embed-link, .vimeoWrapper-link, .hootsuiteWrapper-link {
  margin-bottom: 1rem;
}

// expand collapse overwrite
body.org_cgc .expandable h2:first-child button, body.org_cgc .expandable-controls button,
body.org_ren .expandable h2:first-child button, body.org_ren .expandable-controls button,
body.org_stj .expandable h2:first-child button, body.org_stj .expandable-controls button,
body.org_stp .expandable h2:first-child button, body.org_stp .expandable-controls button{
  &:hover,
  &:focus{
    color:$lighter-gray;
    background-color:$dark-gray;
    a{
      color:$white;
    }
  }
  a{
    color:$white;
    &:hover{
      color:$white;
    }
    &:focus{
       color:$white;
    }
  }
}
body.org_default .expandable h2:first-child button, body.org_default .expandable-controls button{
  background-color:$lighter-gray;
  color:$dark-gray;
  &:hover,&:focus{
     color:$lighter-gray;
    background-color:$dark-gray;
  }
  &:after{
    color:$dark-gray;
  }
}
body.org_default .expandable h2:first-child button,
body.org_default .expandable-controls button {
  a{
    color:$dark-gray;
    &:hover{
      color:$lighter-gray;
    }
    &:focus{
       color:$dark-gray;
    }
  }
    &:hover,
    &:focus{
      a {
      color:$lighter-gray;

      }
  }
}




// magazine

.uwm-capitalize{
  text-transform:capitalize;
  .publication.front &,
  .publication.not-front.page-taxonomy &{
    text-transform:uppercase;
  }
}
a.button {
  color: $white;
  background: none;
  padding-left:3.5rem;
  padding-right:2.5rem;
  text-transform:uppercase;
  font-size:inherit;
  max-width:inherit;
}
button:hover,
button:focus,
a.button:hover,
a.button:focus,  {
  background-color:$yellow-dark;
  color: $black;
  text-decoration:none;
}
a .hero-button {
  span.button {
    color: $white;
    background: transparent;
    -webkit-text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 2px;
    -moz-text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 2px;
    text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 2px;
    text-transform: uppercase;
  }
}
a:hover .hero-button,
a:focus .hero-button {
  button:hover,
  button:focus,
  span.button,
  span.button {
    color: $white;
    text-decoration:none;
    border: 1px solid $white;
  }
}




.uwm-main-content-wrapper{
  //position: relative;
  //top: -16px;
  //z-index:0;
}
.uwm-hero-feature{
  height:32rem;
  margin-top:0rem;
  &.header-fixed-to-top{
    // margin-top:10.5rem;
  }
  @include media($large-screen) {
    height:37.500rem;
    //margin-top: 8rem;
    &.header-fixed-to-top{
      //margin-top: 8rem;

    }
  }
  @include media($xlarge-screen) {
    margin-top: 0rem;
    &.header-fixed-to-top{
      margin-top: 0rem;
    }
  }
  .menu-open &{
    margin-top:0rem;
  }
  background-color:$entry-bg-color;
  background-size:cover;
  background-position:center top;
  background-repeat:no-repeat;
  width:100%;
  position:relative;
  a:link,
  a:hover,
  a:focus {
    text-decoration: none;
  }
}
.uwm-img-tran{
  //background:url(../images/effect1.png)  repeat;
  background: rgba(0, 0, 0, 0.2);
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  width:100%;
  display:block;

}
.uwm-hero-info{
  height:auto;
  padding-top:5rem;
  text-align:center;
  @include media($medium-screen) {
    padding-top:8rem;
  }
  @include media($large-screen) {
    padding-top:10rem;
  }
  .uwm-hero-headline{
    font-family:$font-bg-condbold;
    font-style: normal;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 0.75rem;
    margin-top: 0.5rem;
    font-size: 3rem;
    color: #ffffff;
    line-height: 1;
    text-align:center;
    text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 2px;

    @include media($large-screen) {
      font-size: 4.75rem;
      .publication &{
        font-size:5.625rem;
      }
    }
    color:$white;
    line-height:1;
    text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 2px;
  }
  .uwm-hero-sub-headline{
    font-family: $font-bg-cond-book;
    font-style: normal;
    line-height: 1.2;
    margin-bottom: 0.75rem;
    margin-top: 0.5rem;
    text-rendering: optimizeLegibility;
    font-size: 2.5rem;
    text-transform: uppercase;
    //color: #FCD450;
    line-height: 1;
    text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 2px;
  }
}
.uwm-on-this-page {
  background-color: $uw-light-shade-colour;
  min-height:3.5rem;
  margin:0  0 1.25rem 0;
}
.uwm-issue-title{
 @include outer-container();
  h1,h2{
    color:$black;
    font-family:$font-bg-condbold;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight:600;
    display:block;
    padding:1rem;
    line-height: 1.25;
    margin:0;
    text-transform: uppercase;
    text-align:center;
    .not-front &{
      text-transform: none;
      color:$gray;

    }
    .publication.not-front &{
      color:$black;
    }
    .menu-open &{
      margin-top:0;
    }
    .publication &{
      text-align:left;
      text-transform: uppercase;

    }
    @include media($large-screen) {
      font-size: 2.25rem;
    }
  }
}
.uwm-also-header{
  border-left: 3px solid $yellow-dark;
  background: $uw-light-shade-colour;
  padding:0 1.250rem;
  height:3rem;
  line-height:3rem;
  margin: 1.25rem  0 2.3rem 0;
  display:block;
  font-family:$font-bg-condbold;
  color:$black;
  text-transform:uppercase;
  text-align:left;
  font-size:1.25rem;
  @include media($large-screen) {
    font-size:1.65rem;
    margin: 1.25rem 0 2.3rem 0;
  }
}

// home below hero
.uwm-feature-hp-block{
  clear:both;
  float:left;
}
.uwm-feature-hp-teaser {
  .uwm-hero-button,
  .button{
    display:none;
  }
}
// Top Featured Stories in wide view
.uwm-feature-hp-list{
  padding:0;
  margin:0;
  list-style:none;
  li{
    margin-top:1rem;
    margin-bottom:2rem;
    a.uwm-feature-hp-alias{
      text-decoration:none;
      display:block;
      @include borderEffect(1px, $white, $white, $white, 0px);

      &:hover{
        text-decoration:none;
        @include borderEffect(1px, $gray, $light-gray,$white, 0px);

      }
    }
    &.hide-feature{
      display:none;
    }
    @include media($large-screen) {
      margin-bottom:3.125rem;
    }
  }
}
.uwm-feature-hp-info{
  min-height:9.183rem;
  padding:0rem 0.25rem;
  .uwm-feature-hp-headline{
    font-weight:300;
    margin:0.5rem 0 0.5rem 0;
    padding: 0;
    font-size: 1.85rem;
    line-height:2rem;
    @include media($large-screen) {
      font-size: 2.25rem;
      line-height:2.85rem;
    }
  }
  p.uwm-feature-hp-sub{
    margin:0;
    padding: 0 0 0.5rem 0;
    font-size: 1.5rem;
    font-family:$font-bg-cond-book;
    text-transform:uppercase;
    line-height:1.05;
  }
  p.uwm-feature-hp-teaser{
    padding:0 0 0.75rem 0;
  }
}
.uwm-feature-hp-img{
  height:auto;
  overflow:hidden;
  position:relative;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.2) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
  background-color:$uw-light-shade-colour;
  &:hover > ::after{
    right:1000px;
  }
  img{
    width:100%;
    display:block;
  }
  &::after{
    content:"";
    position:absolute;
    background-size:contain;
    right:0;
    display:block;
    height: 4.907rem;
    width: 5.625rem;
    bottom:-0.5rem;
    @include media($medium-screen) {
      height: 7.5rem;
      width: 9.375rem;
    }
    @include media($large-screen) {
      height: 9.813rem;
      width: 11.25rem;
    }

  }

}
.uwm-secondary-list{
  list-style:none;
  display:grid;
  grid-template-columns:100%;

  @include media($xsmall-screen) {
    grid-template-columns:48% 48%;
  }
  @include media($medium-screen) {
    grid-template-columns:31% 31% 31%;
  }

  grid-column-gap:3.5%;
  padding: 0;
  margin:0 0 3rem 0!important;
  > .uwm-secondary-hp{
    position:relative;
    padding:0;
    margin:0 0 3rem 0;
    &.hide-cat{
      display:none;
    }
  }
}
.more-feature {
  text-align: center;
  margin-bottom:4rem;
  .button {
    background-color: $black;
  }
}

// secondary stories
.uwm-secondary-block{
  display:block;
}
.uwm-secondary-list {
  list-style:none;
}
.uwm-secondary-meta{
  height: 2.813rem;
  line-height: 2.813rem;
  padding-left: 0.85rem;
  padding-right: 0.85rem;
  color: #000000;
  font-family: $font-1451-bold;
  font-size: 0.85rem;
  font-weight: 300;
  text-transform: uppercase;
  background: $yellow-dark;
  width: auto;
  display: inline-block;
  a{
    text-decoration:none!important;
    color:$black!important;
    &:hover,
    &:focus{
      text-decoration:underline!important;
    }
  }
}
.uwm-secondary-img{
  float:left;
  position:relative;
  overflow:hidden;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.5) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
  img{
    width:100%;
    display:block;
  }
  &:after{
    content:"";
    display:block;
    left:0.8rem;
    bottom: -0.4rem;
    height:1rem;
    width:1rem;
  }
}
.uwm-secondary-info{
  margin: 0.5rem 0  1rem  0;
  float:left;
}
.uwm-secondary-sub{
  display:block;
  font-family:$font-bg-cond-book;
  text-transform:uppercase;
  margin: 0.5rem 0 0.5rem 0;
  font-size:1rem;
  letter-spacing:inherit;
  line-height:1.2;
  padding: 0;
}
.uwm-feature-hp-block{
  //@include outer-container();
  min-height: 40rem;
}
.uwm-front-wrapper,
.uwm-pub-article-page{
  position:relative;
  figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0px;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
    background:$black;
    text-align: center;
    cursor: pointer;
    img {
      position: relative;
      display: block;

      max-width: 100%;
      opacity:1;
    }
    figcaption {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 2em;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.25em;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      &::before,&::after {
        pointer-events: none;
      }
      > .uwm-image-info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
      }

    }
    h2 {
      font-weight: 300;
      margin: 0;
      span {
        font-weight:600;
      }
    }
    p{margin: 0;

      .button {
        color: $white;
        background: none;
        text-align: center;
        width: 100%;
        text-transform:uppercase;
      }

      .button:hover,
      .button:focus,  {
        color: $white;
        text-decoration:none;
      }
    }
  }
}
.uwm-front-wrapper .uwm-feature-hp figure.effect-lily figcaption > div {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  width: 100%;
  height:100%;
  @include media($medium-screen) {
    height:75%;
    padding:2rem;
  }
}
.uwm-front-wrapper .uwm-pub-cat {
  figure{
    img{
      max-width:200%;
      position: relative;
      display: block;
      opacity:1;

      @include media($large-screen) {
        display:block;
        max-width:200%;
      }
    }
    p{
      margin: 0;
      @include media($medium-screen) {
        .button {
          color: $white;
          background: none;
          padding-left:2rem;
          font-size:1.2rem;
          padding-right: 1rem;

          text-transform:uppercase;
        }

        .button:hover,
        .button:focus  {
          color: $white;
          text-decoration:none;
        }
      }
    }
  }
}

// Individual effects */

a figure.effect-lily img {
  max-width: none;
  width: -webkit-calc(100% + 50px);
  width: calc(100% + 50px);
  opacity: 1;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  -moz-transition: opacity 0.35s, -moz-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-40px,0, -40px);
  -moz-transform: translate3d(-40px,0, -40px);
  transform: translate3d(-40px,0,0 -40px);
}
a figure.effect-lily figcaption {
  text-align: center;
}
a figure.effect-lily figcaption > div {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em;
  width: 100%;
  height: 75%;

}
a figure.effect-lily h2,
a figure.effect-lily p {
  -webkit-transform: translate3d(0,40px,0);
  -moz-transform: translate3d(0,40px,0);
  transform: translate3d(0,40px,0);
}
a figure.effect-lily h2 {
  -webkit-transition: -webkit-transform 0.35s;
  -moz-transition: -moz-transform 0.35s;
  transition: transform 0.35s;
}
a figure.effect-lily p {
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
  -moz-transition: opacity 0.2s, -moz-transform 0.35s;
  transition: opacity 0.2s, transform 0.35s;
}
a:hover figure.effect-lily img{
  opacity: 0.2;
}
a:hover figure.effect-lily p {
  opacity: 1;
}
a:hover figure.effect-lily img,
a:hover figure.effect-lily h2,
a:hover figure.effect-lily p {
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
a:hover figure.effect-lily p {
  -webkit-transition-delay: 0.05s;
  -moz-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  transition-duration: 0.35s;
}

// transitions
.uwm-animate.ng-enter {

  -webkit-transition: 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
  -moz-transition: 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
  -ms-transition: 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
  -o-transition: 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
  transition: 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
  opacity: 0;
  display: block !important;
}
.uwm-animate.ng-enter-stagger {

  -webkit-transition-delay:  0.2s;
  -moz-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  -o-transition-delay:0.2s;
  transition-delay:0.2s;
}
.uwm-animate.ng-enter.ng-enter-active {
  opacity: 1;
  display: block !important;


}
.uwm-fade.ng-enter {

  -webkit-transition:  opacity 0.25s ease-in-out;
  -moz-transition:  opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  opacity: 0;
  display: block !important;
}
.uwm-fade.ng-enter-stagger {

  -webkit-transition-delay:  0.2s;
  -moz-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  -o-transition-delay:0.2s;
  transition-delay:0.2s;

  -webkit-transition-duration:0s;
  -moz-transition-duration:0s;
  -ms-transition-duration:0s;
  -o-transition-duration:0s;
  transition-duration:0s;
}
.uwm-fade.ng-enter.ng-enter-active {
  opacity: 1;
  display: block !important;


}



/* tab options */
.tab-options {

  h2 {
    display: none;
  }
  ul.primary {
    margin: 0;
    padding: .625rem 0 0 .625rem;
    border-width: 0;
    list-style: none;
    white-space: nowrap;
    line-height: normal;
    background: url(../images/core/tabs/tab-bar.png) left bottom repeat-x;
    border-bottom: 1px solid #bbb;
    /* border-collapse: collapse; */
    height: auto;
  }
  li {
    /* float: left; */
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style-type: none;
  }
  li a {
    display: block;
    height: 1.5rem;
    margin: 0;
    padding: .25rem .513rem 0 .575em;
    border-width: 0;
    font-weight: bold;
    text-decoration: none;
    color: #666;
    font-size: 0.8rem;
    text-transform:uppercase;
    background: url(../images/core/tabs/tab-right.png) right -2.375rem no-repeat;

    .element-invisible {
      display: none;
    }
  }
  li.active a {

    background: url(../images/core/tabs/tab-right.png) right 0 no-repeat;
  }
  li.active a:before {
    background: url(../images/core/tabs/tab-left.png) left 0 no-repeat;
  }
}

.element-invisible,
.hidden{
  display: none;
}
#block-workbench-block{
  @include outer-container();
  margin:0 auto;
  float:none;
  border-right:1px solid #FFEBC5;
  border-left:1px solid #FFEBC5;

}
div.workbench-info-block {

  background: none repeat scroll 0 0 #FFFBD9;
  list-style: none outside;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  margin:0;
  border-color: #FFEBC5;
  border-style: solid none;
  border-width: 1px;
  color: #666;
  font-size: 0.95rem;
  font-weight:500;
}





//Temp hidden and other stuff
//.uwm-nested-articles,
//.uwm-sub-articles-nav,
//.uwm-sub-articles-nav-bottom{display:none;}
.uwm-related-articles-wrap,
.uwm-prev-next{position:relative;}
