  .uwm-footer{
    position:relative;
    bottom:0;
    height:auto;
    background:$black;
    @include media($large-screen) {
     min-height:8.5rem;
    }
  }
  .uwm-top-link-wrapper{
    @include outer-container;
  }
  .uwm-top-link{
    &:link,
    &:active {
      @include circle(30px);
      background-color: $black;
      position: absolute;
      display: inline-block;
      z-index: map-get($zindex, content);
      top: -0.85rem;
      margin-left: -0.9375rem;
      left: 50%;
      text-align: center;
      font-size: 1.5rem;
      line-height: 1.5rem;
      padding: 0.45rem 0 0 0;
      text-decoration: none;
    }
    &:hover,
    &:focus{
      background-color:rgb(63,63,63);
      text-decoration:none;
    }
    abbr{
      border-bottom:none;
      text-decoration:none;
      cursor:pointer;
    }
  }
  .uwm-footer-inner{
    padding-top:  2rem;
    padding-bottom:  2rem;
    @include outer-container;
  }

  .uwm-affiliate-title {
     font-size: 1.15rem;
   @include media($medium-screen) {
     padding-top:0.6rem;
     line-height: 1.4rem;
     font-size: 1.15rem;
     padding-right: 0;
  }
   @include media($large-screen) {
    padding-top: 0.6rem;
    font-size: 1.4rem;
  }

  a {
    color: $white;
    line-height: 1.5;
    &:hover {
      text-decoration: underline;
    }
  }
}
  .uwm-affiliate-title{
    font-family: $font-bg-condbold;
    color: $white;
    text-align:center;
    font-size: 1.1rem;
    text-transform: uppercase;
    margin:  1rem auto 0 auto;
   @include media($medium-screen) {
     padding-top: 0.6rem;
     font-size: 1.15rem;
      padding-right: 0;
      margin: 0 auto;
    }
   @include media($large-screen) {
        text-align:left;
    padding-top: 0.6rem;
    font-size: 1.4rem;
    }
    a{
      font-family: $font-bg-condbold;
      color:$white;
      text-transform:uppercase;
      border:0px solid transparent;
      outline:none;

      &:hover{
        color:$yellow-dark;
        text-decoration:underline;


      }



    }
    .text-only &{
      display:block;
    }
    .text-only.logo &{
        display:block;
    }
    .uw-logo &{
      display:none;
    }

 }
  .uwm-affiliate-logo{
   .uwm-footer-logo-link{
    height:auto;
     outline:none;
    border:0px solid transparent;
    img{
      outline:none;
      border:0px solid transparent;
      max-height: 6rem;
      width: auto;
      @include media($large-screen) {
          text-align:left;
      }
    }
  }
  .logo &{
    display:block;

  }
  .uw-logo &{
    display:none;

  }
  .text-only & {
    display:none;
  }
  .text-only.logo &{
   display: none;
   @include media($large-screen) {
     display: block;
   }
   visibility:hidden;
  }

 }

  .uwm-social-bottom{
    text-align:right;
  }

  .uwm-logo-wrapper{
    @include span-columns(12);
    padding:0 4rem;

    @include media($large-screen) {
      @include span-columns(3);
      padding:0;
    }

  }
  .uwm-university-logo{
    .uwm-footer-uw-link{
        padding: 1rem;
        outline:none;
        border:0px solid transparent;
        @include media($large-screen) {
          width:100%;
          padding:0;

        }
    img{
        display:none;
        outline:none;
        border:0px solid transparent;
        //width:60%;
        width:90%;
        margin:0 auto;
      @include media($xsmall-screen) {
        width:60%;

      }
      @include media($medium-screen) {
        width:40%;

      }
      @include media($large-screen) {
            text-align:left;
            width:100%;
        }

      }


    }
    .uw-logo &{
      display:block;
      img{

        display:block;
      }
    }
   }

  .uwm-footer-nav{
    @include span-columns(12);
    padding:0 1rem;

    @include media($large-screen) {
      @include span-columns(6);
      padding:0;
    }

    ul{
      @include span-columns(12);
      display:block;
      padding: 0;
      margin-left: 0 ;
      margin-right: 0 ;
      margin-top:  2rem;
      @include media($large-screen) {
        margin-top:  0;
      }
      li{
        display:block;
        @include media($large-screen) {
          @include span-columns(3);
          display: inline-block;
          padding:0;
          margin:0.5rem 0rem;
          text-align:center;
        }



        a{
          color:$white !important;
          font-family:$font-bg-cond-book;
          width:100%;
          display:block;
          text-transform:uppercase;
          text-align: center;
          font-size: 1rem;
          line-height:1;
          text-decoration:none;
          &:hover{
            text-decoration:underline;
            color:$yellow-dark;

          }

          @include media($large-screen) {
            text-align:center;
              margin: 0rem;
          }


        }
      }
    }
  }


  .uwm-action-wrapper{
    @include span-columns(12);
    padding:0 1rem;

    @include media($large-screen) {
      @include span-columns(3);
      @include omega();
      padding:0;
    }
  }
  .uwm-support-button{
    text-align:center;
  }
  .uwm-subscribe-button{
    text-align:center;
    margin-top:  2rem;
    @include media($large-screen) {
     margin-top:  0;
    }
  }
  a.button {
    color: $white;
    background: none;
    text-transform:uppercase;

    .reveal-nested &{
      color: $black;
      font-size:1.2rem;
      font-family:$font-bg-condbold;
      background-color:none;
      background-image:none;
      padding:1.2rem 3.5rem 1.2rem 3.5rem;
      text-transform:uppercase;
    }
    .uwm-subscribe-button &,
    .uwm-support-button &{
      display:inline-block;
      font-size: 1.25rem;
      background-color: $yellow-dark;
      color:$black !important;
      text-decoration:none;
      margin: 0 0 1.25rem;
      padding: 0.5rem 1rem 0.5625rem 1rem;
      &:focus,
      &:hover{
        background-color: transparent;
        color:$white !important;
      }
    }

  }



  .uwm-social{
    background:rgb(63,63,63);
    min-height:  4.125rem;
  }
  .uwm-social-inner{
    padding-top:  1.25rem;
    padding-bottom:  1.25rem;
    @include outer-container;
    @include media($large-screen) {
      padding-bottom:0;
    }

  }
  .uwm-social-bar{
    @include span-columns(12);
    margin-bottom:1rem;
    @include media($large-screen) {
      margin-bottom:0rem;
      @include span-columns(6);
    }

  }
  .uwm-social-links{
    text-align:center;
    position:relative;
    min-height:1rem;
    //padding-top: 0.7rem;
    ul{
      list-style:none;
      margin:0;
      padding:0;
      text-align:center;
      li{
        display:inline;
        margin:0;
        padding:0;
        &:last-child{
          padding-right: 0rem;
        }
        a{
          text-decoration:none;
          .ifdsu{
            font-size:modular-scale(4);
            color:#3F3F3F;
            background-color:$white;
            padding:0.25rem 0;
            height:2rem;
            &:before {
              @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color));

              font-family: $fdsu-icon-font;
              border-radius: $base-border-radius;
              font-size: modular-scale(2);
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              padding: 0.3rem;
            }
            &:last-of-type{

            }
          }
          &:hover,
          &:focus{
            .ifdsu{
              @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color));

              background-color:$yellow-dark;
              color:#3F3F3F;
              &:before {

              }
            }
          }

        }
      }
    }
  }

  .uwm-social-tag{
    text-align:center;
    text-transform:uppercase;
    display:none;
    a{
      display:block;
      font-weight:600;
      display:block;
      font-family: $font-bg-condbold;
      color:$white;
      padding-top:  0.7rem;
      font-size:   1.25rem;
      &:hover,
      &:focus{
        color:$yellow-dark;
        text-decoration:none;
      }
    }
    @include media($medium-screen) {
      text-align:center;
      a{
        font-size:   1.25rem;
      }
    }
    @include media($large-screen) {
      a{
       padding-top:  0rem;

        font-size:   1.75rem;
      }
    }
  }

  .uwm-footer-login{
    width:100%;
    margin-bottom:1rem;
    //text-align:center;
    @include span-columns(12);

    @include media($large-screen) {
      @include span-columns(6);
      @include omega();
    }

  }

  .uwm-login{
    text-align:center;
    a {
     font-family: $font-bg-condbold;
     font-weight:bold;
     padding: 0.7rem;
     text-transform:uppercase;
     text-decoration:none!important;
     &:hover,
     &:focus{
       background:$topbar-bg-color;


     }
   }
 }
