.uwm-header{
  background:$topbar-bg;

  @include clearfix();

}
.uwm-header-wrapper{
  //margin-bottom:81px;
}
.uwm-header-bar-wrapper{
  width: 100%;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
  z-index:map-get($zindex, menu);
  background:$topbar-bg;
  -moz-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  min-height:3.4rem;
  position:relative;
  &.fixed-to-top
  {

    top: 0;
    position: fixed;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    .logged-in &{
      top: inherit;
      position:inherit;
    }
    .menu-open &{
      position:relative;
    }
  }
}

.uwm-header-bar{
  //@include outer-container(100%);
  position:relative;
  overflow:hidden;
  margin: 0 auto;
  border-bottom:1px solid #353535;

  @include media($large-screen) {
    min-height:4rem;
  }
  @include media($xlarge-screen) {
    overflow:visible;
  }
}

.uwm-logo-header {
  //background:green;
  text-align:center;
  margin-top:1rem;
  height: 2.688rem;

  &.hide-logo{
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    margin:0;
    height: 2.688rem;
  }
  @include span-columns(12);
  @include media($large-screen) {
    @include span-columns(2);
  }
  @include media($small-screen) {
    height: 2.5rem;
    &.hide-logo{
      display:none;
    }
  }
  @include media($large-screen) {
    margin-top: 0.65rem;
    padding-left:1.25rem;
    height: 2.688rem;
  }
  @include media($xlarge-screen) {
    text-align:left;
    right:0rem;
    -webkit-transition: 200ms ease right;
    -moz-transition: 200ms ease right;
    -ms-transition: 200ms ease right;
    -o-transition:200ms  ease right;
    transition:200ms  ease right;
  }
  a{
    // @include rem-fallback(margin-top, 1rem);
    margin-bottom:0rem;
    background-image:url(../images/uwaterloo-logo.svg);
    background-repeat:no-repeat;
    display:block;
    height:100%;
    width:100%;
    background-position:50% 50%;
    background-size:contain;
    &:hover{
      @include filter(saturate(50%));
    }
    @include media($xlarge-screen) {
      background-position:0 0;
    }
  }
}


.uwm-site-title{
  @include span-columns(12);
  font-family:$font-bg-condbold;
  @include sotuTextShadow();
  font-size: 1.35rem;
  @include media($xsmall-screen) {
    font-size: 1.5rem;
  }
  text-transform: uppercase;
  text-align:center;
  line-height:1.2;
  letter-spacing: 0.5px;
  padding:0.75rem 0.8rem;
  @include media($large-screen) {
    font-size:2.1rem;
    @include span-columns(8);
    right:0;
    margin:0;
  }
  @include media($xlarge-screen) {
    border-bottom:0px solid $gray;
    // text-align:center;
  }
  a {
    display:inline-block;
    text-decoration:none;
    -webkit-transition: 200ms ease color;
    -moz-transition: 200ms ease color;
    -ms-transition: 200ms ease color;
    -o-transition:200ms  ease color;
    transition:200ms  ease color;
    padding: 0rem;
    &:hover,
    &:focus{
      text-decoration: none;
      -webkit-transition: 200ms ease color;
      -moz-transition: 200ms ease color;
      -ms-transition: 200ms ease color;
      -o-transition:200ms  ease color;
      transition:200ms  ease color;
    }
  }
}
.navigation-button-wrap{
  padding: 0rem;
  //background:blue;
  @include span-columns(12);

  @include media($large-screen) {
    @include span-columns(2);
    @include omega();
  }
}

h1.uwm-site-title {
  padding: 0rem;
  padding-top: 0.250rem;
  // letter-spacing: -0.5px;
}





// NAVIGATION
.navigation-button-wrap{
  text-align:center;
  border-top:1px solid #353535;
  position:relative;
  height:3rem;
  @include media($small-screen) {
    //padding-top: 1rem;
  }
  @include media($large-screen) {
    position:absolute;
    top:0;
    right:0;
    border-top:1px solid transparent;
    width:5.250rem;
    height:4rem;
  }
}
[data-nav-visible="true"] {
  visibility:visible;
  opacity:1;
  height:auto;
}
[data-nav-visible="true"] #navigation {
  height:auto;
  visibility:visible;
  opacity:1;
  display:block;
  -webkit-transition: 300ms ease all;
  -moz-transition: 300ms ease all;
  -ms-transition: 300ms ease all;
  -o-transition: 300ms ease all;
  transition:300ms ease all;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
[data-nav-visible="false"] {
  visibility:visible;
  opacity:1;
}
[data-nav-visible="false"] #navigation {
  visibility: hidden;
  opacity:0;
  height:0;
  -webkit-transition: 300ms ease all;
  -moz-transition: 300ms ease all;
  -ms-transition: 300ms ease all;
  -o-transition: 300ms ease all;
  transition: 300ms ease all;
}
a[href="#navigation"]{
  text-decoration:none;
  text-transform:uppercase;
  outline-offset:0;
  @include sotuTextShadow();
}
a[href="#navigation"]:focus, a[href="#navigation"]:hover {
  outline: none;
  outline-offset:0;
  text-decoration:underline;
}
.navigation-button {
  font-size:0.8rem;
  padding:1.5rem 0rem 0rem 0rem;
  height: 3rem;
  display: block;
  cursor: pointer;
  position:relative;
  width:100%;
  font-family:$font-bg-book;
  z-index:map-get($zindex, menu);
  span{
    position: absolute;
    top: 25%;
    left:50%;
    margin-left: -0.5rem;
    display: block;
    @include sotuTextShadow();
    height: 0.1rem;
    width:1rem;

    font-size: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;

  }
  @include media($large-screen) {
    width:5.250rem;
    padding: 2rem 0rem 0rem 0rem;
    height: 4rem;
    span{
      top: 33%;
      height: 0.125rem;
      margin-left: -0.75rem;
      width: 1.5rem;
    }
  }
}
.navigation-button span:before,
.navigation-button span:after {
  @include sotuTextShadow();
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.navigation-button span:before {
  -webkit-transform: translateY(-300%);
  -moz-transform: translateY(-300%);
  transform: translateY(-300%);
}
.navigation-button span:after {
  -webkit-transform: translateY(300%);
  -moz-transform: translateY(300%);
  transform: translateY(300%);
}
.bt-menu-open .navigation-button span:before {
  -webkit-transform: translateY(0) rotate(45deg);
  -moz-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}
.bt-menu-open .navigation-button span:after {
  -webkit-transform: translateY(0) rotate(-45deg);
  -moz-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
}
#navigation{
  z-index:map-get($zindex, dropdown);
  position:relative;
}
.uwm-main-nav ul{
  list-style:none;
  padding:0;
  margin:0;
  background:$dropdown-bg-color;
  position:absolute;
  height:0;
  overflow:hidden;
  z-index:map-get($zindex, menu);
  .menu-open &{
    position:relative;
    height:auto;
    overflow:inherit;
  }
  li{
    text-align:center;
    border-bottom: 1px solid #353535;
    margin:0;
    &.active {
      border-top: 1px solid $yellow-dark;
      border-bottom: 1px solid $yellow-dark;
    }


    &:hover{


    }
    a{
      font-family:$font-bg-book;
      font-weight:400;
      text-transform:uppercase;
      display:block;
      padding: 0.5rem 0;
      text-decoration:none!important;
      @include media($xlarge-screen) {
        font-size:1.2rem;
        padding: 1rem 0;
      }
      color:$white!important;
      &:hover,
      &:focus{
        background:$topbar-bg-color;
        text-decoration:none;
        outline-offset: 0;
      }
    }
  }
}
.bt-menu-open .navigation-button span {
  background-color: transparent;
  @include sotuTextShadow();
}

//Color bar
.uw-site--cbar {
  display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  width: 100%;
  // position:absolute;
  // top:4rem;
  background:black;
  z-index: map-get($zindex, overlay);
  .uw-cbar {
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0;
    margin: 0;

    height:0.625rem;
    @include media($small-screen) {
      height:0.875rem;
    }
    @include media($large-screen) {
      height:1rem;
    }
    @include media($xlarge-screen) {
      height:1.125rem;
    }
  }
}
