body {
  &.page-blog,
  &.page-news,
  &.page-events,
  &.page-opportunities {}
}

.page-blog,
.page-news,
.page-events,
.page-opportunities {
  .home-listing-block-link {
    a {
      font-family: $condensed-font-family;
      font-weight: $weight-regular;
      display: inline-block;
      color: $black;

      // padding-bottom: 0.8rem;
      &:link {}

      &:visited {}

      &:hover {}

      &:focus {}
    }

    &-more {
      a {
        // margin: 0 0;
        &:link {}

        &:visited {}

        &:hover {}

        &:focus {}
      }
    }
  }
}
.blog-post-header {
  width: 100%;
  margin-bottom: 0.5rem;

  .node-type-uw-blog & {
    margin-bottom: 0.5rem;
    // padding: 0.75rem 0.5rem 0 0.5rem;

    .submitted {

      margin-bottom: 0.5rem;
      .blog-submitted {
        width: 64%;
        float: left;

      }
    }
  }
  .submitted {
    // width: 100%;
    .blog-submitted {
      width: 100%;
      float: left;
    }
  }
  .blog-date-time-author {
    float: left;
  }
  .blog-user-image {
    float: left;
    padding-right: 0.25rem;
    &:empty {
      padding-right: 0;
    }
  }
}
.view {
  &.view-events-responsive {
    .view-content {
      h3 {
        margin-top: 0rem;
      }

      .event-date {
        margin: 0.3rem 0;
      }
    }
  }

  .view-content {
   h3 {
      margin-top: 1.5rem;
      font-weight: normal;
      &.profile-name {
        margin-top: 0;
        @include media($medium-screen) {
          @include clearfix;
          margin-top: 1rem;
        }
      }
    }
    img[typeof="foaf:Image"] {
      float: left;
      padding-right:1rem;
      // width:100%;
   
    }

    .field-label {}

    .event-title {
      a {
        // text-decoration: none;
        //   font-size: 1.2rem;
        &:link {}

        &:visited {}

        &:hover {}

        &:focus {}
      }
    }
  }

  &.view-id-uw_ct_special_alert_block {
    .view-content {
      float: none;
    }
  }

  &.view-uw-blog-responsive,
  &.view-uw-news-item-pages-responsive {
    .view-content {
      @include media($large-screen) {
        display: flex;
        flex-wrap: wrap;
      }
      .views-row {
        clear: both;
        @extend %ct_box;
        min-height: inherit;
        &:first-child {
          width: 100%;
          margin-top: 0;
          margin-bottom: 1rem;
          min-height: inherit;
        }
        @include media($xsmall-screen) {
          width: 100%;
          margin-top: 0;
          margin-bottom: 1rem;
          min-height: inherit;
        }
        @include media($large-screen) {
          &:nth-child(2n){
            margin-right: 1rem;
          }
            &-even {
           margin-right: 1rem;
         }
          flex: 1 1 auto;
          flex-grow: 1;
          width: 48.6%;
        }
        &-even {
          &.views-row-last {
            margin-right: 0;
          }
        }
        &-odd {
          @include omega;
          }
        }
        img[typeof="foaf:Image"] {
          margin-bottom: 1rem;
        }
      }

      margin-bottom: 1rem;
    }
}

.node-uw-blog {
  div + h2 {
    margin-top: 0.25rem;

  }

  // @extend %ct_box;

  .field-name-field-tag {
    text-transform: uppercase;

    .field-label {
      display: none;
    }

    .field-items {
      .field-item {
        padding-left: 0rem;
        margin: 0 0.1rem 0.5rem 0;
        width: auto;
        float: left;

        &:after {
          content: ", ";
        }

        &:last-child {
          &:after {
            content: "";
          }
        }
      }
    }
  }

  .links {
    font-size: 0.70233rem;
  }
}

.node-type-uw-blog {
  .node-uw-blog {
    border-color: transparent;
    padding: 0rem;
  }
}

#block-uw-ct-blog-blog-public-feed {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
// comments

.comment-wrapper {
  form {
    &.comment-form {
      @extend %ct_box;
      min-height: inherit;
    }
  }
  .comment {
    @extend %ct_box;
    min-height: inherit;
    &.comment-by-anonymous {}
    .attribution {
      .submitted {
        p {
          padding: 0;
          margin: 0;

          &.commenter-name {
            padding: 0;
          }

          &.comment-time {
            padding: 0;
          }

          &.comment-permalink {
            padding: 0;

            a.permalink {}
          }
        }
      }
    }
    .comment-text {
      .content {
        p {
          color: $base-font-color;
          font-family: $base-font-family;
          font-size: modular-scale(-1);
        }
      }
    }
    .comment-arrow {}
  }
}

// taxonomy term page
.page-taxonomy-term  .uw-site-sidebar--wrapper #block-uw-ct-blog-blog-public-feed,
.page-taxonomy-term .uw-site-sidebar--wrapper .block-list .item-class{
         margin:0;
       }

span{
  .submitted & {

    text-transform: uppercase;
    @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity));
    display:block;
    
    @include media($medium-screen) {
    }
    clear: both;
    margin:0rem 0 1rem 0;
    padding:0.5rem 4rem 0.5rem 1rem;

    &.username {
      margin: 0;
      float:left;
    }

    &.uw-author {
      display: block;
       float:left;
      clear: both;
    }
  }
}       
