/* Vertical timelines */
.vertical-timeline {
  z-index:0;
  position:relative;
  list-style: none;
  margin: 0;
  /* 2 padding-top to allow pulling the line up above the first entry */
  padding: 2rem 0 0 0;
  p {
     margin-top:0.5rem;
  }

  a {
    text-decoration: none;
  }
  li {
    margin: 0;
    padding: 0;
  }
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    overflow:visible;
  }
  .timeline-year {
    z-index:1;
    position:relative;
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 0.25rem 0.5rem;
    text-align: center;

    /* Fix the width so the line always lines up. */

    @include media($large-screen) {

    }
  }
  .timeline-month {
    z-index:1;
    position:relative;
    display: inline-block;
    background: #666;
    color: #fff;
    padding: 0.25rem 0.5rem;
    text-transform: uppercase;
    text-align: center;
    /* Fix the width so the line always lines up. */
    width: 3rem;
  }

  .timeline-info {
    padding: 1rem 1rem 2rem 1rem;
    margin-bottom: 2rem;
    border: 1px solid #fff;
    box-shadow: 2px 2px 0 #f6f6f6;
    position: relative;
    a {
      display: block;
      /* Margin/padding tricks to make links cover the padding of the li */
      margin: -1rem -1rem -2rem -1rem;
      padding: 1rem 1rem 2rem 1rem;
      &:hover {
        background: #f6f6f6;
      }
      &:after {
        /* Modern clearfix from https://css-tricks.com/snippets/css/clear-fix/ */
        content: "";
        display: table;
        clear: both;
      }
    }
    &:before {
      /* Trick CSS to add the circle. */
      border: 1px solid #999;
      background: #f6f6f6;
      border-radius: 50%;
      height: 0.75rem;
      width: 0.75rem;
      content: '';
      display: inline-block;
      position: absolute;
      left: -0.5rem;
      @include media($medium-screen) {
        left: -1.45rem;
      }

      top: 0.25rem;
    }
    &:after {
      /* Modern clearfix from https://css-tricks.com/snippets/css/clear-fix/ */
      content: "";
      display: table;
      clear: both;
    }
  }
  .timeline-photo {
    float:right;
    border: 1px solid #ddd;
    margin:0 0 0.7rem 0.7rem;
  }
  &.vertical-year, &.vertical-month{
    overflow:visible;
  }
  &.vertical-year, &.vertical-month ol {
    width: calc(100% - 3rem);
    /* -2 margin-top + 2 padding-top to pull the line up above the first entry */
    margin-top: -2rem;
    padding-top: 2rem;
  }
  &.vertical-year ol, &.vertical-month ol ol {


    border-left: 1px solid #bdbdbd;
    /* -2 margin-top + 2 padding-top to pull the line up above the first entry */
    margin:-1rem 0 0 0;

    width:100%;
    @include media($medium-screen) {
      margin: -2rem 0 0 2rem;
      width: calc(100% - 5rem);
      padding: 2rem 1rem 0 1rem;
    }

  }

}
