.important-dates {

  &__dates {
    &--wrapper {
      padding-bottom: 0.5rem;
    }
  }

  &__date {

    .date-display-single,
    .date-display-range {
      background-color: $uw-black;
      color: $uw-gold;
      font-family: $font-1451-medium;
      display: inline-block;
      clear: both;
      padding: 0.5rem 4rem 0.5rem 1rem;
      text-transform: uppercase;
      margin: 0;
    }
  }

  &__term {
    background-color: $uw-gold;
    color: $uw-black;
    font-family: $font-1451-medium;
    display: inline-block;
    clear: both;
    padding: 0.5rem 4rem 0.5rem 1rem;
    text-transform: uppercase;
    margin: 0;
  }

  &__special-notes {
    font-family: $font-1451-medium;
    font-size: 0.8rem;

    &::before {
      content: "*";
    }
  }
}

body.org_default {
  .important-dates-tags {
    .important-dates-tag {
      display: inline-block;
      width: auto;
      min-height: 2rem;
      margin: 0;
      font-family: $font-1451-medium;
      text-transform: uppercase;
      font-size: 0.70233rem;
      background-color: $uw-black;
      padding: 0.5rem;
      color: $uw-white;
    }
  }
}

.view-uw-view-important-dates,
.view-uw-view-important-dates-calendar {
  .views-exposed-form {
    padding: .5rem;
    margin-bottom: .75rem;
    margin-top: .74rem;
    border: 1px solid #eee;
    min-height: inherit;
  }
}

.uw-calendar.view-uw-view-important-dates-calendar .view-filters .views-exposed-widgets .views-exposed-widget select {
  width: 90%;
}

.view.view-uw-view-important-dates-calendar,
.view.view-uw-view-important-dates {

  .view-filters {
    select {
      margin-bottom: 0;
      width: 90%;
    }
  }

  #edit-combine {
    padding-left: 0.5rem;
    max-width:90%!important;
  }

  .views-exposed-widgets {
    .views-exposed-widget {
      label.element-invisible {
        text-indent: 0;
        position: relative !important;
        overflow: auto;
        height: auto;
      }

      .form-item-combine {
        input {
          padding: 0 0 0 0.5rem;
        }
      }
    }
  }
}
.view.view-uw-view-important-dates-calendar{
  .views-exposed-widgets {
    display: grid;
    grid-gap: 1px;
    grid-row-gap: 0.4rem;
    color: #444;
    grid-auto-flow: row;
    grid-template-columns: 25% 25% 25% 25%;
    @include media($large-screen) {

      grid-template-columns: 16.5% 16.5% 16.5% 16.5% 16.5% 16.5%;
    }
    .views-exposed-widget {
      padding: 0;
      position: relative;
    }
    > .views-widget-filter-field_imp_dates_type_tid,
    > .views-widget-filter-types{
      grid-column:1/4;
      grid-row:1;

    }
    > .views-widget-filter-field_uw_imp_dates_audience_tid,
    > .views-widget-filter-audience{
      grid-column:1/4;
      grid-row:2;

    }
    > .views-widget-filter-combine{
      grid-column:1/4;
      grid-row:3;

    }
    @include media($large-screen) {
      > .views-widget-filter-field_imp_dates_type_tid,
      > .views-widget-filter-types{
        grid-column:1/3;
        grid-row:1;

      }
      > .views-widget-filter-field_uw_imp_dates_audience_tid,
      > .views-widget-filter-audience{
        grid-column:3/5;
        grid-row:1;

      }
      > .views-widget-filter-combine{
        grid-column:5/7;
        grid-row:1;

      }
    }
    .views-submit-button {
      margin-top: 0;
      grid-column:1/3;
      grid-row:4;
      input{
        max-width: inherit;
      }
      @include media($large-screen) {
        grid-column:1/4;
      }
    }
    .views-reset-button {
      grid-row:4;
      grid-column:3/5;
      margin-top: 0;
      input{
        max-width: inherit;
      }
      @include media($large-screen) {
        grid-column:4/7;
      }


    }
  }
}

.view.view-uw-view-important-dates {

  .views-exposed-widgets {
    display: grid;
    grid-gap: 1px;
    grid-row-gap: 0.4rem;
    color: #444;
    grid-auto-flow: row;
    justify-items: stretch;
    grid-template-columns: 25% 25% 25% 25%;
    @include media($large-screen) {

      grid-template-columns: 16.5% 16.5% 16.5% 16.5% 16.5% 16.5%;
    }
    .views-exposed-widget {
      //flex: 1 auto;
      padding: 0;
      position: relative;
    }
    > .views-exposed-widget:nth-child(1),
    > .views-exposed-widget:nth-child(4){
      grid-column:1/5;
    }

    > .views-exposed-widget:nth-child(2),
    > .views-exposed-widget:nth-child(5){
      grid-column:1/5;
    }
    > .views-exposed-widget:nth-child(3),
    > .views-exposed-widget:nth-child(6){
      grid-column:1/5;
    }
    @include media($small-screen) {
      > .views-exposed-widget:nth-child(1),
      > .views-exposed-widget:nth-child(3),
      > .views-exposed-widget:nth-child(5){
        grid-column:1/3;
      }

      > .views-exposed-widget:nth-child(2),
      > .views-exposed-widget:nth-child(4),
      > .views-exposed-widget:nth-child(6){
        grid-column:3/5;
      }

    }
    @include media($large-screen) {
      > .views-exposed-widget:nth-child(1),
      > .views-exposed-widget:nth-child(4){
        grid-column:1/3;
      }

      > .views-exposed-widget:nth-child(2),
      > .views-exposed-widget:nth-child(5){
        grid-column:3/5;
      }
      > .views-exposed-widget:nth-child(3),
      > .views-exposed-widget:nth-child(6){
        grid-column:5/7;
      }
    }
    .views-submit-button {
      padding: 0 0.5rem 0 0;
      margin-top: 0;
      grid-column:1/3;
      input{
        max-width: inherit;
      }
      @include media($large-screen) {
        grid-column:1/4;
      }
    }
    .views-reset-button {
      grid-column:3/5;
      margin-top: 0;
      input{
        max-width: inherit;
      }
      @include media($large-screen) {
        grid-column:4/7;
      }


    }
  }

  .view-content img[typeof="foaf:Image"] {
    float: right;
    padding-right: 0;
  }

  .date-display-start {
    margin-right: 0;
  }

  .date-display-end {
    margin-left: 0;
  }

  .views-field-title-1 {
    .important-dates-special-notes {
      &::before {
        font-size: 0.7rem;
        content: "*";
      }

      &:empty {
        display: none;
      }
      display: block;
      width: 100%;
      font-size: 0.7rem;

      a:empty {
        display:none;
      }
    }
  }

  table a {
    color: $uw-black;
  }

  table th a {
    text-decoration: none;
  }

  body.org_default & {

    a:hover {
      text-decoration: none;
    }

    .views-field-title {
      background-color: #eee;
    }

    .views-field-field-uw-imp-dates-date {
      .date-display-range {
        text-transform: lowercase;
      }

      .date-display-single,
      .date-display-start,
      .date-display-end {
        text-transform: capitalize;
      }
    }

    @include media($medium-screen) {
      .views-field-title-1 {
        width: 27%;
      }

      th.views-field-title-1.active,
      th.views-field-name-2.active,
      th.views-field-field-uw-imp-dates-date.active {
        background: #757575;

        a[href*="desc"] {
          &:before {
            border-top: 7px solid $uw-white;
            top:1.2rem;

          }
          &:after {
            display: none;

          }
        }

        a[href*="asc"] {
          &:before {
            display: none;
          }
          &:after {
            border-bottom: 7px solid $uw-white;
            top:0.6rem;
          }
        }

        a {
          color: $uw-white;
        }

        img[typeof="foaf:Image"] {
          display: none;
        }

      }

      th.views-field-title-1,
      th.views-field-name-2,
      th.views-field-field-uw-imp-dates-date {
        background-color: #eee;
        font-style: normal;
        position: relative;

        a {
          &:before {
            border-top: 7px solid $uw-black;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            right: 0.2rem;
            top: 1.2rem;
            content: "";
            position: absolute;
            width: 0;
            height: 0;
          }
        }

        a {
          &:after {
            margin-left:-7px;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 7px solid $uw-black;
            right: 0.2rem;
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            top:0.6rem;
          }
        }
      }

      .views-field-field-uw-imp-dates-description {
        width: 32%;
        font-style: normal;
      }

      .views-field-field-name-2 {
        width: 20%
      }

      .views-field-field-uw-imp-dates-date {
        width: 20%;
      }
    }
  }
}

.view-uw-view-important-dates-calendar {

  .view-content {
    .date-display-single {
      margin: 0;
    }

    .views-row:first-child {
      padding-top: 1rem;
    }

    .views-row {
      padding-bottom: 1rem;
    }

    .views-field-title {

      a {
        text-decoration: none;

        .important-dates-date {
          background-color: $uw-gold;
          color: $uw-black;
          padding-left: 1rem;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
        }
      }

      a:hover {
        .important-dates-date {
          background-color: #fffaaa;
        }
      }
    }

    .views-field-field-uw-imp-dates-date {
      .field-content {
        font-family: $font-1451-medium;
        background-color: $uw-black;
        color: $uw-gold;
        padding-left: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }
    }
  }

  .important-dates-show,
  .important-dates-hide {
    background-color: #757575;
    width: 100%;
    text-align: left;
    color: #fff;
    font-family: $font-1451-medium;
    font-size: .70233rem;
    font-weight: inherit;
    padding: 0.2rem 0 0.2rem 7px;

    &:hover {
      background-color: #eee;
      color: #4e4e4e;
      cursor: pointer;
    }
  }

  .important-dates-hide {
    display: none;
  }

  .important-dates-date {

    .important-dates-special-notes {
      float: left;

      &:empty {
        display: none;
      }

      position: relative;
      visibility: hidden;
      max-width: 10px;
      max-height: 10px;

      &:before {
        text-indent: 0;
        font-family: $font-georgia;
        content: "\002a";
        visibility: visible;
        display: block;
        float: left;
        font-size: 1rem;
      }
    }
  }

  .calendar-calendar {
    td .inner .calendar div a {
      border-radius: 5px;
    }
    .month-view {

      table {
        display: table;
        width: 100%;
      }

      td {
        color: $uw-black;

        .inner div.day a {
          color: $uw-black;
        }
      }

      td.empty {
        color: $uw-black;
      }

      td.date-box.today,
      .full tr td.multi-day.starts-today,
      .full tr td.single-day.today {
        border-color: #e4b429;
        border-left: 2px solid #e4b429;
      }

      .full {
        tr.single-day {
          overflow: visible;
          .monthview {
            background: none;
            padding: 0;
            overflow: visible;

            .views-field-title {
              a {
                display: block;
                background-color: $uw-gold;
                color: $uw-black;
                font-family: $font-1451-medium;
                font-size: 0.70233rem;
                padding: 0.2rem 0 0.2rem 0.3rem;
                font-weight:inherit;
              }

              a:hover {
                background-color: $uw-black;
                color: $uw-gold;
                text-decoration: none;
              }
            }
          }
        }

        tr.multi-day {
          td.single-day {
            a {
              display: block;
              color: $uw-black;
              font-family: $font-1451-medium;
              font-size: 0.70233rem;
              font-weight:inherit;
              padding: 0.2rem 0 0.2rem 0.3rem;
            }

            a:hover {
              color: $uw-white;
              text-decoration: none;
            }

            .monthview {
              background: $uw-gold;
              color: $uw-black;
            }

            .monthview:hover {
              background: $uw-black;

              color: $uw-white;

              a {
                color: $uw-white;
              }

            }
          }

          .inner {
            .monthview {
              background: $uw-black;
              color: $uw-white;

              .continues,
              .continuation,
              .cutoff {
                background: $uw-black;
                font-family: $font-1451-medium;
                text-transform: uppercase;
                font-size: 0.70233rem;
                padding: 0;
              }
            }

            .monthview:hover {
              background: #fffaaa;

              a {
                color: $uw-black;
              }

              .continues,
              .continuation,
              .cutoff {
                background: #fffaaa;
                color: $uw-black;
              }
            }

            a {
              display: block;
              color: $uw-white;
              font-family: $font-1451-medium;
              font-size: 0.70233rem;
              font-weight:inherit;
            }

            a:hover {
              color: $uw-black;
              text-decoration: none;
            }
          }

          .views-field-title {
            background-color: $uw-gold;
          }
        }
      }
    }
  }

  .calendar.monthview {
    .views-field-title {
      a {
        font-size: inherit;
      }
    }
  }
}

.view-uw-view-important-dates-calendar,
.view-uw-view-important-dates {
  body.org_default & {
    .view-header {
      min-height: 3rem;
      position: relative;
      display: block;
    }
  }
}

body.org_default {

  .important-dates-tabs {
    display: flex;
    width: 100%;
    padding-bottom: 1rem;
  }

  .important-dates-tab {
    flex: 1;

    a {
      background-color: #757575;
      border: none;
      cursor: pointer;
      font-family: $font-bg-cond-book;
      letter-spacing: .055rem;
      text-transform: uppercase;
      padding: 1rem 2rem;
      display: inline-block;
      user-select: none;
      vertical-align: middle;
      white-space: nowrap;
      width: 100%;
      margin: 0 auto;
      color: #fff;
      border-right: 1px solid #eee;
      text-decoration: none;
      text-align: center;
    }

    a:hover {
      color: #4e4e4e;
      background-color: #eee;
    }
    a:visited {
      text-decoration: none;
    }
  }

  .important-dates-tab.active {
    a {
      border-bottom: .4rem solid #4e4e4e;
    }
  }
}

.important-dates-calendar-message {
  font-family: $font-bg-book;
  font-weight: 400;
  text-align: center;
}
