// #site-navigation {
//   width: 0px;
// }

// #main {
//   width: 976px;
//   margin-top: 30px;
// }

// #content {
//   width: 720px;
//   margin-left: 0.5em;
// }

// #uw-story {
//   display: none;
// }

// h2 a, h2 a:visited {color: #923;}
// a:hover {color: #03f;}

// .node-uw-stories {
//   clear: both;
//   padding: 0 0 5px 0;
//   margin: 13px 0 0 0;
// }

// .node-teaser.node-uw-stories {
//   border: solid 2px #ddd;
//   padding: 10px;
//   margin-bottom: 20px;
// }

// .node-teaser.node-uw-stories .field-name-field-photo {
//   float: left;
//   margin: 0 20px 0 0;
//   min-width: 220px;
// }

// .node-teaser.node-uw-stories h4, .node-teaser.node-uw-stories h2, .node-teaser.node-uw-stories div.field-type-text-with-summary {
//   clear: none;
//   border: none;
// }

// .node-teaser.node-uw-stories h2 {
//   font-size: 1.3em;
//   color: #111;
//   margin-bottom: .8em;
//   padding-bottom: 1px;
// }

// .node-uw-stories .links {
//   clear: both;
// }

// .node-uw-stories .links ul, .node-uw-stories .links li  {
//   margin: 0;
//   padding: 0;
// }

// .node-teaser.node-uw-stories .links ul.links.inline, .node-teaser .addtoany_list {
//   display: none;
// }

// .node-uw-stories p.article-date {
//   font-weight: normal;
//   font-size: 0.8em;
//   color: #444;
//   margin-bottom: 0.5em;
// }

// .node-uw-stories h1 {
//   font-weight: bold;
//   margin-bottom: 0;
//   width: auto;
// }

// .node-uw-stories .field-name-field-subhead {
//   color: #111111;
//   font-size: 1.0em;
//   margin: 0.8em 0;
//   padding-bottom: 1px;
//   border-bottom: 2px solid #CCC;
// }

// .node-teaser.node-uw-stories .field-name-field-subhead {
//   color: inherit;
//   font-size: inherit;
//   margin: inherit;
//   padding: inherit;
//   border: inherit;
// }

// .node-uw-stories p.author {
//   font-weight: bold;
//   margin: 0;
//   color: #777;
//   margin-top: 0.8em;
// }

// .node-uw-stories p.author-position {
//   font-style: italic;
//   color: #777;
// }

// h1 {font-weight: bold;}
// .node-uw-stories h2 {font-size: 1.2em; color: #111; margin-bottom: .8em; border: none;}
// .node-uw-stories h3 {font-size: 1.1em; color: #222; margin-bottom: .9em;}
// .node-uw-stories h4 {font-size: 1.1em; color: #222; margin-bottom: .9em;}
// .node-uw-stories h5 {font-size: 1.1em; color: #333; margin-bottom: .9em;}

// .node-uw-stories .topics {
//   float: right;
//   width: 175px;
//   font-size: 0.85em;
//   margin-bottom: 20px;
// }

// .node-uw-stories .content_node {
//   float: left;
//   width: 500px;
// }

// .node-teaser.node-uw-stories .content_node {
//   float: inherit;
//   width: auto;
// }

// .node-uw-stories .topics h2 {
//   font-size: 1em;
//   padding-bottom: 5px;
//   margin: 0;
//   border-bottom: 1px solid #CCC;
// }

// .node-uw-stories .topics .field-items a {
//   display: block;
//   padding: 5px 0;
//   text-decoration: none;
//   border-bottom: 1px solid #ccc;
// }

// .node-uw-stories .other-links {
//   clear: both;
//   border-top: 2px solid #ccc;
//   padding-top: 10px;
//   margin: 20px 0;
// }

// .node-uw-stories .other-links .field-item {
//   margin-bottom: 1em;
// }

// .node-uw-stories .related-stories, .node-uw-stories .external-links {
//   float: left;
//   width: 45%;
//   margin-right: 5%;
//   font-size: 0.9em;
// }

// .node-uw-stories .related-stories h2, .node-uw-stories .external-links h2 {
//   margin-bottom: 0.5em;
// }

// span.addtoany_list {
//   display: block;
//   margin: 0 0 10px 0;
// }
// .node-sticky.node-teaser {
//   border: solid 2px #fecb00;
//   background: #f3f3f3;
//   padding: 10px;
// }

// .taxonomy-term-description {
//   font-size: .9em;
//   color: #333;
//   border-bottom: solid 2px #ccc;
// }

// .addtoany_list a {text-decoration: none;}
