.uwm-article-parallax-wrap{
  position:relative;
  min-height: 24rem;
  background-color:#fff;
  @include media($xsmall-screen){
    background-size:cover;
    min-height: 29rem;
  }
  @include media($small-screen){
    height: 32rem;
  }
  @include media($medium-screen){
    height: 35rem;
  }
  @include media($xlarge-screen){
    min-height: 44rem;
  }
  @include media($xxlarge-screen){
    height: 46.5rem;
  }
}
.uwm-article-cover-parallax {
  z-index:map-get($zindex, wrapper);
  position:relative;
  background-size:110%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color:#fff;
  background-position:center top;
  min-height: 24rem;
  visibility:hidden;
  opacity:0;
  &.P-ON {
    background-color:#fff;
    visibility:visible;
    opacity:1;
  }
  @include media($xsmall-screen){
    background-size:cover;
    min-height: 30rem;
  }
  @include media($small-screen){

    height: 35rem;
  }
  @include media($medium-screen){
    height: 35rem;

  }
  @include media($large-screen){
    background-size:contain;
  }
  @include media($xlarge-screen){
    min-height: 44rem;
    background-size:cover;
  }
  @include media($xxlarge-screen){
    height: 46.5rem;
  }

}
.no-parallax-bg .uwm-article-cover-parallax {
  background-size:110%;
  background-attachment: scroll;
  background-position:center top;
  @include media($xsmall-screen){
    background-size:contain;
    min-height: 30rem;
  }
  @include media($small-screen){
    background-size:contain;

  }
  @include media($medium-screen) {
    background-size:cover;
    background-attachment:inherit;
    background-position:center top;
  }



}
.no-parallax-bg .uwm-article-cover-parallax {
  opacity:1;
  visibility:visible;

}
.uwm-parallax-intro{
  position:relative;
  height:24.250rem;
  @include media($large-screen){
    height: 40rem;
  }
  @include media($xxlarge-screen){
    height: 42.750rem;
  }
}
.uwm-parallax-heading{
  @include  center-align-middle();
  z-index:map-get($zindex, menu);
  background-repeat: no-repeat;
  background-position: 97% 50%;
  top:55%;
  background-size: 40%;
  min-height:8rem;

  @include media($medium-screen){

    min-height:8rem;
    background-size: 25%;
  }
  @include media($large-screen){
    top:50%;
    min-height:15rem;
  }
}
.uwm-parallax-sub-heading {
  min-height:1.5rem;
  text-align:center;
  bottom:3.5rem;
}
.white-bg{
  background:$white;
}
.uwm-article{
  padding: 0.5rem 1rem 2rem 1rem;
  @include media($small-screen){
    padding: 1.5rem 2.5rem;

  }
  .field-collection-container{
    border:none;
  }

}
.uwm-article-content{
  min-height:40rem;
}
.uwm-article-body {
  hr {
    clear: both;
    border: solid #eee;
    border-width: 1px 0 0;
  }
  overflow:hidden;
  a{
    text-decoration:underline;
    &:hover{
      text-decoration:none;
    }
  }
  min-height:40rem;
  h2,h3,h4,h5,h6{
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
    &.text-center{
      padding-bottom:  1rem;
      padding-bottom:  1rem;
      border-bottom:1px solid $gray;
      clear:both;
      &.uwm-article-quad-heading{
        border-bottom:0px solid $gray;
        margin-top: 2rem;
        margin-bottom:0rem;
      }
      &.uwm-article-quad-footer{
        border-top:1px solid $gray;
        border-bottom:1px solid $white;
        margin-top: 0rem;
        margin-bottom:2rem;
      }
    }
  }

  ul{
    padding-left: 1.5rem;
    li{
      margin: 0.7rem 0.5rem;
      padding-left: 0.75rem;
      &.highlighted-fact {
        margin:2rem 0.5rem;
      }
    }
  }
  ol{
    //padding-left: 0.75rem;
    li{
      margin: 0.7rem 0rem;
    }
  }
  ul.circle {
    list-style-type: circle;
  }
  ul.disc {
    list-style-type: disc;
  }
  ul.square {
    list-style-type: square;
  }
  ol.lower-roman {
    list-style-type: lower-roman;
  }
  ol.upper-roman {
    list-style-type: upper-roman;
  }
  ol.lower-alpha {
    list-style-type: lower-alpha;
  }
  ol.upper-alpha {
    list-style-type: upper-alpha;
  }
  ol.decimal {
    list-style-type: decimal;
  }
  ul li > ul,
  ul li > ol,
  ol li > ol,
  ol li > ul {
    margin: 0.7rem 0rem;
    padding-left: 0.75rem;
  }
  ol li > ol {
    list-style-type: lower-alpha;
  }
  ol li > ol li > ol {
    list-style-type: lower-roman;
  }
  ul li > ul {
    list-style-type: circle;
  }
  ul li > ul li > ul {
    list-style-type: disc;
  }
  .col-50,
  .col-33,
  .col-66,
  .threecol-33 {
    float: left;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;

  }
  .col-50.first,
  .col-33.first,
  .col-66.first,
  .threecol-33 {
    @include media($medium-screen){
      margin-right: 2%;
    }
  }
  .threecol-33.last {
    margin-right: 0;
  }
  .col-50 {
    width:100%;
    @include media($medium-screen){
      width: 49%;
    }

  }
  .col-33 {
    width:100%;
    @include media($medium-screen){
      width: 33%;
    }

  }
  .col-66 {
    width:100%;
    @include media($medium-screen){
      width: 65%;
    }

  }
  .threecol-33 {
    width:100%;
    @include media($medium-screen){
      width: 32%;
    }

  }
  .half-column {
    width:100%;
    float: left;

    @include media($medium-screen){
      width: 48%;
      &.first{  margin-right: 2%;}
    }

  }

}
.uwm-article-sidebar {
  display:none;
  &.showme{
    display:block
  }

}
.uwm-promo-items{
  list-style-type: none;
  opacity:0;
  -webkit-transition: opacity 0.3s  ease;
  -moz-transition: opacity 0.3 ease;
  -o-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;

  .no-sidebar &{
    opacity:0;
    -webkit-transition: opacity 0.3s  ease;
    -moz-transition: opacity 0.3 ease;
    -o-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;

  }
  .show-sidebar &{
    opacity:1;
    -webkit-transition: opacity 0.4s ease 1s;
    -moz-transition: opacity 0.4s ease 1s;
    -o-transition: opacity 0.4s  ease 1s;
    -ms-transition: opacity 0.4s  ease 1s;
    transition: opacity 0.4s  ease 1s;
  }
}
.uwm-article-meta{
  padding-left: 1rem;

  @include media($medium-screen) {
    padding-left: 4.5rem;
  }
}
.uwm-article-meta-item{
  text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 2px;
  span{
    color:$white;
    font-family:$font-bg-condbold;
    font-weight:600;
    text-transform:uppercase;
    a{color:$white;
      text-decoration:underline;
      &:hover{
        text-decoration:none;
      }
    }
    &.uwm-article-meta-issue{}
    &.uwm-article-meta-type{}
    &.uwm-article-meta-themes{}
  }
}
.uwm-header-meta{
  min-height: 3rem;
  line-height: 3rem;
  margin-top:  1.25rem;
  margin-bottom:   1.1875rem;
  border-top:1px solid $light-gray;
  border-bottom:1px solid $light-gray;
  a{
    color:$gray;
  }
  font-size: 0.85rem;

  @include media($medium-screen){
    font-size: 1rem;
  }
  &.sotu-share {
    border-top:0px solid $light-gray;
    border-bottom:0px solid $light-gray;
    clear:both;
  }
  &.sotu-meta{
    text-transform:uppercase;
    font-weight:600;
    border-top:0px solid $light-gray;
    border-bottom:0px solid $light-gray;
    min-height:auto;
    line-height:1.25;
    margin-top:  1.25rem;
    margin-bottom:   1.1875rem;
  }
}
.uwm-article-author{
  line-height: 1.25;
  padding-bottom: 1.1875rem;
  @include media($large-screen){
    line-height: 3rem;
    padding-bottom: 0rem;
  }
}
.uwm-social-share{
  height: 3rem;
  line-height: 3rem;
  margin-top:  1.25rem;
  margin-bottom:   1.1875rem;
  border-top:1px solid $light-gray;
  border-bottom:1px solid $light-gray;
  clear:both;
  .sotu-top-social &{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    @include media($large-screen){
      margin-top: 0rem;
      margin-bottom: 1rem;
    }

  }
  .uwm-header-meta &{
    clear:none;
    float:right;
    border-top:0px solid $light-gray;
    border-bottom:0px solid $light-gray;
    margin-top: 0;
    margin-bottom: 0;

  }
}
.uwm-social-share-on{
  float:left;
  color:$gray;
  font-family:$font-bg-cond-book;
  font-weight:300;
  text-transform:uppercase;
  clear:both;
}
.uwm-social-share-btns{
  height: 2.5rem;
  position:relative;
  .item-list{
    clear:inherit;
    margin:inherit;
  }
  ul{
    list-style: none;
    padding:0;
    margin:0;
    float:right;
    &.share-buttons{
      li{
        display:inline-block;
        width:4rem;
        padding:0;
        margin:0;
        &:last-child{
          width:auto;
        }
        img{
         display:none;
        }
        &:nth-child(1) {
          a {
            &:before {
              content: $fdsu-facebook;
            }
          }
        }

        &:nth-child(2) {
          a {
            &:before {
              content: $fdsu-twitter;
            }
          }
        }

        &:nth-child(3) {
          a {
            &:before {
              content: $fdsu-linkedin;
            }
          }
        }
      }
    }
  }
  a{
    display:inline-block;
    line-height:3rem;
    text-decoration:none;
    &:before {
      font-family: $fdsu-icon-font;
      border-radius: $base-border-radius;
      color: $white;
      font-size: modular-scale(0.5);
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      padding: 0.3rem;
      @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color));
    }

    &:hover {
      &:before {
        color:$gray;

        @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color));
      }
    }
  }
}
.uwm-article-author{
  font-family: $base-font-family;
  font-weight:300;
  color: $black;
  font-size: 1rem;
}
.slide-toggle{
  overflow: hidden;
  -webkit-transition:  height ease 0.3s,visibility 0.3s ease ;
  -moz-transition:   height ease 0.3s,visibility 0.3s ease ;
  -ms-transition:  height ease 0.3s,visibility 0.3s ease ;
  -o-transition:  height ease 0.3s,visibility 0.3s ease ;
  transition: height ease 0.3s,visibility 0.3s ease ;

  [data-slide-toggle]{
    visibility:visible;
  }

  &.ng-show{
    height:0;
    [data-slide-toggle]{
      visibility:hidden;
    }
  }
}
.uwm-caption-row {
  background-color:$middle-gray;

  .uwm-home-page &{
    background-color: $black;
    p{color:$light-gray;}
  }

}
.uwm-article-caption {
  span{
    display:block;
    font-weight:700;
  }
}





// publication article body
.draft > * > * {
  background-color: pink;
}
.uwm-article-wrap-wide .uw-section--inner
{

    padding-left:0;
    padding-right:0;
  @include span-columns(12 of 12);


  @include media($medium-screen) {
    @include span-columns(11 of 12);
    @include shift(0.5);
  }


}


.uwm-transition-bar {
  border-top-style: solid;
  border-top-color: $white;
  border-top-width:1rem;
  @include media($large-screen) {
    border-top-width: 1.25rem;
  }
}

.uwm-article-wrap{
  background-color:$white;
  @include clearfix();
  z-index:map-get($zindex, content);
  position:relative;
  margin-top: -11.250rem;

  @include outer-container();
  @include media($large-screen) {
   margin-top: -11.250rem;
  }
}
.uwm-article-wrap-wide{
  .uw-site--inner{
    padding:0 1rem;
  }
  position:relative;
  z-index:map-get($zindex, content);
  margin-top: -11.250rem;

  @include outer-container();
  @include media($large-screen) {
    margin-top: -11.250rem;
  }
}
.white-bg{
  background:$white;
}
.uwm-article,
.promo-items{
  background:$white;
  overflow:hidden;

  @include media($large-screen) {
    padding-top: 1.5rem;
  }
}
.promo-items{
  @include media($small-screen) {
    [class*="block-grid-"] > li {
     padding:  0 1.25rem 0 1.25rem;
    }
  }
  @include media($small-screen) {
    [class*="block-grid-"] > li {
      padding:1.25rem;
    }
  }
}
.uwm-article {
  @include span-columns(12 of 12);


  @include media($medium-screen) {
    @include span-columns(11 of 12);
    @include shift(0.5);
  }
}

.uwm-article-meta{
  height: 2.813rem;
  line-height: 2.813rem;
  color:$black;
  font-family:$font-1451-medium;
  font-weight:400;
  text-transform:uppercase;
  background:$yellow-dark;
  a{
    color:$black!important;
    text-decoration:none;
    &:hover,
    &:focus{
      text-decoration:underline;
    }
  }

}
.uwm-article-wrap-wide .uwm-article-meta{
  height: 2.813rem;
  line-height: 2.813rem;
  color:$black;
  font-family:$font-1451-medium;
  font-weight:400;
  text-transform:uppercase;
  background:$yellow-dark;
  @include media($medium-screen){
    //margin-left: 4.156% !important;
  }

}
