.uwm-testimonials-wrap,
.uwm-testimonials-wrap-nobg{

  margin-top:1.5rem;
  + .uwm-testimonials-wrap-nobg{
    margin-top:0;
  }
  + .uwm-testimonials-wrap{
    margin-top:0;
  }
}
.uwm-testimonials-wrap-nobg, .uwm-testimonials-wrap {
  .uwm-testimonials {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    position: relative;
    background-color: $light-gray;
    color: $uw-black;
    min-height: 15rem;
    @include media($small-screen) {
      min-height: 20rem;
    }
  }
}

.uwm-testimonials-wrap .uwm-testimonials{
  @include sotuTextShadow();
  th{
    text-shadow:none;
  }
  blockquote{
    color:$white!important;
    p{
      color:$white!important;
      &::before,
      &::after{
        color:$white!important;
      }
    }
  }

  @include media($large-screen) {
    &.article-inline-testimomies{

    }
    min-height: 35rem;
  }
  .uwm-testimonials-wrap-inline &{
    min-height:inherit;

  }
  @include media($xlarge-screen) {
    min-height: 45rem;

  }
}

.uwm-testimonials-wrap-nobg .uwm-testimonials {
  text-shadow:none;
  blockquote {
    color: $uw-black !important;
    background-color: $light-gray;
    p {
      color: $uw-black !important;

      &::before,
      &::after {
        color: $uw-black !important;
      }
    }
  }
}

.uwm-testimonials-content{

   padding:3rem 1rem;
   min-height:6rem;
  a{
    color:#dadada!important;
    .uwm-testimonials-wrap-nobg &{
      color:#000!important;
    }
  }
   @include outer-container();

  .uwm-testimonial-padding{
    padding-top: 1.5rem;
    @include media($large-screen) {
      padding-top: 6rem;
      padding-bottom: 6rem;

    }
  }

}
