// related articles

.uwm-related-articles-wrap{
  @include outer-container();

}
.uwm-related-articles-header{
  border-left: 3px solid $yellow-dark;
  background: $light-gray;
  padding: 0 1.250rem;
  height: 3rem;
  line-height: 3rem;
  margin-top :1rem;
  margin-bottom: 2rem;

  h2{
    font-family:$font-bg-condbold;
    font-weight:300;
    text-transform:uppercase;
    margin:0;
    font-size: 1.5rem;
    line-height: 3rem;
  }
}
.uwm-article-wide .uwm-related-articles-header{
  border-left: 3px solid $yellow-dark;
  background: $light-gray;
  padding :0 1.250rem;
 height:3rem;
 line-height: 3rem;
 margin-top: 1rem;
 margin-bottom :2rem;

  h2{
    font-family:$font-bg-condbold;
    font-weight:300;
    text-transform:uppercase;
    margin:0;
    @include media($large-screen){
      margin: 0 0 0 -2.1rem;

    }
   font-size: 1.5rem;
    line-height: 3rem;
  }
}

ul.uwm-related-list{
  list-style:none;
  display:grid;

  grid-template-columns:100%;
  padding:0 0.8rem;
  @include media($xsmall-screen) {
    grid-column-gap:4%;
    grid-template-columns:48% 48%;
  }
  @include media($medium-screen) {
    grid-template-columns:31% 31% 31%;
  }
  @include media($large-screen) {
    padding:0rem;
  }
  margin:0;
}
.uwm-related-img{
  height:100%;
  figure{
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
    -webkit-box-shadow:rgba(0, 0, 0, 0.5) 1px 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
  }
  img{
    width:100%;
  }
}
.uwm-related-sub{
  font-size: 0.8rem;
  line-height: 1rem;

}
.uwm-related-articles figure{
  margin: 0;
  p{margin: 0;

    .button {
      color: $white;
      background: none;
      padding-left: 2rem;
      font-size: 1.2rem;
       padding-right: 1rem;
      text-transform:uppercase;
    }

    .button:hover,
    .button:focus,  {
      color: $white;
      text-decoration:none;
    }
  }
}

.uwm-related-articles-wrap{
  @include outer-container();
}
.uwm-related-item{
    list-style: none;
   a{
    display:block;
    float:left;
    //@include borderEffect(1px, $white, $white, $white, 0px);
    &:hover,
    &:focus{
      *{
        text-decoration:underline;

      }
      .button{
        text-decoration:none;
      }
      //@include borderEffect(1px, $gray, $light-gray,$white, 0px);
    }
    @include media($medium-screen){
      min-height:24rem;
    }
    @include media($large-screen){
     min-height:23.125rem;
    }
  }
}
.uwm-related-img{
  height:100%;
  float:left;
  figure{
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
    -webkit-box-shadow:rgba(0, 0, 0, 0.5) 1px 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
  }
  img{
    padding:0;
    width:100%;
  }
}
.uwm-related-info{
  margin: 0 0 1rem 0;
  padding:0;
  @include media($medium-screen) {
    margin: 0.5rem 0 1rem 0;
    padding: 0rem 0.5rem;
  }
  float:left;
}

p.uwm-related-sub{
  display:block;
  font-family:$font-bg-cond-book;
  text-transform:uppercase;
  margin:0.5rem 0  0.5rem 0;
  font-size: 1rem;
  letter-spacing:inherit;
  line-height:1.2;
  padding: 0;
}
