.uwm-nested-insert{
    display:block;
    margin: 2.625rem auto ;
    cursor:pointer;
    border:2px solid $yellow-dark;
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.200s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.200s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.200s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.200s;
    width:100%;
    @include media($small-screen) {
      width: 66.66667%;
    }
    padding:0 1rem;
    &:hover{
      background:#fafafa;
      border:2px solid $gray;
      text-decoration:none;
      .uwm-nested-insert-info{
        .button  {
          background: $black;
          color: $white;
          text-decoration:none;
        }
      }


    }
  }
  .uwm-nested-insert-wrap{

    clear:both;
  }

  .uwm-nested-insert-info{
     padding:  1rem;
     position:relative;
     .button {
       color: $black;
       background-color:transparent;
       text-transform:uppercase;
       -webkit-font-smoothing: antialiased;
       border-radius: none;
       border: none;
       cursor: pointer;
       letter-spacing:inherit;
       display: inline-block;
       text-decoration: none;
       user-select: none;
       vertical-align: middle;
       white-space: nowrap;
       width:inherit;
       max-width:inherit;
       margin: 0 auto;
       color:inherit;
      }
      .button:hover,
      .button:focus  {
          background: $black;
          color: $white;
          text-decoration:none;
      }

  }
  .reveal-nested,
  .uwm-nested-insert-info{
    a.button {

      color: $black;
      padding-left: 3.5rem;
      padding-right: 3.5rem;
      text-transform:uppercase;
      text-decoration:none;
      max-width:10rem;
      margin-bottom:1rem;
    }
    button:hover,
    button:focus,
    a.button:hover,
    a.button:focus,  {
      background-color: $black;
      color: $white;
      text-decoration:none;
    }
  }
  .uwm-top-white,
  .uwm-bottom-white{
    background:$white;
    width:90%;
    position:absolute;
    height:3px;
    @include media($large-screen)  {
      width:95%;
    }
  }
  .uwm-top-white{
    top:-3px;
  }
  .uwm-bottom-white{
    bottom:-3px;
  }
  .uwm-nested-insert-meta{
      font-family:$font-1451-regular;
      font-weight:600;
      text-transform:uppercase;
      text-decoration:none;
      padding: 0 0 0.5rem 0;
      color:$gray;
  }
  .uwm-nested-insert-headline{
      margin:1rem 0;
      font-family:$font-bg-cond-book;
      margin:0;
      color:$black;
      text-transform:uppercase;
      text-decoration:none;
      font-size: 1.500rem;
      line-height:1;
      margin:  0 0 1.250rem 0;


    }
    .uwm-nested-insert-wrap {clear:both;}






  .reveal-nested {
    padding:  5rem 1rem 3.125rem 1rem;
    @include media($medium-screen) {
      padding:  5rem 3.125rem 3.125rem 3.125rem;
      width:650px;
      right: 0!important;
      left:inherit!important;
      border-top:4px solid $black;
    }
    .close-nestedArticle{
      right:30%;
      font-size:1.85rem;

      @include media($large-screen) {
      right:70%;
      }
    }

  }
  .uwm-nested-article-meta{
    font-family:$font-bg;
      font-weight:600;
      text-transform:uppercase;
      margin:  0 0 0.5rem 0;
      padding:  0 0 0.5rem 0;
      color:$gray;
      text-decoration:none;

  }
 .uwm-nested-article-headline {
     font-family: $condensed-Book-font-family;
      font-weight:300;
      margin:0;
      color:$black;
      text-transform:uppercase;
      text-decoration:none;
      font-size: 2.25rem;
      line-height:1.2;
      margin:0 0 1rem 0;
  }
  .uwm-nested-article-body{


    padding:0 0 2rem 0;
    p{
      font-family:$font-bg;
      font-size: 1rem;

      &.highlight{
        color:$gray;
      }

    }
    blockquote  p{
      font-family:inherit;
      font-size:inherit;
    }
    ul,li,a{
      font-family:$font-bg;
    }
  }



.reveal-modal-bg {
  background: rgba(0, 0, 0, 0.45);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  left: 0; }

/* line 171, ../scss/foundation/components/_reveal.scss */
.reveal-nested {
  border-radius: 3px;
  display:block;
  position: absolute;
  top: 0;
  visibility: hidden;
  width:100%;
  max-width: 650px;
  z-index: 11;
  left: 0;
  background: #eeeeee;
  padding: 3.125rem;
  border: solid 1px #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); }
