.uwm-pub-article-page{

  blockquote p .highlighted-fact-text-small{
    background-color:transparent;
    color:$gray;
  }
}

.publication{

  .uwm-article-wrap{

    @include media($large-screen) {
      margin-top: 0rem;
    }
  }
  .uwm-transition-bar {
    border-top-style: solid;
    border-top-color: #EEEEEE;
    border-top-width: 1rem;
    @include media($large-screen) {
      border-top-width: 1rem ;
    }
  }
  .uwm-article,
  .uw-promo-items{
    background:$white;
    overflow:hidden;

    @include media($large-screen) {
      padding-top: 1.5rem;
    }
  }
  .uwm-article-meta {
    font-size: 1rem;
    color: $gray;
    font-family: $font-bg-condbold;
    text-transform: uppercase;
    background: none;
    text-align: center;
    padding-left: 0rem;

    @include media($medium-screen) {
      padding-left: 0rem;
    }
  }
  .uwm-article-author{

    padding-bottom:1.1875rem;
    @include media($large-screen) {
      padding-bottom:0;
    }
  }
  .uwm-social-share-on{
    float:left;
    color:$black;
    font-family:$font-1451-medium;
    font-weight:300;
    text-transform:uppercase;
    clear:both;
  }
}
