.uwm-sub-articles-nav{
  overflow:hidden;
}
.uwm-sub-articles-nav{
  height:100%;
  position:relative;
  margin-bottom:  2rem;

  clear:both;
  @include media($large-screen){
    height:12rem;
  }
  &-bottom{
    margin-bottom:0rem;
  }
}
.uwm-sub-teaser{
  color:white;
}
.uwm-sub-articles{
  position:relative;
  &.columns{
    padding:0;
  }
  [class*="block-grid-"]{
    margin:0 auto;
  }
  @include media($medium-screen){
    padding:0;
    [class*="block-grid-"]{
      margin:  0;
    }
  }

  @include media($large-screen) {
    .large-block-grid-2 > li {
      width: 50%;
    }
    .large-block-grid-3 > li {
      width: 33.33333%;
    }
    .large-block-grid-4 > li {
      width: 25%;
    }
    .large-block-grid-5 > li {
      width: 20%;
    }
    .large-block-grid-6 > li {
      width: 16.66667%;
    }
    .large-block-grid-7 > li {
      width: 14.28571%;
    }
  }
}
ul.uwm-sub-list{
  list-style:none;
  margin:0;
  padding:0;
  @include media($large-screen){
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    margin:0;
    padding:0;

  }
  li.uwm-sub-item{

    height:auto;
    padding-top: 0.125rem;
    padding-bottom:0.125rem;
    border-bottom:1px solid #f2f2f2;
    border-right:0px solid $white;
    &:last-child{
      border-right:0px solid $white;

    }
    @include media($large-screen){
      border-bottom:1px solid $white;
      border-right:1px solid #f2f2f2;
      padding:0rem;
      &:last-child{
        border-right:0px solid $light-gray;
      }
    }

    a{
      font-family: $condensed-font-family;
      &:link,
      &:visited
      {
        float:left;
        width:100%;
        text-decoration: none;
        @include subNav(3px, $white,100%,1rem,1rem,$white);

        @include media($large-screen){
          float:none;
          @include subNav(3px, $white,$sub-menu-height,1.5rem,1rem,$white);
        }
      }
      &:focus,
      &:hover{
        text-decoration:underline;
        @include subNav(3px, $gray,100% ,1rem,1rem,$light-gray);
        @include media($medium-screen){
          float:left;
        }
        @include media($large-screen){
          float:none;
          @include subNav(3px, $gray,$sub-menu-height,1.5rem,1rem,$light-gray);
        }
      }
    }
    &.active{
      a{
        @include subNav(3px, $gray,100% ,1rem,1rem,$lighter-gray);
        @include media($medium-screen){
          float:left;
        }
        @include media($large-screen){
          float:none;
          @include subNav(3px, $gray,$sub-menu-height,1.5rem,1rem,$lighter-gray);
        }
      }
    }
  }
  .uwm-sub-icon{
    background-repeat:no-repeat;
    background-position: 50% 50%;
    width: 25%;
    height:3rem;
    padding-bottom: 1rem;
    margin-right: 1%;
    background-size:contain;
    float:left;



    @include media($medium-screen){
      width: 20%;

    }
    @include media($large-screen){
      height: 4rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      width:100%;
      margin-right:0;
      float:none;
      background-position:50% 50%;


    }
  }
  .uwm-sub-text{
    //see _global.scss
    text-transform: uppercase;
    font-size: 1.125rem;
    line-height: 1.2;
    width: 100%;
    display:block;
    padding: 0.5rem 0.125rem 0.5rem 0.125rem ;
    text-align:left;
    @include media($medium-screen){

    }
    @include media($large-screen){
      padding: 0.5rem 0.2rem 0.5rem 0.2rem;
      width: 100%;
      float:none;
      text-align:center;
    }
  }

}
