// publication category
.uwm-publication-category-wrap{
  overflow:hidden;

}
.uwm-pub-cat-img-link{
  @include span-columns(12 of 12);
  @include media($large-screen){
    @include span-columns(4 of 12);
  }
}
.uwm-pub-cat-info{
  @include span-columns(12 of 12);
  @include media($large-screen){
    @include span-columns(8 of 12);
    @include omega();
  }
}
.uwm-pub-cat{

  ul {
    display:block;
    list-style:none;
    display:grid;
    grid-template-columns:100%;
    @include media($xsmall-screen) {
      grid-template-columns:48% 48%;
    }
    @include media($large-screen) {
      grid-template-columns:100%;
    }

    grid-column-gap:4%;
    margin:0;
    padding: 0;
    > li {
      float:left;
    }
  }
}
.uwm-pub-cat-img{
  display:block;
  height:auto;
  position:relative;
  width:100%;
  overflow:hidden;
  .uwm-archives-page &{
    margin-bottom: 1rem;

  }
  @include media($large-screen) {
    display:block;
    max-height: 18.750rem;
    .uwm-archives-page &{
      height:auto;

    }
  }
  &::after{
    content:"";
    position:absolute;
    background-size:contain;
    display:block;
    height:100%;
    opacity:0.5;
    width:100%;
  }

}
.uwm-pub-cat-listing {
  margin-bottom: 5rem;

  padding: 1.5rem;
  .page-taxonomy-term &{
    padding: 0.5rem;
  }
  hr{
    border: solid #eeeeee;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
    margin: 1.25rem 0rem 1.1875rem 0rem;
  }
  .button {
    background-color:transparent;
    text-transform:uppercase;
    -webkit-font-smoothing: antialiased;
    border-radius: none;
    border: none;
    cursor: pointer;
    letter-spacing:inherit;
    display: inline-block;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width:inherit;
    max-width:inherit;
    margin: 0 auto;
    color:inherit;
  }
  a {
    display: inline-block;
    &.uwm-pub-cat-listing-alias {
      display: block;
      @include borderEffect(1px, $white, $white, $white, 0px);
      &:hover, &:focus {
        text-decoration: none;
        @include borderEffect(1px, $gray, $light-gray, $white, 0px);
      }
    }
  }
}
.uwm-pub-cat-info{
  padding:0rem;
  @include media($large-screen) {
    padding: 0rem 2rem;
  }
}
.uwm-pub-cat-headline{
  line-height: 1;
  font-family:$font-bg-condbold;
  margin:0;
  text-transform:inherit;
  font-size: 1.875rem;

  @include media($medium-screen){
    font-size: 2.25rem;
  }
  padding: 0 0 0.5rem 0;
  a{
    text-decoration:none;
    &:hover,
    &:focus{
      text-decoration:underline;

    }
  }
}
.uwm-pub-cat-subheadline{
  font-family:$font-bg-cond-book;
  margin:0;
  color:$black;
  font-size: 1.5rem;
  line-height:1;
  padding: 0 0 0.5rem 0;
}
.uwm-pub-cat-exerpt{
  margin:0;
  line-height:1.5rem;
  font-weight:300;
}
.uwm-pub-cat-meta{

  @include media($medium-screen){
    margin-top: 1rem;
  }
}
.uwm-pub-cat-issue,
.uwm-pub-cat-name,
.uwm-pub-cat-theme,
.uwm-pub-cat-type{
  font-family: $font-bg-cond-book;
  color:$gray;
  display:block;
  text-transform:uppercase;
  line-height:1.2;
  margin: 0.6rem  0.6rem 0.6rem 0rem;
  a{
    font-weight:400;
    &.archive{
      background:$middle-gray;
      padding: 0.125rem;
    }
  }
  span{
    font-weight:400;
  }
  @include media($medium-screen){
    line-height:1.25;

  }
  @include media($large-screen){
    display:inline;
    margin: 0rem  0.6rem 0rem 0rem;
  }
}
.uwm-pub-cat-exerpt {
  .uwm-hero-teaser{
    .uwm-hero-sub-headline{
      &.gold{
        color:$black
      }
      font-family:$base-font-family;
      line-height: 1.5rem;
      font-weight: 300;
      font-size: 1rem;
      color:$black;
      text-transform:inherit;
      -webkit-text-shadow: rgba(0, 0, 0, 0) 1px 1px 2px;
      -moz-text-shadow: rgba(0, 0, 0, 0) 1px 1px 2px;
      text-shadow: rgba(0, 0, 0, 0) 1px 1px 2px;
      letter-spacing:inherit;


    }
  }

}
.uwm-pub-cat-name,
.uwm-pub-cat-theme{
  font-weight:300;
  text-transform:uppercase;
  margin-bottom:5px;
  display:block;
  line-height: 1.325rem;
  margin-top:0.5rem;
  span{
    font-size:  0.875rem;
    font-family:$font-1451-medium;
    margin-bottom:4px;
    a{
      padding: 0.125rem 0.5rem;
      text-decoration:none!important;
      margin-bottom:4px;
      margin-left:1px;
      display:inline-block;
    }
    &.cat-type,
    &.cat-theme{
      font-weight:300;
      background-color:transparent;
      font-family:$font-bg-cond-book;
      font-size:1.15rem;
      color:$black;
    }
  }
}
.cat-type{
  margin-bottom:0.25rem;
}
