  .uwm-prev-next{
    margin-left:0;
    padding-left:0;
    margin-left:0!important;
  }
  .uwm-prev-next-item{
    list-style: none;
    position:relative;
    display: block;
    float: left;
    height: auto;
    padding: 0.625rem 0;
    @include span-columns(6);
    &:last-child{
      @include omega();

    }
    a{
      min-height:16rem;
      display:block;
      float:left;
        @include borderEffect(1px, $white, $white, $white, 0px);
        &:hover, &:focus{
        text-decoration:none;
        @include borderEffect(1px, $gray, $light-gray,$white, 0px);

          .uwm-prev-next-headline{
            text-decoration:underline;
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            word-break:break;
            word-wrap: break-word;
          span{
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            word-break:break;
            word-wrap: break-word;
            }
          } 
        }
      @include media($medium-screen) {
         min-height: 21rem;
      }
    }
    &.uwm-previous-article{ 
      .uwm-prev-next-link{
          float:right;
          text-align:right;
         padding:0rem 0.5rem;
        }
    }
    &.uwm-next-article{
      .uwm-prev-next-link{
        padding: 0rem 0.5rem;
        float:left;
      }
    }
  
  }
  .uwm-prev-next-img{
    height: 12rem;
    float:left;
    figure{
       }
     img{
      padding:0;
      width:80%;
     }
  }
  .uwm-prev-next-link{
    margin: 0.5rem 0rem 1rem 0rem;
  }
  .uwm-next-link,.uwm-previous-link{
    font-family:$font-1451-bold;
    color: $black;
    font-weight:300;
    text-transform:uppercase;
    width:5.688rem;

    padding:0.125rem 0.5rem;
    margin-top:0;
    font-size: 0.825rem;
  }
  .uwm-previous-link{
  float:right;
  clear:both;
 }  
  .uwm-prev-next-cat{
  text-align:right;
  display:block;
  text-transform:uppercase;
  clear: both;
  font-size: 0.825rem;
  font-family:$font-bg-cond-book;
  .uwm-next-article &{
      text-align:left;
    }


  @include media($medium-screen) {
    font-size: 1rem;
    }
  @include media($large-screen) {
    font-size: 1rem;
    }
}
  .uwm-prev-next-headline{
    font-family:$font-bg-cond-book;
    font-size:1.225rem;
     color:$black;
   }

  figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0px;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
    background: $uw-black;
    text-align: center;
    cursor: pointer;
    img {
      position: relative;
      display: block;
      max-width: 100%;
      width:100%;
      height:auto;
      opacity:1;
    }
    .uwm-related-articles-wrap &{
      margin-bottom: 0.85rem;
      span.effect{
        margin: 0;
        .button {
          color: $white;
          background: none;
          padding-left: 2rem;
          font-size: 1.2rem;
          padding-right: 1rem;
          text-transform:uppercase;
        }
        .button:hover,
        .button:focus  {
          color: $white;
          text-decoration:none;
        }
      }
    }
    .uwm-prev-next-articles-wrap & {
      margin-bottom:0.85rem;
      span.effect{
        margin: 0;
        .button {
          color: $white;
          background: none;
          padding-left: 2rem;
          font-size: 1.2rem;
          padding-right: 1rem;
          text-transform:uppercase;
        }
        .button:hover,
        .button:focus  {
          color: $white;
          text-decoration:none;
        }
      }
      .uwm-previous-article &{
        p{
          .button {

          }
        }
      }
      .uwm-previous-article &{
        p{
          .button {

          }
        }
      }
    }
    .uwm-pub-cat &{
      img{
        max-width:200%;
        position: relative;
        display: block;
        opacity:1;

        @include media($large-screen) {
          display:block;

          max-width:200%;
        }

      }
      span.effect{
        margin: 0;
        @include media($medium-screen) {
          .button {
            color: $white;
            background: none;
            padding-left: 2rem;
            font-size: 1.2rem;
            padding-right: 1rem;
            text-transform:uppercase;
          }
          .button:hover,
          .button:focus,  {
            background-color:transparent;
            color: $white;
            text-decoration:none;
          }
        }
      }
    }
    .uwm-feature-hp-wrap &{

      figcaption{
        padding: 1rem;
      }
      span.effect{

      }
    }
    figcaption {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 2em;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.25em;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      &::before,
      &::after {
        pointer-events: none;
      }
      > .uwm-image-info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
      }
    }
    span{
      display:block;
      margin: 0;
      .button {
        color: $white;
        background: none;
        padding-left:2.5rem;
        padding-right: 1.5rem;
        text-transform:uppercase;
      }
      .button:hover,
      .button:focus {
        background-color:transparent;
        color: $white;
        text-decoration:none;
      }
    }
  }
