
.uwm-archives-page{

  .uwm-archive-alias{
    display:grid;
    grid-template-columns:100%;
    grid-column-gap:1%;
    text-decoration:none;
    &:hover{
      .uwm-pub-archive-img-wrap {
        background:$light-gray;
        img {
          opacity:0.6;

        }
      }
    }
    .uwm-pub-archive-img-wrap{

      grid-column: 1 / 2;
      grid-row:1 / 2;
      img {
        max-height:18rem;
        margin-bottom:0;
      }

    }
    .uwm-pub-archive-info{

      grid-column: 1 / 2;
      grid-row:2 / 3;
    }
    @include media($medium-screen){
      grid-template-columns:100%;
      grid-column-gap:1%;
      .uwm-pub-archive-img-wrap{
        float:none;
        width:inherit;
        grid-column: 1 / 2;
        grid-row:1 / 2;

      }
      .uwm-pub-archive-info{
        float:none;
        width:inherit;
        grid-column: 1 / 2;
        grid-row:2 / 3;
      }
    }
    @include media($large-screen){
      grid-template-columns:20% 78%;
      grid-column-gap:4%;
      .uwm-pub-archive-img-wrap{
        float:none;
        width:inherit;
        grid-column: 1 / 2;
        grid-row:1 / 2;

      }
      .uwm-pub-archive-info{
        float:none;
        width:inherit;
        grid-column: 2 / 3;
        grid-row:1 / 2;
      }
    }
  }
  .uwm-pub-cat-img{
    overflow:visible;
  }

}
