.uw-header--global .responsive-menu-combined {
  @include media($medium-screen) {
    display: none;
  }

  position: inherit;
  color: white;
  background-color: black;

  &:hover, &:focus-within {
    color: $uw-gold;

    .navigation-button > span.navigation-button__lines {
      &,
      &::before,
      &::after {
        background-color: $uw-gold;
      }
    }
  }

  nav.responsive-menu-combined form {
    padding: 0;
    margin: 0;
  }

  // button look
  .navigation-button {
    -webkit-font-smoothing: inherit;
    background-color: $black;
    border-radius: inherit;
    border: none;
    cursor: pointer;
    font-family: $condensed-Book-font-family;
    letter-spacing: 0.045rem;
    text-transform: uppercase;
    padding: 1.85rem 0.5rem 0.5rem 0.5rem;
    display: inherit;
    text-decoration: none;
    user-select: none;
    vertical-align: inherit;
    white-space: nowrap;
    width: 100%;
    max-width: inherit;
    margin: inherit;
    color: $white;
    font-size: modular-scale(-1);
    position: relative;
    min-height: 4.375rem;
    text-align: center;
    margin-bottom: 0;
    font-weight: 400;

    &:hover,
    &:focus {
      background-color: $black;
      color: $uw-gold;
    }
  }

  label.navigation-button {
    padding: 0;
  }

  .navigation-button > span.navigation-button__lines {
    position: absolute;
    top: 33.5%;
    left: 50%;
    margin-left: -0.75rem;

    @include uw-transition($delay: 0s, $duration: 0ms, $timing: "linear", $property: background-color);

    @include media($xsmall-screen) {
      margin-left: -0.75rem;
    }


    display: block;
    -webkit-text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
    -moz-text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
    text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
    height: 0.1rem;
    width: 1.5rem;
    background-color: #fff;
    font-size: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }

  .navigation-button[aria-expanded=true] > span.navigation-button__lines,
  input.responsive-nav-check:checked + .navigation-button > span.navigation-button__lines {
    background-color: transparent;
    width: 1.5rem;

    @include uw-transition($delay: 0s, $duration: 0ms, $timing: "linear", $property: background-color);
  }

  .navigation-button button {
    overflow: visible;
  }

  .navigation-button .navigation-button__toggle:hover {
    color: $uw-gold;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }

  .navigation-button > span.navigation-button__lines:before,
  .navigation-button > span.navigation-button__lines:after {
    -webkit-text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
    -moz-text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
    text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }

  .navigation-button > span.navigation-button__lines:before {
    -webkit-transform: translateY(-300%);
    -moz-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  .navigation-button > span.navigation-button__lines:after {
    -webkit-transform: translateY(300%);
    -moz-transform: translateY(300%);
    transform: translateY(300%);
  }

  .navigation-button[aria-expanded=true] > span.navigation-button__lines:before,
  input.responsive-nav-check:checked + .navigation-button > span.navigation-button__lines:before {
    -webkit-transform: translateY(0) rotate(45deg);
    -moz-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
    background: $uw-gold;
  }

  .navigation-button[aria-expanded=true] > span.navigation-button__lines:after,
  input.responsive-nav-check:checked + .navigation-button > span.navigation-button__lines:after {
    -webkit-transform: translateY(0) rotate(-45deg);
    -moz-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
    background: $uw-gold;
  }

  .toggle {
    position: absolute;
    right: 0.6em;
    cursor: pointer;
    color: #fff;
  }

  .container {
    background: #fff;
    min-height: 100%;
    padding: 0;
    margin: 0;
  }

  .responsive-nav-menu,
  .responsive-nav-menu .sub-nav {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  /* http://davidwalsh.name/translate3d */
  /* #### - corrects 'unfixing' bug in Safari - uncomment if you have position: fixed elements inside .container - #### */
  /* @media screen and (-webkit-min-device-pixel-ratio: 0) { .container { -webkit-transform: none !important } } */

  /* #### - define ids of animated container, menu and sub-menus here - #### */

  .navigation-button[aria-expanded=true] ~ .responsive-nav-menu,
  #responsive-nav-check:checked ~ .responsive-nav-menu {
    display: block;
    -webkit-transform: translate(89rem, 0);
    -moz-transform: translate(89rem, 0);
    -ms-transform: translate(89rem, 0);
    transform: translate(89rem, 0);

    @include media($small-screen) {
      -webkit-transform: translate(149rem, 0);
      -moz-transform: translate(149rem, 0);
      -ms-transform: translate(149rem, 0);
      transform: translate(149rem, 0);
    }
  }

  // menu wrap
  .responsive-nav-menu {
    border-top: 1px solid transparentize($white, 0.9);
    position: absolute;
    top: 4.375rem;
    width: calc(100% + 1rem);
    background: #000;
    z-index: 10;
    left: -90rem;

    @include media($small-screen) {
      left: -150rem;
    }


    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform .35 ease;
    -moz-transition: -moz-transform .35s ease;
    transition: transform .35s ease;

    ol li, ul li {
      margin: 0;
    }

    .sub-nav .toggle span {
      -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
      transform: scale(-1, 1);
      display: inline-block;
    }

    .sub-nav .toggle {
      top: 0;
    }

    .sub-nav .toggle span {
      -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
      transform: scale(-1, 1);
      display: inline-block;
      padding: 0 0.5rem;
      font-weight: bold;
    }

    .sub-nav .toggle span.ifdsu {
      font-weight: $weight-light;
    }

    .sub-nav {
      margin-left: 1rem;
    }

    ul {
      background: $uw-black;
      line-height: 2.75rem;
      text-decoration: none;
      padding: 0;
      list-style: none;
    }

    li a {
      padding: 0.75rem 1rem;
      margin-right: 0;
      line-height: 1.3rem;
      text-decoration: none;
      display: block;
    }

    li a:hover,
    li a:focus,
    a.active,
    .toggle-sub:hover {
      background: $uw-primary-colour;
    }

    li {
      border-bottom: 1px solid #222;
      font-size: modular-scale(1);
      font-family: $condensed-Book-font-family;
      letter-spacing: 0.05rem;

      &.expanded {
        position: relative;

        .sub-nav {
          li {
            border-top: 1px solid #222;
          }
        }

        .toggle-sub {
          top: 0;
        }

        a {
          display: block;
        }
      }
    }

    .toggle-sub {
      letter-spacing: 0.045rem;
      color: #fff;
      background: #111;
      width: 2.2rem;
      border-left: 1px solid #444;
      cursor: pointer;
      text-align: center;
      position: absolute;
      right: 0;
      padding: 0.85rem 2rem 0.85rem 1rem;

      &[aria-expanded=true] {
        &:before {
          font-size: 1rem;
          display: inline-block;
          -webkit-transform: rotate(270deg);
          -moz-transform: rotate(270deg);
          -o-transform: rotate(270deg);
          -ms-transform: rotate(270deg);
          transform: rotate(270deg);
        }
      }

      &[aria-expanded=false] {
        &:before {
          font-size: 1rem;
          display: inline-block;
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg);
        }
      }

      &:focus,
      &:hover {
        background: $dark-gray;
      }
    }

    /* Show sub-menus unless hidden by @aria-expanded=false. */
    ul.sub-nav {
      display: block;
    }

    .toggle-sub[aria-expanded=false] + ul.sub-nav {
      display: none;
    }

    .tabs {
      position: relative;
      height: 100%;

      /* This part sucks */
      min-height: 22rem;

      @include span-columns(12);

      @include omega;

      border-bottom: 1px solid transparentize($white, 0.9);
    }

    .tab {
      border-right: 1px solid $uw-black;
      margin: 0;
      padding: 0;
      float: left;
      height: auto;

      /* Make current tab stand out. */
      &[aria-selected=true] > div.tab-label,
      &[aria-selected=true] > label,
      input[name=tab-group-responsive_menu_combined]:checked + label {
        color: black;
        background-color: $uw-gold;
      }
    }

    .tab-1 {
      width: 50%;
    }

    .tab-2 {
      width: 50%;
    }

    .tab-3 {
      width: 33.3%;
    }

    .tab-4 {
      width: 25%;
    }

    .tab-5 {
      width: 25%;
    }

    .tab-6 {
      width: 15%;
    }

    .tab > div.tab-label,
    .tab > label {
      text-align: center;
      position: relative;
      font-size: modular-scale(2);
      padding: 1rem 0;
      font-family: $condensed-Book-font-family;
      letter-spacing: 0.045rem;
      color: $white;
      display: block;
      font-weight: 300;
      margin-bottom: 0;
    }

    .tab .content {
      position: absolute;
      top: 3.25rem;
      left: 0;
      right: 0;
      bottom: 0;
      height: auto;
    }
  }
}

.navigation-button[aria-expanded=false] + .responsive-nav-menu {
  display: block;

  > [aria-selected=true] {
    display: none !important;
  }

  > [aria-selected=false] {
    display: none !important;
  }

  > #tabloop {
    display: none !important;
  }
}

.navigation-button[aria-expanded=true] + .responsive-nav-menu {
  display: block;

  > [aria-selected=true] {
    display: block !important;
  }

  > [aria-selected=false] {
    display: block !important;
  }

  > #tabloop {
    display: block !important;
  }
}
