#contact-toggle {}

#block-uw-nav-site-footer-site-footer {
  .content {
    float: left;
    clear: both;
  }
}

.uw-site-footer1 {
  @include span-columns(12);

  min-height: 2.5rem;
  clear: both;
  padding: 1rem 0;
  margin-right: inherit;

  &--logo-dept {
    @include span-columns(12);

    line-height: 1.25;
    text-align: center;
    padding: 0.5rem 0;

    @include media($small-screen) {
      text-align: left;
      padding: 1rem 0;

      @include span-columns(6);
    }
  }

  &--contact {
    ul {
      @include align-items(end);

      // start|end|center|baseline|stretch
      @include display(flex);

      @include flex-direction(row);

      // row | row-reverse | column | column-reverse
      @include flex-wrap(nowrap);

      //  nowrap | wrap | wrap-reverse
      @include box-orient(horizontal);

      // horizontal|vertical|inline-axis|block-axis|inherit
      @include box-pack(start);

      // start|end|center|justify
      @include box-lines(multiple);

      // single|multiple

      width: 100%;
      text-align: center;
      margin: 0 auto;
      padding: 0;

      @include media(rem(350)) {
        max-width: 75%;

        @include justify-content(center);
      }


      @include media(rem(400)) {
        max-width: 75%;
      }


      @include media($xsmall-screen) {
        max-width: 90%;
      }


      @include media($xsmall-screen) {
        max-width: 90%;
      }


      @include media($small-screen) {
        max-width: 75%;
      }


      @include media($medium-screen) {
        max-width: 100%;
        text-align: right;
      }


      @include media($large-screen) {
        margin: 0 auto;

        @include justify-content(flex-end);
      }


      li {
        @include flex(0 0 auto);

        padding: 0 0.05rem;

        &:last-child {
          padding-right: 0;
        }

        &:first-child {
          padding-left: 0;
        }
      }

      &.uw-footer-social {
        li {
          a {
            color: $white;
            text-decoration: none;

            span {
              border-radius: $base-border-radius;
              color: $gray;
              background-color: $white;
              font-size: modular-scale(6);
              padding: 0.2rem;

              @include media($xsmall-screen) {
                font-size: modular-scale(5);
                padding: 0.15rem;
              }


              @include media($small-screen) {
                font-size: modular-scale(5);
                padding: 0.15rem;
              }


              @include media($medium-screen) {
                font-size: modular-scale(4);
                padding: 0.2rem;
              }


              @include media($large-screen) {
                font-size: modular-scale(6);
                padding: 0.2rem;
              }


              @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color));

              &:hover {
                color: $white;
                background-color: $gray;

                @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color));
              }
            }

            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }

    .uw-footer-social-media .uw-footer-social-directory {
      a {
        color: $white;
        font-weight: $weight-regular;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
          color: $yellow-dark;
        }
      }
    }

    @include span-columns(11);
    @include shift(0.5);
    width: 100%;
    button {
      width: 100%;
      max-width: inherit;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    @include media($xsmall-screen) {
      @include span-columns(8);

      @include shift(2);

      padding: 0;
    }
    @include media($small-screen) {
      @include shift(0);
      padding: 0;
      @include span-columns(6);
      text-align: right;
      @include omega;
      @include media($medium-screen) {
        padding: 0;
      }
    }
  }
  &--social {
    @include span-columns(4);
    text-align: center;
    @include omega;
  }
}

.uw-site-footer2 {
  .block-uw-nav-site-footer {
    .content {
      @include span-columns(12);
      margin-right: inherit;
    }
  }
  height: 0;
  overflow: hidden;
  @include clearfix;
  .open-site-footer & {
    clear: both;
    overflow: visible;
    width: 100%;
    padding: 2rem 0;
    height: auto;
    @include uw-transition($delay: 0s, $duration: 400ms, $timing: "linear", $property: (height, opacity, visibility, background-color));
  }

  .fcol {
    margin-bottom: 1rem;

    @include media($medium-screen) {
      margin-bottom: 0;
    }
  }

  .fcol h2, .fcol h3 {}

  .fcol ul,
  .fcol ol {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
  }

  .fcol ul li, .fcol ol li {
    margin-bottom: 0.1rem;
  }

  .fcol ul li a:last-of-type {
    margin-bottom: 0.25rem;

    @include media($medium-screen) {
      margin-bottom: 0;
    }
  }

  .fcol.three-a-1 {
    height: auto;

    @include span-columns(12);

    @include media($small-screen) {
      @include span-columns(4.5);
    }


    @include media($medium-screen) {
      @include span-columns(4.5);
    }
  }

  .fcol.three-a-2 {
    height: auto;

    @include span-columns(12);

    @include media($small-screen) {
      @include span-columns(4.5);

      @include omega;
    }


    @include media($medium-screen) {
      @include span-columns(4.5);
    }
  }

  .fcol.three-a-3 {
    height: auto;

    @include span-columns(12);

    @include media($small-screen) {
      @include span-columns(3);

      // @include shift(3);
      @include omega;
    }


    @include media($medium-screen) {
      @include shift(0);

      @include omega;
    }
  }

  .fcol.three-1 {
    height: auto;

    @include span-columns(12);

    @include media($small-screen) {
      @include span-columns(6);

      // @include shift(3);
    }


    @include media($medium-screen) {
      @include span-columns(3);
    }
  }

  .fcol.three-2 {
    height: auto;

    @include span-columns(12);

    @include media($small-screen) {
      @include span-columns(6);
    }


    @include media($medium-screen) {
      @include span-columns(4.5);
    }
  }

  .fcol.three-3 {
    height: auto;

    @include span-columns(12);

    @include media($small-screen) {
      @include span-columns(6);

      @include omega;
    }


    @include media($medium-screen) {
      @include span-columns(4.5);

      @include omega;
    }
  }

  .fcol.four-1 {
    height: auto;

    @include span-columns(12);

    @include media($small-screen) {
      @include span-columns(6);
    }


    @include media($medium-screen) {
      @include span-columns(3);

      margin-right: 1%;
    }
  }

  .fcol.four-2,
  .fcol.four-3 {
    height: auto;

    @include span-columns(12);

    @include media($small-screen) {
      @include span-columns(6);
    }


    @include media($medium-screen) {
      @include span-columns(3);
    }
  }

  .fcol.four-2 {
    height: auto;

    @include media($small-screen) {
      &:first-of-type {
        @include omega;
      }
    }


    @include media($medium-screen) {
      &:first-of-type {
        @include omega-reset(1n);
      }

      &:last-of-type {
        @include omega;
      }
    }
  }

  .fcol.four-4 {
    height: auto;

    @include span-columns(12);

    @include media($small-screen) {
      @include span-columns(6);

      @include omega;
    }


    @include media($medium-screen) {
      @include span-columns(3);

      @include omega;
    }
  }

  .fcol.five-1 {
    @include span-columns(12);

    height: auto;

    @include media($small-screen) {}


    @include media($medium-screen) {
      @include span-columns(3);
    }
  }

  .fcol.five-2, .fcol.five-3, .fcol.five-4 {
    height: auto;

    @include span-columns(12);

    @include media($small-screen) {
      @include span-columns(6);
    }


    @include media($medium-screen) {
      @include span-columns(2.5);
    }
  }

  .fcol.five-3 {
    height: auto;

    @include media($small-screen) {
      @include omega;
    }
  }

  .fcol.five-5 {
    height: auto;

    @include span-columns(12);

    @include media($small-screen) {}


    @include media($medium-screen) {
      @include span-columns(1.5);
    }
  }
}
