.stories_rss_link{
      grid-column: 1/2;
      grid-row: 3/4;
     a{ 
      &.rss{margin-bottom:0.25rem;}
    }
    @include media($xsmall-screen) {
      grid-column: 2/3;
      grid-row: 3/4;
      clear:both;
      margin:1rem 0 0 0 ;
      a{  width:49%;
          float:left;
        &.rss{
          margin-bottom:0.25rem;
          margin-right:0.5rem;
         
        }

        padding:0.5rem; 
        font-size: modular-scale(-1);
      }
    }
    @include media($medium-screen) {
      a{
        width:100%;
        float:none;
        }
      grid-column: 3/4;
      grid-row: 2;
      margin:3rem 0 0 0 ;
    }
  }

.stories_featured_image{
  .node-type-uw-stories &{
    position:relative;
    width:100%;
    &.hero{
      text-align:center;
      margin:0 auto;
      @include media($xlarge-screen) {
        // padding: 0 4rem 4rem 4rem;
      }
    }
    .stories_featured_img{
      display:block;
      img{
        display: block;
      }
       @include media($large-screen) {
       display: inherit;
        img{
           display: inherit;
          }
       }
    }
    .article-info{
          @include outer-container;
      background:$white;

      //padding-left:1rem ;
      //padding-right:1rem;
          p,h1,h2,h3,h4,h5,span{
            padding-left:1rem ;
            padding-right:1rem;
          }
         &.use{
            @include media($large-screen) {
              margin-top:-10rem;
            }
          }
         &.no-use {
           @include media($large-screen) {
             margin-top: 3rem;
            }
         }
          @include media($large-screen) {
          padding-top:1rem;
          background:$white;
          position: relative;
          &.left{
            text-align:left;
          }
          &.right{
            // right:10%;
           text-align:right;
          }
      }

    }
  }
}

body.org_default .article-info {
  text-align:left;
   h1,h2,p {text-align:left;}

  h2{
     color: $gray;

  }
  > p{
    margin: 0 0 $small-spacing;
    font-weight: $weight-regular;
    color: $gray;
    font-size: modular-scale(3);
    line-height: $base-line-height;
  }
  span{
    display:block;

    &.author{
      display:block;
      clear:both;
      margin:0.5rem 0;
    }
    &.author-position{
      display:block;
      margin-bottom:1rem;
      font-style:italic;
    }
    &.article-date{
      display:inline-block;
      width: 100%;

      @include media($large-screen) {
        position:absolute;
        top:-2.15rem;
        left:0;
        width:auto;
      }

    }
  }
 &.no-use {
    span{
      &.article-date{
        position:relative;
        top:0rem;
        left:0;
      }
    }
  }
  @include media($large-screen) {
    h1{color:$black;}
    span{
      display:block;
      &.author{
        color:$black;
        display:block;
        clear:both;
        margin:0.5rem 0;
      }
      &.author-position{
        color:$black;
        display:block;
        margin-bottom:1rem;
        font-style:italic;
      }
      &.article-date{

      }
    }
  }
}
// Top colored tags
.field-name-field-topics-area{
 .field-items{
   .field-item{
    margin:0.15rem 0;
    a{
      display:inline-block;
      line-height:1.25;
      width:auto;
      padding:0.5rem;
      text-decoration:none;
      }
    }
  }
}
.uw_ct_story{
  .node-type-uw-stories & {
      @include media($small-screen) {
        display: grid;
        grid-gap: 0.25rem;
        grid-auto-flow: row;
        grid-template-columns: 27%  65%  8%;
      }
      @include media($medium-screen) {

       grid-template-columns: 12rem  auto 22%;

     }
    .article-inline{
      grid-column: 1 / 4;
      grid-row: 1 / 2;
      padding-bottom:2.5rem;
      .field-name-field-subhead{
        border-bottom:1px solid $light-gray;
        margin:0.5rem 0;
      }
      .author{display:block;clear:both;margin:0.5rem 0;}
      .author-position{display:block;font-style:italic;}
      .article-date{}
    }
    .topics{

       .field{
         min-height:2rem;
         &.field-name-field-topics-area,
         &.field-name-field-topics-societal-relevance{
            clear:both;
            .field-items{
              .field-item{
                float:left;
                width:auto;
                margin:0.25rem;
              &:first-child{
                margin-left:0;
              }
              &:last-child{
                margin-right:0;
              }
              a{
                display:inline-block;
                line-height:1.25;
                padding:0.5rem;
                text-decoration:none;
              }
              }
            }
          }
        }
      @include media($small-screen) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        .field{
          min-height:2rem;
           &.field-name-field-topics-area,
           &.field-name-field-topics-societal-relevance {
              clear:both;
              .field-items{
                .field-item{
                  float:inherit;
                  width:auto;
                  margin:0.25rem 0;
                a{
                  display:inline-block;
                  line-height:1.25;
                  padding:0.5rem;
                  text-decoration:none;
                }
              }
            }
          }
        }
      }
    }
    .content_node{
     @include media($small-screen) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        min-height:35rem;
        padding-right: 1rem;
        }
    }
    .stories-footer-topics{
      margin-top:4rem;
      grid-column: 1 / 4;
      grid-row: 3 / 4;
     @include media($medium-screen) {
       margin-top:1rem;
     }



      .field{
        display:inline-block;
        width:auto;
        min-height:2rem;
          &.field-name-field-topics-area,
           &.field-name-field-topics-societal-relevance {
            .field-items{
              display:inline-block;
              .field-item{
                display:inline-block;
                width:auto;
                margin:0.25rem;
              &:first-child{
                margin-left:0;
              }
              &:last-child{
                margin-right:0.5rem;
              }
              a{
                display:inline-block;
                line-height:1.25;
                padding:0.5rem;
                text-decoration:none;
              }
            }
          }
        }
      }
    }
    > .links{
      grid-column: 3 / 4;
      grid-row: 2 / 3;
      margin:2rem 0 0 0 ;
      padding:0;
      clear: both;
       @include media($small-screen) {
         margin:0 ;
       }
      // Social
      .links.inline{
          padding:0;
          margin:0;
          display:inline-block;
         @include media($small-screen) {
            margin:0;
            display: grid;
            grid-template-columns:100%;
            grid-gap: 1.25rem;
            grid-auto-flow: row;
        }
        // @include media($medium-screen) {
        //       grid-template-columns: 25%  25%  25% 25%;
        // }


      }
       li{
         list-style-type: none;
         margin:0;
         padding:0;
         width:100%;
       &.node-readmore{
        display:none;
       }
       &.addtoany{

          span{
            display:inline-block;
            .addtoany_list{
                  display:block;

                  position:relative;

                a{
                  width:2rem;
                  height:2rem;
                  display:inline-block;
                  margin:0.25rem;
                  span.a2a_svg{
                      width:2rem !important;
                      height:2rem !important;
                      background:$gray !important;

                  }
                  &:hover,
                  &:focus{
                    span.a2a_svg{
                      svg{
                        path{
                        fill:$dark-gray !important;
                        }
                      }
                      background:$lightest-gray !important;
                     }
                   }
                   @include media($medium-screen) {
                    margin:0 0.125rem;
                    }
                  svg{
                    width:2rem;
                    height:2rem;
                  }
                  .a2a_label{
                    visibility:hidden;
                    height:0;
                    width:0;
                    overflow:hidden;
                  }
                  &.addtoany_share_save{
                   visibility:hidden;
                    height:0;
                    width:0;
                    overflow:hidden;
                  }
                  &.a2a_button{
                    &_facebook{

                    }
                     &_twitter{

                    }
                     &_googleplus{

                    }
                     &_linkedin{

                    }
                  }
                }
              }
             }

        }

     }
    }
    .other-links{
      margin-top:1rem;
      grid-column: 1 / 4;
      grid-row: 4 / 5;
     }
   }
}
.related-stories{
  padding:0;
  margin:1rem 0 0 0;
  ul{
    padding-left: 0;
    margin-left:0;
    @include media($medium-screen) {
            display: grid;
            grid-template-columns: 33%  33%  33%;
            grid-gap: 0.25rem;
            grid-auto-flow: row;

    }
    li{
      list-style-type:none;
      a{
        margin:0 0 1rem 0 ;
        padding: .7rem;
        display:block;
      }
    }
  }
  .stories-related-item{
    a{
      display:block;
      float:left;
        @include borderEffect(1px, $white, $white, $white, 0px);
        &:hover, &:focus{
        text-decoration:none;
        @include borderEffect(1px, $white, #eee,$white, 0px);
      }
     @include media($medium-screen){
        min-height: 24rem;
      }
      @include media($large-screen){
        min-height: 23.125rem;
      }
    }
  }
  .stories-related-img{
    height:100%;
    float:left;
    figure{
      -moz-box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
      -webkit-box-shadow:rgba(0, 0, 0, 0.5) 1px 1px 1px;
      box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
       }

  }
  .stories-related-info{
    margin: 0.5rem 0  1rem  0;
    padding: 0rem 0.5rem;
    float:left;
  }

}
.external-links{
  margin:2rem 0 0 0;
  ul{
    &.external-links-list{
      margin:0;
      padding:0;
    }
  }
}
