form{
  &#user-login{
    clear:both;
    // float:left;
    max-width: 100%;
    width:100%;
    .form-actions{
      clear:none;
    }
  }
  .uw-site-main--content &{
    margin-top:1rem;
  }
  .description{
    color:$gray;
    font-size: modular-scale(-1);
    margin:0.25rem 0;
  }
  &.workbench-moderation-moderate-form{
    display:block;
    clear:both;
    float:left;
    width:100%;
    margin-top: 0.25rem;
  }
 .page-election &,
 .page-election-post &{
    .form-actions{
      &#edit-buttons,
      &#edit-actions{
        input[type=submit] {
          clear:none;
          margin-right:2rem;
          width: auto;
          max-width:none;
        }
        a{
          float:left;
          margin-right:0;
          @extend %button;
          -webkit-font-smoothing: antialiased;
          background-color: $lighter-gray;
          border-radius: none;
          border: none;
          cursor: pointer;
          font-family: $font-bg-cond-book;
          letter-spacing:0.055rem;
          text-transform: uppercase;
          padding: 1rem 2rem;
          display: inline-block;
          text-decoration: none;
          user-select: none;
          vertical-align: middle;
          white-space: nowrap;
          width: auto;
          margin: 0 auto;
          color: $dark-gray;
          font-size: modular-scale(1);
          &:hover,
          &:focus {
            @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity));
            background-color: $gray;
            color: $lighter-gray;
            outline: none;
          }
          &:focus {
            outline: inherit;
          }
          &:active {
           background-color: $gray;
            color: $lighter-gray;
          }
        }
      }
       &#edit-actions{

       } 
    }
    // fieldset{
    //   width:100%;
    // }
  }
}
.workbench-info-block{
  float:left;
  width: 100%;
  padding:1rem;
  display:block;

 em{
  color:$black;
 }
}
.form-number{
  width:100%;
}
fieldset {
  background-color: $lightest-gray;
  border:$gray solid 1px;
  margin-bottom: 1rem;
  padding: 0.5rem; 
  clear:both;
  fieldset.fieldset-invisible{
    clear:both;
  }
  &:hover {
    > legend {
      background-color:transparent;
    }
  }
  &.fieldset-invisible{
    margin:0;
     &:hover {
       > legend{
         margin-bottom:0.7rem;
         padding-top: 1rem
       }
     }
    > legend{
      margin-bottom:0.7rem;
      padding-top: 1rem
    }

  }
  .fieldset-wrapper{
    .webform-container-inline{
      fieldset{
        &.fieldset-invisible{
          display:inline-block;
        }
      }
    }

  }
 
}
legend {
  margin: 1rem 0;
  max-width: 100%; /* IE and Edge overflow without this */
}

input,
select {
  font-family: $font-1451-medium;
}

select {
  font-size: modular-scale(-1);
  margin-bottom: $base-spacing;
  max-width: 100%;
  width: 100%;
   @include media($small-screen) {
    width:auto;
   }
  margin-right: 0;
  padding-right: 0px;
  option{
    width: 100%;
    word-wrap: break-word;
  }
}
label {
  font-family: $condensed-font-family;
  font-size: modular-scale(2);
  font-weight: 400;
  margin-bottom: $small-spacing / 2;
  form{
    &.webform-client-form{
      margin-top: 0.75rem;
      }
  }
  &.required::after {
    content: "*";
  }

  &.option {
    margin-left: 0.2rem;
    display: inline;
  }

  abbr {
    display: inline;
    font-size: modular-scale(1);
  }
}

.form-actions {
  margin: 1rem 0;
  text-align: center;
  clear: both;
  // float: left;
}

.form-item {
  margin:0 0 1.5rem 0;
  width:100%;

  .form-radios &{
     margin:0 0.7rem 0.7rem 0;
  }
  .field-prefix{
    display:inline;
    padding:0.5rem 0.25rem 0 0 ;
  }
  .field-suffix{
      display:inline;
      padding:0.5rem 0 0 0;
  }
  label{
   margin-top: 0.75rem;
  }
  &.webform-container-inline{
      width:100%;
      display:block;
      margin:0 0 1.5rem 0;
    @include media($small-screen) {
      width:auto;
      display:inline;
      margin:0 0 1.5rem 0;
     &.webform-component-select{
       select{
          display: inline;
          width:auto;
          }
        }  
      }

    &.webform-datepicker{
      margin:0 0.5rem 1.5rem 0;
    }
    label{
      display: inline-block;
      margin-right:0.5rem;
     margin-top: 0.75rem;
    }
    input{
      margin-right:0.5rem;
    }
    input[size="60"]{
      width:100%;
      margin-right:0;
    }
    .description{
      clear: both;
    }
    .form-number{
      // width:inherit;
    }
  }
  &.webform-component-date{
    .form-item{
      width:auto;
      &.form-type-select{
        select{
          width:auto;
          margin:0;
          display: inline;
          option{
            width:auto;
          }
        }
      }
    }
  }
  &.webform-component-time{
    .webform-container-inline{
      width:auto;
      display:inline-block;
      fieldset.fieldset-invisible{
      display:inline;
      }
    }
    .form-item{
      width:auto;
      float:none;
      margin:0;
 
      &.form-type-select{
        select{
          width:auto;
          margin:0;
          display: inline;
          &.hour{
          }
          &.minute{
          }
          option{
            width:auto;
          }
        }
      }
    }
  }
}
#{$all-text-inputs},
select[multiple=multiple],
textarea {
  background-color: $base-background-color;
  border: $base-border;
  border-radius: $base-border-radius;
  box-shadow: $form-box-shadow;
  box-sizing: border-box;
  font-family: $font-1451-medium;
  font-size: $base-font-size;
  padding: $base-spacing / 3;
  transition: border-color;
  color:$dark-gray;
  border-color: darken($base-border-color, 10%);
  max-width: 100%;
  display:inline;
  width:auto;
  &:hover {
    border-color: darken($base-border-color, 10%);
  }
  &:focus {
    border-color: $action-color;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }
  @include media($xsmall-screen) {
    // max-width: 18rem;
  }
  @include media($small-screen) {
    max-width: 100%;
    width:auto;
   }
}
textarea {
  resize: vertical;
  max-width:100%;
}
input[size="60"]{
      max-width: 100%;
      width:100%;
       @include media($small-screen) {
        width:100%;
       }
}
input[type="submit"]{
float: left;
clear: both;

}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.5rem;
}

input[type="file"] {
  padding-bottom: $small-spacing;
  width: 100%;
}

input[type="text"] {
  .modal-default & {
    padding: 1.05rem 0;
  }
}
input[type="image"] {
   &.webform-calendar {
    
  }
}



input[type=text][disabled],
input[type=text][disabled]:focus,
select[disabled],
textarea[disabled],
button[disabled],
input[type=text][readonly],
input[type=text][readonly]:focus,
select[readonly],
textarea[type=text][readonly]
textarea[readonly]:focus,
button[readonly] {
  outline:#f5f5f5;
  border: 1px solid #f5f5f5;
  }
input[type=text][disabled],
input[type=checkbox][disabled],
input[type=radio][disabled],
input[type=text][disabled]:focus,
select[disabled],
textarea[disabled],
button[disabled]
{
  cursor: not-allowed;
  }

/*hide "upload" button on web forms until bug around conditional pages with upload fields is fixed*/
.webform-client-form .form-managed-file .form-submit {
  display: none;
}
