body {
  -webkit-text-size-adjust: none;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: modular-scale(0);
  line-height: $base-line-height;
  background-color: $body-bg-color;
  @include fontdpi;
  margin: 0;
  padding: 0;
  -webkit-animation: androidbugfix infinite 1s;
  -moz-animation: androidbugfix infinite 1s;
  animation: androidbugfix infinite 1s;

  &.logged-in {
    -webkit-animation: inherit;
    -moz-animation: inherit;
    animation: inherit;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $uw-black;
  font-family: $condensed-font-family;
  font-weight: $weight-regular;
  line-height: $heading-line-height;
  margin: 0.5rem 0 0.5rem 0;
  padding: 0;
  clear: both;
}

h1 {
  font-size: modular-scale(5);
  font-family: $condensed-Book-font-family;
  // text-transform: uppercase;
  text-align: center;

  @include media($xsmall-screen) {}


  @include media($small-screen) {}


  @include media($medium-screen) {
    font-size: modular-scale(8);
    text-align: left;
  }


  @include media($large-screen) {}
}

h2 {
  // font-weight: $weight-bold;
  font-size: modular-scale(3);
  line-height: $heading-line-height;
  // padding-bottom: 3px;
  border-width: 0px;
  border-bottom-style: none;
  letter-spacing:0.05rem;
  .staff-contact &{
    padding:0 0 0 0.5rem;
  }

  a {
    &:active,
    &:link {
      text-decoration:none;
      color: $uw-black;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .uw-site-navigation & {
    background-color: $light-gray;
    max-width: 93%;
    font-size: modular-scale(1);
  }

  .uw-site-footer2 & {
    font-size: modular-scale(2);
  }
  body.org_default &{
    // background-color:$lighter-gray;
    // color:$dark-gray;
    .uw-site-sidebar--second h2,
    .uw-site-sidebar--promo h2{
      color:$dark-gray;
    }
  }
  // remove the borders
  &.no-border,
  .view-opportunities &,
  &.home-listing-block-link,
  &.event-title,
  &.anchor-name,
  .uw-site-sidebar--second &,
  .uw-site-sidebar--promo &,
  .view-uw-service-categories &,
  .uw-site--modal-wrap &,
  .date-heading &{
    background-color:transparent !important;
    padding:0;
  }

  .uw-site-sidebar--second &,
  .uw-site-sidebar--promo & {
    font-size: modular-scale(2);
  }

  .blog-post-header & {
    margin-bottom: 0;
    background-color: transparent !important;
    padding:0 !important;
  }

  #site-sidebar & {
    button {
      text-align: left;
      background: none;
      color: $black;
      padding: 0;
      line-height: inherit;
      margin: 0.8rem 0;
      font-size: modular-scale(1);
      font-weight: $weight-bold;
    }
  }

  .view-content & {
    &:first-child {
      a {
        text-decoration: none;

        // font-size: modular-scale(2);
        // text-transform: uppercase;
        &:hover {
          text-decoration: none;
        }
      }

      span {
        font-size: modular-scale(0);
        font-family: $base-font-family;
        font-weight: 300;
      }
    }
  }
  &.article-title{
    font-size: modular-scale(2);

  }
  .uw-site--modal-wrap & {
    text-transform: uppercase;
    font-family: $condensed-Book-font-family;
    font-weight: $weight-regular;
    font-size: modular-scale(4);
    @include media($medium-screen) {
      font-size: modular-scale(5);
    }
    button {
      text-align: left;
      background: none;
      color: $white;
      padding: 0;
      line-height: inherit;
      margin: 0.8rem 0;
      font-weight: $weight-bold;
      font-size: modular-scale(3);
    }
  }
  @include media($medium-screen) {
    font-size: modular-scale(5);
    text-align: left;
  }


  @include media($large-screen) {
    .uw-site-navigation & {
      font-size: modular-scale(2);
    }
  }
}

h3 {
  line-height: $heading-line-height;
  #site-sidebar & {
    button {
      text-align: left;
      background: none;
      color: $black;
      padding: 0;
      line-height: inherit;
      margin: 0.8rem 0;
      font-size: modular-scale(1);
      font-weight: $weight-bold;
    }
  }
  font-size: modular-scale(2);
  .uw-site-sidebar--second &,
  .uw-site-sidebar--promo & {
    font-size: modular-scale(1);
  }
  @include media($medium-screen) {
    font-size: modular-scale(3);
  }


  @include media($large-screen) {}
}

h4 {
  font-size: modular-scale(2);
  font-family: $condensed-Book-font-family;
  font-weight: $weight-regular;
  letter-spacing:0.045rem;
  @include media($xsmall-screen) {}


  @include media($small-screen) {}


  @include media($medium-screen) {
    font-size: modular-scale(2);
  }


  @include media($large-screen) {}
}

h5 {
  font-size: modular-scale(0);

  @include media($xsmall-screen) {}


  @include media($small-screen) {}


  @include media($medium-screen) {
    font-size: modular-scale(1);
  }
}

h6 {
  font-size: modular-scale(-1);

  @include media($xsmall-screen) {}


  @include media($small-screen) {}


  @include media($medium-screen) {
    font-size: modular-scale(0);
  }


  @include media($large-screen) {}
}

p {
  margin: 0 0 1rem;
  font-size: modular-scale(0);
  line-height: $base-line-height;
  font-weight: $weight-regular;
  font-family: $base-font-family;
  hyphens: auto;

  .js & {
    hyphens: inherit;
  }
  .field-name-field-subhead &{

    font-size: modular-scale(3);
    line-height: 1.2;
    color: $gray;


  }
  .uw_stories_sticky .field-name-field-subhead & {
    color:$gray;
    font-size: modular-scale(-2);
    line-height: 1.2;
    @include media($xlarge-screen) {
      font-size: modular-scale(-1);
    }

  }

  #site-footer & {
    font-weight: $weight-regular;
    font-size: modular-scale(-2);
  }

  .node-uw-web-form & {
    .field-name-field-contact-watiam-id & {
      font-size: 90%;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      padding: 5px 0;
      font-style: italic;
    }

    .uw-site-sidebar-wrapper &,
    .uw-site-sidebar & {
      font-size: modular-scale(-1);
      font-weight: $weight-regular;
      font-family: $base-font-family;
    }
  }

  &.lead {
    margin: 0 0 $small-spacing;
    font-weight: $weight-regular;
    color: $gray;
    font-size: modular-scale(3);
    line-height: $base-line-height;

    @include media($small-screen) {}
  }

  .uw-site-sidebar-wrapper &,
  .uw-site-sidebar & {
    font-size: modular-scale(-1);
    font-weight: $weight-regular;
    font-family: $base-font-family;
  }
}

.highlight {
  font-size: modular-scale(3);
  line-height: $base-line-height;
  color: $gray;

  .uw-site-sidebar--wrapper & {
    font-size: modular-scale(0);
  }
}

.caption {
  // margin-top: -1rem;
  background:$lighter-gray;
  border: solid 0px transparent;
  padding: 0.5rem;
  font-size: modular-scale(-1);
  color: $black;
  font-family: $font-1451-regular;
  strong{
    font-family: $font-1451-bold;
  }

  .uw-site-sidebar & {
    font-size: modular-scale(0);
  }
}

.read-more-link {
  text-align: center;
  margin: 1rem 0;

  .uw-site-sidebar & {
    margin: 0.5rem 0 0 0;
  }

  .view-footer & {
    margin: 1rem 0;
  }
}

a {
  @include transition(color 0.3s linear);
  &:link,
  &:active {
    text-decoration: underline;
  }
  &:visited{}
  &:hover {
    @include transition(color 0.3s linear);

    text-decoration: none;
  }

  &:focus {
    outline: thin dotted;
    @include transition(color 0.3s linear);
    text-decoration: none;
  }
  .uw_stories_sticky .uw_ct_story & {
    height:100%;
    &:link,
    &:active {
      text-decoration:none;

    }
    &:visited{}
    &:hover {
      @include transition(color 0.3s linear);
      background:$uw-gold;
    }
    &:focus {
      outline: thin dotted;
      @include transition(color 0.3s linear);

    }
  }
  .uw_stories_non_sticky .uw_ct_story & {
    @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color));
    height:100%;
    &:link,
    &:active {
      text-decoration:none;
      span.article-date{
        @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color));
      }

    }
    &:visited{}
    &:hover {
      @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color));
      span.article-date{
        @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color));

        background:$black;
        color:$uw-gold;
      }
    }
    &:focus {
      outline: thin dotted;
      @include transition(color 0.3s linear);

    }
  }
  .field-name-field-topics-area .field-items .field-item &,
  .field-name-field-topics-societal-relevance .field-items .field-item & {
    font-size: modular-scale(-3);
    font-family:$font-1451-medium;
    text-decoration:none;
    text-transform:uppercase;
    display:inline;
    line-height: 1;
    padding-left: 0;
  }
  .views-summary-unformatted & {
    font-size: modular-scale(0);
    font-weight: $weight-bold;
    font-family: $condensed-font-family;
    padding: 0.25rem 0.5rem;
    margin: 0;
    background: $tab-bg-color;
    text-decoration: none;
    margin-bottom: 0.5rem;
    display: inline-block;

    &:hover {
      // color:$white;
      background: $tab-bg-active;
    }
  }

  .read-more-link & {
    text-decoration: none;

    &:hover {
      color: $white;
    }
  }

  .uw-site-sidebar--wrapper .views-field-title & {
    font-size: modular-scale(-1);
    font-weight: $weight-regular;
    font-family: $base-font-family;
  }

  .home-listing-block-link & {

    font-size: modular-scale(3);
    line-height: $heading-line-height;
    font-family: $condensed-font-family;
    font-weight: $weight-regular;
    &:link {
      text-decoration: none;
    }
    &:active {
      text-decoration: none;
    }
    &:visited {
      // text-decoration: underline;
    }
    &:hover {
      text-decoration: underline;
    }

  }
  .page-taxonomy .pager li &{
    font-size: modular-scale(-1);
    text-transform: uppercase;
    font-family:$font-1451-medium;
  }
  // .uw-site-footer2 #site-footer &{}
  .local-ist & {
    font-family: $condensed-font-family;
    font-size: modular-scale(-1);
    padding: 0.25rem;
    display: block;

    @include media($xsmall-screen) {
      font-size: modular-scale(-2);
      padding: 0.15rem 0.25rem;
    }


    @include media($medium-screen) {
      font-size: modular-scale(-1);
    }


    text-decoration: none;

    &:hover {
      color: $yellow-dark;
      text-decoration: underline;
    }
  }

  .views-field-title & {
    font-size: modular-scale(2);
    // font-weight: $weight-bold;
    font-family: $condensed-font-family;

    .uw-site--modal-wrap & {
      font-size: modular-scale(-1);
      font-weight: $weight-regular;
      font-family: $base-font-family;
    }
  }

  .block-uw-ct-news-item-news-by-audience &,
  .block-uw-ct-news-item-news-by-date &,
  .block-uw-ct-contact-contacts-by-group &,
  .block-uw-ct-person-profile-profile-by-type &,
  .block-uw-ct-project-project-by-status &,
  .block-uw-ct-project-project-by-audience &,
  .block-uw-ct-project-project-by-topic &,
  .block-views-events-with-calendar-block-1 &,
  .block-uw-ct-event-events-by-audience &,
  .block-views-event-type-block-events-by-type &,
  .block-views-uw-blog-recent-block-1 &,
  .block-uw-ct-blog-blog-by-audience &,
  .block-uw-ct-blog-blog-by-date &,
  .block-views-uw-blog-topics-block-1 &,
  .block-views-5bbe76328202cacac13375a40dd59481 & {
    font-size: modular-scale(-1);
    font-weight: $weight-regular;
    font-family: $base-font-family;
    line-height: $heading-line-height;
  }

  .submitted & {
    color: $uw-black;
    font-size: modular-scale(-1);
    text-transform: inherit;
    font-family:$font-1451-medium;
  }
  .links-wrapper & {
    color: $uw-black;
    font-size: modular-scale(-2);
    text-transform: inherit;
  }

  .uw-site--header & {
    font-family: $heading-font-family;
    text-transform: uppercase;
    font-size: modular-scale(3);
    line-height: 1.25;

    @include media($medium-screen) {
      font-size: modular-scale(8);
    }


    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

  }

  .feed-icon & {
    @extend %button;

    max-width: 100%;
    text-align: center;
    position: relative;
    text-decoration: none;
    line-height: inherit;

    &:hover {
      // background-color: $dark-gray;
      text-decoration: none;
    }
    &:focus {
      color: $dark-gray;
    }
  }

  .rss_link,
  .stories_rss_link & {
    @extend %button;

    max-width: 100%;
    text-align: center;
    position: relative;
    text-decoration: none;
    border: solid transparent 0px;
    &.rss{
      padding-left: 1rem;
    }
    &:hover {
      // background-color: $dark-gray;
      text-decoration: none;
    }

    &:focus {
      color: $dark-gray;
    }
  }

  .blog-post-header h2 & {
    text-decoration: none;
    display: block;
    padding-bottom: 0.5rem;

    &:hover {
      text-decoration: underline;
    }
  }

  .site-menu & {
    font-family: $font-bg-book;
    font-size: modular-scale(-2);
    text-decoration: none;
  }

  .uw-footer-phone & {
    color: $yellow-dark;
    text-decoration: none;
    display: inline;

    &:hover {
      text-decoration: underline;
    }
  }

  .breadcrumb & {
    padding: 0;
    text-decoration: none;
    font-size: modular-scale(-2);
    font-family:$font-1451-medium;
    &:hover {
      text-decoration: underline;
    }
  }

  h2 & {
    text-decoration: none;
  }

  .node-uw-blog .field-name-field-tag .field-items .field-item & {
    font-size: modular-scale(-1);

    font-family:$font-1451-bold;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }
  }

  h3 & {
    color: $uw-black;
  }
}

.page-taxonomy .pager-current{
  font-size: modular-scale(-1);
  text-transform: uppercase;
  font-family:$font-1451-medium;
}
hr {
  border-width: 1px;
  border-top-style: solid;
  margin-bottom: 1rem;
}

img,
picture {
  height: auto;
  max-width: 100%;
  margin: 0;
  border: none;
  outline: none;
  // display:block;

  a & {
    border: none;
    outline: none;
  }

  .view-uw-service-categories & {
    float: left;

    // padding:1rem 1rem 1rem 0;

  }

  &.block {
    display: block;

    &.space-bottom-like-column {
      margin-bottom: 1.250rem;
    }
  }

  &.wide {
    .space-bottom-like-column {
      margin-bottom: 1.875rem;
    }
  }
}

object {
  .uw-site--main-content & {
    max-width: 100%;
  }
}

address {
  margin-bottom: 1rem;
}

strong {
  font-weight: $weight-extrabold;
}

/* Blockquotes */
blockquote {
  &:lang(en) {
    quotes: "\201C" "\201D" "\2018" "\2019";
  }

  &:lang(fr) {
    quotes: "\00AB\00A0" "\00A0\00BB" "\2039\00A0" "\00A0\203A";
  }

  margin-right: 0;
  margin-left: 0;

  @include media($medium-screen) {
    margin-right: inherit;
    margin-left: inherit;
  }
  padding: 2rem 2rem;

  .page-blog & {
    margin: 0 auto;
    padding: 2rem 0.5rem;
  }
  background: $lighter-gray;
  color: $dark-gray;
  text-align: center;
  line-height: $base-line-height;
  font-size: modular-scale(2);
  @include media($medium-screen) {
    font-size: modular-scale(4);
  }
  font-family: $serif-font-family;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  p {
    color: $dark-gray;
    text-align: center;
    // line-height: $base-line-height;
    font-size: modular-scale(2);

    @include media($medium-screen) {
      font-size: modular-scale(3);
    }


    font-family: $serif-font-family;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  footer {
    p {
      &:before,
      &:after {
        content: "";
      }
    }

    color: $gray;
    font-weight: $weight-regular;
    font-family: $base-font-family;
    font-size: modular-scale(1);
    margin: 1.7rem 0rem;

    strong {
      font-family: $condensed-font-family;
      font-weight: $weight-bold;
      font-size: modular-scale(1);
      text-transform: uppercase;
      color: $black;

      &:before {
        content: "\2014 \0020";
      }
    }
  }
  cite{
    font-family: $condensed-font-family;
    line-height: 1.25;
    font-size: modular-scale(1);
    text-transform: uppercase;
    color: $dark-gray;
    display:inline-block;
    strong {
      font-weight: $weight-bold;
      color: $black;
      line-height: 1.25;
      display:inline-block;
      &:before {
        content: "\2014 \0020";
      }
    }
  }
}



span {
  &.uw-site—subtitle{
    display:block;
    font-size: modular-scale(0);
    line-height: 1.25;
    @include media($medium-screen) {
      font-size: modular-scale(3);
    }
  }
  &.hp-opportunity--type {
    font-size: modular-scale(-2);
    font-family: $condensed-font-family;
    font-weight: $weight-bold;
    color: $gray;
  }

  &.hp-opportunity--deadline-label {
    font-size: modular-scale(-1);
    font-weight: $weight-bold;
    font-family: $condensed-font-family;
    text-transform: uppercase;

    ~ span {
      text-transform: uppercase;
      font-family: $base-font-family;
      font-size: modular-scale(-1);
    }
  }

  .submitted & {
    font-family: $font-1451-medium;
    font-size: modular-scale(-1);
    text-transform: uppercase;


    &.username {
      text-decoration: none;
      font-size: modular-scale(-1);

      // text-transform: uppercase;
      color: $uw-black;
      margin: 0;
    }

    &.uw-author {
      font-family: $font-1451-medium;

      // @include fontdpi();
      color: $uw-black;
      display: block;
      clear: both;
      font-size: modular-scale(-1);
    }
  }
  .page-events &,
  .page-news &,
  .page-blog &,
  .node-type-uw-news-item &,
  .node-type-uw-event &,
  .node-type-uw-blog &{
    &.date-display-single,
    &.date-display-range,
    &.article-date {
      font-family: $font-1451-medium;
      display: inline-block;
      clear: both;
      font-size: modular-scale(-1);
      padding:0.5rem 4rem 0.5rem 1rem;
      text-transform: uppercase;
      margin:0;
    }
  }


  .local-ist & {
    font-family: $condensed-font-family;
    color: $white;
    font-weight: $weight-regular;
    font-size: modular-scale(-1);
    display: inline-block;
    padding: 0 0.25rem;
  }

  &.uw_notice {
    &--date {
      display: block;
      text-transform: uppercase;
    }

    &--title {
      display: block;
      font-size: modular-scale(1);

      @include media($large-screen) {
        font-size: modular-scale(0);
      }


      color: $black;
      font-family: $condensed-font-family;
      font-weight: $weight-regular;
    }

    &--desc {
      display: block;
      margin: 0.25rem 0;

      @include media($large-screen) {
        margin: 0;
      }


      // color:$black;
      font-size: modular-scale(0);

      @include media($large-screen) {
        font-size: modular-scale(-1);
      }
    }
  }
}

.field-name-field-news-date {
  display: inline-block;
  @include fontdpi;
  font-size: modular-scale(0);
  text-transform: uppercase;
  padding: 0 0;
}

.event-content {
  .field-item {
    span {
      // text-transform: none;
    }
  }
}

.view-events {
  .event-date {
    span {
      // text-transform: none;
    }
  }
}

cite {
  font-style: normal;
}

pre {
  white-space: pre-wrap;
}

caption {
  border: solid 1px #eee;
  border-bottom: none;
  padding: 0.5rem;
  font-style: italic;
}

// contacts page
.field-name-field-profile-title,
.field-name-field-contact-title {
  .field-item {
    font-size: modular-scale(2);
    // font-weight: $weight-light;
    font-family: $base-font-family;
    line-height: $heading-line-height;
    #block-uw-ct-person-profile-person &{
      font-size: modular-scale(0);
    }
  }
}

// custom view overwrites

.field {
  .field-label {
    font-size: modular-scale(2);
    font-family: $condensed-font-family;
    float: none;
    margin-top: 1.2rem;
    color: $uw-black;
    // margin-bottom: 0.5rem;
    font-weight: normal;
  }
}
.date-display-single, .date-display-end, .date-display-start ,.date-display-range{
  text-transform: uppercase;
  font-weight: $weight-regular;
  font-size: modular-scale(-1);
}

.date-display-range {
  // background: $light-gray;
  // padding: 0.25rem 0;
}

.date-display-end {
  margin-left: 0.5rem;
}

.date-display-start {
  margin-right: 0.5rem;
}

.view .service-title,
.service-title-by-category,
.view-uw-by-audience a,
div.views-field.views-field-title-1 > span > a {
  font-size: modular-scale(2);
  // font-weight: $weight-bold;
  font-family: $condensed-font-family;
}

.service-title-by-category {
  margin-top: 0.5rem;
  margin-bottom: 0.45rem;
}

.page-services-by-audience {
  .item-list {
    margin: 1rem 0;

    a {
      font-size: modular-scale(2);
      font-family: $condensed-font-family;
    }
  }
}

.uw-site-flex {
  // font-weight: $weight-bold;
  color: $white;
}

// navigation
.uw-site-footer--global {
  font-size: modular-scale(-1);
  font-family: $font-1451-medium;
  -webkit-font-smoothing: subpixel-antialiased;
  .global-menu li a {
    font-family: $condensed-Book-font-family;
    letter-spacing:0.045rem;
    text-transform: uppercase;
    padding: 1rem 0.25rem;
    display: block;
    text-decoration: none;
    font-size: modular-scale(-1);
    @include media($xsmall-screen) {
      // font-size: modular-scale(0);
      padding: 0.17rem;
    }


    @include media($medium-screen) {

      padding: 0rem 0;
    }


    &:hover {
      color: $yellow-dark;
      text-decoration: underline;
    }
  }
}

.uw-header--nav__university {
  .global-menu li a {
    font-family: $condensed-Book-font-family;
    letter-spacing:0.045rem;
    text-transform: uppercase;
    font-size: modular-scale(-1);
    text-decoration: none;

    &:hover {

      text-decoration: underline;
    }
  }
}

.field-content {
  margin: 0;
  font-size: modular-scale(0);
  line-height: $base-line-height;
  font-weight: $weight-light;
  font-family: $base-font-family;

  .view-opportunities & {
    font-weight: $weight-regular;
  }

  .uw-site-sidebar--wrapper & {
    font-size: modular-scale(-1);
    line-height: inherit;
  }

  .uw-site-modal--wrapper & {
    font-size: modular-scale(-1);
    line-height: inherit;
  }
}

.submitted {
  display: inline-block;
  line-height: $heading-line-height;
  color: $gray;
  font-size: modular-scale(-1);
  font-family:$font-1451-medium;

  // text-transform:uppercase;
}

//module overwrites

div.uw-site-footer1--logo-dept {
  text-transform: uppercase;
  font-family: $condensed-font-family !important;
  color: #fff;

  // line-height:3.5rem;
  font-size: modular-scale(3);
}

.uw-site-footer2 {
  #block-workbench-block--2 {
    .workbench-info-block {
      a {
        color: #666666;
      }
    }
  }

  #site-footer & {
    color: $white;

    h2, h3, h4, h5, h6, p {
      color: $white;

      a {
        color: $white;

        img {
          border: none;
          outline: none;
        }
      }
    }

    a {
      color: $white;

      &.local-ist {
        font-family: $font-bg-book;
        font-size: modular-scale(-1);
        padding: 0.25rem;
        display: block;

        @include media($xsmall-screen) {
          font-size: modular-scale(-2);
          padding: 0.15rem 0.25rem;
        }


        @include media($medium-screen) {
          font-size: modular-scale(-1);
        }


        text-decoration: none;

        &:hover {
          color: $yellow-dark;
          text-decoration: underline;
        }
      }

      .tab {
        color: #252525;
      }

      #site-footer & {
        color: $white;
        font-weight: $weight-regular;
        font-size: modular-scale(-1);
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }

        img {
          border: none;
          outline: none;
        }
      }
    }
  }
}

//home-page-banner
.banner {
  span {
    font-size: modular-scale(-1);
    font-weight: $weight-regular;
    body.org_default & {
      color:#fff;
    }
    @include media($medium-screen) {
      font-size: modular-scale(0);
    }
  }

  strong {
    a {
      .org_default & {
        color: $uw-gold;
      }

      font-family: $condensed-Book-font-family;
      font-weight: $weight-regular;
      letter-spacing:0.045rem;
      text-align:center;
      font-size: modular-scale(4);
      @include media($medium-screen) {
        font-size: modular-scale(6);
      }


      &:hover {
        // color:$uw-gold;
        text-decoration: underline;
      }
    }

    text-decoration: none;

    &:after {
      // content: ' »'; color: #FFF; text-decoration: none;

    }
  }
}

//

//SIdeBAr
.uw-site-sidebar {
  &--wrapper {
    font-size: modular-scale(0);
    font-weight: $weight-regular;
    color: $dark-gray;


    @include media($medium-screen) {
      font-size: modular-scale(-1);
    }
  }

  &--promo {
    label {
      font-size: modular-scale(0);
    }
  }

  &--second {
    label {
      font-size: modular-scale(0);
    }
  }
}

.view-opportunities {
  br {
    display: none;
  }

  strong {
    font-size: modular-scale(1);
    font-weight: $weight-bold;
    font-family: $condensed-font-family;
  }

  .views-field-field-opportunity-type {
    span {
      font-size: modular-scale(-2);
      font-family: $condensed-font-family;
      font-weight: $weight-bold;
      color: $gray;
    }
  }
}

// *{
//   @include uw-transition($delay: 0s, $duration:200ms,  $timing:'linear', $property: (color, background-color,border-color,opacity));
//     &:hover{
//   @include uw-transition($delay: 0s, $duration:200ms,  $timing:'linear', $property: (color, background-color,border-color,opacity));
//   }
// }
form{
  font-family: $font-bg-book;
  fieldset{
    &.fieldset-invisible {
      legend{
        font-family: $condensed-font-family;
        font-size: modular-scale(2);
      }
    }
  }
}
.workbench-info-block{
  font-family: $font-bg-book;
}
label {
  &.option{
    font-size: modular-scale(0);
    font-weight: $weight-regular;
    font-family: $font-bg-book;
  }
  .views-exposed-form & {
    font-size: modular-scale(1);
    font-weight: $weight-regular;

    .logged-in & {
      font-size: modular-scale(1);
      font-weight: $weight-regular;
    }
  }
}

table {
  line-height: 1.4;
  font-size: modular-scale(-1);

  p, b {
    line-height: 1.4;
    font-size: modular-scale(-1);
  }

  td & {
    line-height: 1.4;
    font-size: modular-scale(-1);
  }
  caption {
    border: none;
  }
}

a {
  // @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity));

  &:hover {
    // @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity));
  }
}

// jquery theme ui.
.ui-widget {
  font-size: modular-scale(-1);
  line-height: 1;
  font-weight: $weight-light;
  font-family: $base-font-family;

  .ui-widget & {
    font-size: modular-scale(-1);

    input, select, textarea, button {
      font-size: modular-scale(-1);
      line-height: $base-line-height;
      font-weight: $weight-light;
      font-family: $base-font-family;
    }
  }

  input, select, textarea, button {
    font-size: modular-scale(-1);
    line-height: $base-line-height;
    font-weight: $weight-light;
    font-family: $base-font-family;
  }
}

.ui-autocomplete-field-title {
  font-size: modular-scale(0);
  font-weight: $weight-regular;
  font-family: $base-font-family;
  color: $dark-gray;

  .ui-autocomplete-field-term {
    color: $uw-black;
  }
}

.ui-autocomplete-field-term {
  font-size: modular-scale(0);
  font-weight: $weight-regular;
  font-family: $base-font-family;
  color: $uw-black;
}

.calendar-calendar table {
  display: block;
  overflow: auto;

  @include media($large-screen) {
    display: inline;
  }
}

.views-field-title a {
  font-size: modular-scale(0);

  @include media($large-screen) {
    font-size: modular-scale(2);
  }
}

.bg{
  min-width:15rem;
  min-height:2rem;
  margin:0rem 0 1rem 0;
  line-height:2rem;
  font-weight:bold;
  color:#fff;
  padding:0 0 0 0.5rem;
}
.skip{
  font-family: $font-bg-book;
  font-weight: $weight-light;
  font-size: modular-scale(-1);

}
.skip{
  position: absolute;
  z-index: 1000;
  left: 50%;
  width: 8.5em;
  text-align: center;
  background: #fff;
  a{
    &:focus{
      color:red;
    }
  }
}
.uw-site--off-canvas.generic_header .tab.tab-2:nth-child(2) {
  display: none;
}

.uw-site--off-canvas.generic_header .responsive-nav-menu .tab-1, .uw-site--off-canvas.generic_header .responsive-nav-menu .tab-2 {
  width: 100%;
}
.home-listing-block-date{
  font-size: modular-scale(-1);
  font-family: $font-1451-medium;
  background:$uw-black;
  text-transform:uppercase;
  color:$uw-gold;
  font-weight:400;
}
.node-type-uw-web-form .field-name-field-contact-watiam-id .field-items .field-item p{
  font-size: modular-scale(-1);
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
  font-style: italic;
  color:$gray;
  strong{
    color:$black;
  }
}
.related-stories .related-story {
  a{
    font-family: $condensed-font-family;
    font-weight: $weight-regular;
    line-height: $heading-line-height;
    text-decoration:none;
    font-size: modular-scale(2);
    &:hover,
    &:focus{
      text-decoration:underline;
    }
    &.active{

    }
  }
}
.view-empty{
  .uw_stories_non_sticky &{
    font-weight: $weight-regular;
    color: $uw-black;
    font-size: modular-scale(2);
    line-height: $base-line-height;
    font-family: $font-1451-medium;

    text-align:center;
  }

}
