/*fixes drop shadow problems in IE10+, unfortunately must apply to all browsers*/
.ie-resize-fix {
  // height: 1em;
}

// layout of global elements
.uw-section {
  &--inner {
    @include outer-container;

    .uw-header--global & {}

    .uw-site--header & {}

    .uw-header--banner__alt & {}
  }
}

.uw-site {
  @include outer-container(100%);

  &--inner {
    @include outer-container;

    @include boxShadow;

    background-color: #fff;
    border: solid 1px #888;
  }

  &--header {
    // inside the global header
    @include outer-container;

    text-align: center;
    padding: 1.2rem 0;

    // border-right:1px solid #888;
    // border-left:1px solid #888;
    // border-bottom:1px solid #888;
    background-color: $site-header-bg;
    font-size: modular-scale(5);
    text-transform: uppercase;

    img {
      vertical-align: bottom;
    }
  }

  &--main-top {
    //top bar above site content

  }

  &--banner {
    #uwb_area {
      &.wide {
        border-bottom: none !important;

        &.banner {
          &.wide {
            border-bottom: none;
          }
        }
      }
    }
  }

  &--messages {}

  &--help {}

  &--breadcrumb {
    // display:none;

  }

  &--title {}

  //  />top bar above site content

  &-admin {
    &--tabs {
      @include span-columns(9);

      @include omega;
    }
  }

  &-navigation {
    //left navigation column
    @include span-columns(3);

    margin-bottom: 12rem;
    background: #fff;

    h2 {
      margin: 2rem 0 0 0;
      padding: 2rem 0 0.5rem 1rem;
      font-size: 1.1em;
      border-bottom: solid 1px #ccc;
      background: url("../images/fdsu/chevrons.png") no-repeat -16px 0;
    }

    &--wrapper {}

    &--specific {
      //left menu menu code
      .site-menu {
        border-right: solid 1px #ccc;

        // line-height: normal;
        // font-size: 1.05rem;
        background-color: #fff;

        a {
          display: block;
          text-decoration: none;
          padding: 0.3rem;
          padding-left: 1.4rem;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        ul {
          margin: 0;
          padding: 0;

          li {
            padding: 0;
            margin: 0;
            list-style-image: none;
            list-style-type: none;

            a {
              &.active {
                color: #000;
              }

              &:hover {}
            }

            &.expanded {
              > ul {
                margin-left: 1rem;
              }

              a {
                background-image: url("../images/fdsu/menu-expanded.png");
                background-repeat: no-repeat;
                background-position: 0.4rem center;
              }
            }

            &.collapsed {
              a {
                background-image: url("../images/fdsu/menu-collapsed.png");
                background-repeat: no-repeat;
                background-position: 0.4rem center;
              }
            }

            &.leaf {
              a {
                background-image: url("../images/fdsu/menu-leaf.png");
                background-repeat: no-repeat;
                background-position: 0.4rem center;
              }
            }
          }
        }
      }

      &__state {}

      &__grey-out {}
    }
  }

  &--element {
    &__invisible {}

    &__focusable {}
  }

  &--main {
    //   --main wraps the inner section site between header / banner_alt and the footers.
    //
    background-color: #fff;

    @include outer-container;
  }

  &-main {
    &--content {
      // this wraps the right column of the site
      @include span-columns(9);

      @include omega;
    }
  }

  &-content {
    // #content -- content body column that can be wide or not
    @include span-columns(6 of 9);

    @include omega;

    div + h2 {
      margin-top: 1rem;
    }

    &.wide {
      @include span-columns(9 of 9);

      @include omega;
    }

    .content_node .field-items {
      padding-bottom: 1rem;
    }

    .js & {
      .field-item {
        > .expandable {
          margin-bottom: 1rem;

          > h2 {
            &:first-child {
              border: none;
              margin-bottom: 0;
              padding-bottom: 0;
              font-weight: normal;

              button {
                background: #eee url("../images/fdsu/menu-collapsed.png") no-repeat 0.375rem center;
                border: none;
                margin: 0;
                padding: 0.2rem 0.2rem 0.2rem 1rem;
                cursor: pointer;
                font-family: inherit;
                color: inherit;
                text-align: left;
                width: 100%;

                &::-moz-focus-inner {
                  padding: 0;
                  border: none;
                }

                &:hover,
                &:focus {
                  color: #03f;
                  background-color: #f0f0f0;
                }
              }
            }
          }
        }

        > .expandable-content {
          display: none;
          border: solid 1px #eee;
          border-top: none;
          border-bottom-color: #ddd;
          padding: 0.625rem;
        }

        .last-visible {
          margin-bottom: 0;
        }

        &.expanded {
          > h2 {
            &:first-child {
              button {
                background-image: url("../images/fdsu/menu-expanded.png");
              }
            }
          }
        }
      }

      .expandable-controls {
        text-align: right;
        margin-bottom: 1rem;

        button {
          cursor: pointer;
          padding: 0.2rem 0.4rem;
          color: #000;
          background-color: #ddd;
          text-align: center;
          margin: 0;
          border: none;

          &::-moz-focus-inner {
            padding: 0;
            border: 0;
          }

          &:hover,
          &:focus {
            color: #03f;
            background-color: #eee;
          }

          &.expand-all {
            margin-right: 2px;
            border-top-left-radius: 0.325rem;
            border-bottom-left-radius: 0.325rem;
          }

          &.collapse-all {
            border-top-right-radius: 0.325rem;
            border-bottom-right-radius: 0.325rem;
          }
        }
      }
    }
  }

  &-sidebar {
    @include span-columns(3 of 9);

    @include omega;

    // because the sidebar release the left margin of last element
    padding-left: 0.9rem;
    margin-top: 0.9rem;
    border-left: solid 1px #e6e6e6;

    .wide {
      display: none;
    }

    &--promo {}

    &--second {}

    &--wrapper {}

    &--nav {
      &__state {}

      &__grey-out {}
    }
  }

  &-footer {
    background-color: $site-footer-bg;

    @include outer-container;

    position: relative;

    &--global {
      background-color: $site-global-footer-bg;
      position: relative;
      font-size: modular-scale(-2);
    }
  }
}

// region header
.uw-header {
  background-color: $site-global-header-bg;

  &--content {}

  &--logo {}

  &--buttons {
    &__search {}

    &__search {}
  }

  // global header

  &--global {
    @include outer-container;

    background-color: $site-global-header-bg;
  }

  &--search {
    &__university {}
  }

  &--nav {
    &__university {}
  }

  &--banner {
    &__alt {}
  }
}

// region footer
.uw-footer,
#uw-footer {
  background-color: $site-global-footer-bg;
  border-top: solid 1px transparent;
  padding: 0.625rem 0.625rem 0;
  margin-top: 0;
  clear: both;
  position: relative;
}

//inner layout
.col-50,
.col-33,
.col-66,
.threecol-33 {
  float: left;
}

.col-50.first,
.col-33.first,
.col-66.first,
.threecol-33 {
  margin-right: 4%;
}

.threecol-33.last {
  margin-right: 0;
}

.col-50 {
  width: 48%;
}

.col-33 {
  width: 32%;
}

.col-66 {
  width: 64%;
}

.threecol-33 {
  width: 30.666666%;
}

/*legacy*/
.half-column {
  float: left;
  width: 48%;
}

.half-column.first {
  margin-right: 4%;
}

.content_node .field-items {
  padding-bottom: 1rem;
}

// video
.uw_video-embed {
  .wide & {
    position: relative;
    padding-bottom: 56.25%;

    /* 16:9 */
    padding-top: 1.563rem;
    height: 0;
    margin-bottom: 3.1rem;

    object {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      clear: both;
      margin-bottom: 3.1rem;
    }

    div {
      margin-top: 57%;
    }

    .overlay-open & {
      visibility: hidden;
    }
  }
}

/*views*/
.item-list {
  .pager {
    li {
      padding: 0 0.25rem;
      margin: 0;

      a {
        padding: 0.2rem;

        &.active {
          &:visited {
            color: #444;
          }
        }
      }
    }
  }
}

.view {
  .date-nav-wrapper {
    margin-top: 0;

    .date-nav {
      min-height: inherit;
      height: auto;
      padding: 0;
    }

    .date-heading {
      text-align: left;
      float: none;
    }

    .date-prev {
      padding: 0;
      margin: 0;
      background: none;
      right: 6.5rem;
      left: inherit;

      a {
        border-radius: 5px 0 0 0;
        font-size: modular-scale(-2);
        background: #ddd;
        padding: 0.125rem 0.125rem 0 0.125rem;
        width: 5.7rem;
        display: block;
        text-align: center;

        &:hover {
          color: #03f;
          background: #eee;
        }
      }
    }

    .date-next {
      padding: 0;
      margin: 0;
      background: none;

      a {
        border-radius: 0 5px 0 0;
        font-size: modular-scale(-2);
        background: #ddd;
        padding: 0.125rem 0.125rem 0 0.125rem;
        width: 5.7rem;
        display: block;
        text-align: center;

        &:hover {
          color: #03f;
          background: #eee;
        }
      }
    }
  }
}

/*cas login*/
.cas_login {
  position: absolute;
  bottom: 0.6250rem;
  right: 0.6250rem;
  width: auto;
  margin: 0;
  font-size: modular-scale(-2);

  a {
    color: #aaa;
    background-color: #000;
    text-decoration: none;

    &:visited {
      color: #aaa;
      background-color: #000;
      text-decoration: none;
    }
  }
}

/*front page news, events and blog blocks link title*/
.home-listing-block-link {
  display: inline-block;
  vertical-align: top;
}

/*front page news, events and blog blocks more link*/
.home-listing-block-more-link {
  display: inline-block;
  margin: 0 0 0.85rem 0;
  font-weight: bold;
}

/*front page news, events and blog blocks date*/
.home-listing-block-date {
  display: inline-block;
  font-size: modular-scale(-3);
  color: #444;

  @include span-columns(2.25);
}

.news-summary {
  padding-left: 0;
}

@media screen and (max-width: 767px) {
  #navbar-administration.navbar-oriented .navbar-tray-vertical > .navbar-lining::before {
    height: 0px;
  }
}

.img-test {
  background: url("../images/cta2.jpg") no-repeat;
  width: 220px;
  height: 87px;
}

#uwb_area.wide {
  border-bottom: 1px solid transparent !important;
}
