$uw-primary-colour: #252525;

/* nearly black */
$uw-highlight-colour: #FCE082;

/* pale yellow */
$uw_header_background_colour: #000000;

/* black */
$uw_header_border_colour: #000000;

/* black */
$uw-dark-shade-colour: #757575;

/* dark grey */
$uw-light-shade-colour: #EEEEEE;

/* light grey */
$link-colour: #428BCA;

/* blue; copied from library - not final */
$border-colour: #CCCCCC;

/* arbitrary grey - not final */
$button-colour: #DDDDDD;

/* arbitrary lighter grey - not final */
$how-far-down-with-admin: 216px;
$navbar-height: 39px;
$how-far-down-without-admin: 177px;

// Typography

$base-font-family: verdana, geneva, sans-serif;
$serif-font-family: "Times New Roman", Times, georgia, sans-serif;
$heading-font-family: verdana, geneva, sans-serif;
$condensed-font-family: verdana, geneva, sans-serif;

//Weights
$weight-hairline: 200;
$weight-light: 300;
$weight-regular: 400;
$weight-bold: 600;
$weight-semi-bold: 600;
$weight-extrabold: 700;
$weight-black: 800;

// Font Sizes

// $base-font-size: 1rem;
// $p-font:1em;
// $p-lead:1.25rem;

// Modular scale
$modular-scale-ratio: $major-second;

// Line height

// $base-line-height: 1.5;
// $heading-line-height: 1.2;

// Other Sizes

// $base-border-radius: 3px;
// $base-spacing: $base-line-height * 1rem;
// $small-spacing: $base-spacing / 2;
// $base-z-index: 0;

//uwm custom

// $white:					#ffffff;
// $black:                 #252525;
$gray: #878787;
$dark-gray: #333;
$medium-gray: #Fafafa;
$light-gray: #eee;

// $yellow:                #FCE082;
// $yellow-dark:           #FCD450;
// $uw-red: 				#96172E;
// $primary-yellow-color:  #FCE082;
// $secondary-yellow-color:#FCD450;
// $entry-bg-color:#e0e0e0;

//colors names

// $uw-black:#252525;
// $uw-gray:#757575;
// $uw-gold:#FCD450;
// $uw-white:#ffffff;

//colors for faculties

// $faculty-color: #757575;
// $uw-default:	#757575;
// $uw-ahs:		#009AA6;
// $uw-arts:		#E98300;
// $uw-engineering:#57068C;
// $uw-environment:#747800;
// $uw-math:		#E0249A;
// $uw-science:	#0073CF;
// $uw-school: 	#96172E;
// $uw-cgc:		#C4262E;
// $uw-ren:		#D2C295;
// $uw-stj:		#C88A11;
// $uw-stp:		#727C2E;

// sotu colors for faculties

// $sotu-teal:#007083;
// $sotu-orange:#F26721;
// $sotu-purple:#3D1865;
// $sotu-green:#8D941E;
// $sotu-fushia:#B9006D;
// $sotu-blue:#0C489C;
// $sotu-red:#9D053B;

// Font Colors

// $base-background-color: $white;
// $base-font-color: $dark-gray;
$base-header-color: #111;

// $action-color:$faculty-color;
// $link-color:$faculty-color;

//element colors
$base-background-color: $white;
$body-bg-color: $white;
$site-global-header-bg: $uw_header_background_colour;
$site-global-footer-bg: $uw_header_background_colour;
$site-header-bg: $white;
$site-footer-bg: $white;
$base-button-bg-color: $light-gray;
$base-button-color: $gray;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
// $form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
// $form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

$zindex: (modal: 10, overlay: 9, menu: 8, logo: 8, dropdown: 7, mobilemenu: 6, interact: 5, header: 4, footer: 4, content: 3, slides: 2, wrapper: 2, background: 1);
