ul,
ol {
  list-style-type: square;
  margin: 0;
  padding-left: 0.9rem;

  &%default-ul {
    list-style-type: disc;
    margin-bottom: $small-spacing;
    padding-left: $base-spacing;
  }

  &%default-ol {
    list-style-type: decimal;
    margin-bottom: $small-spacing;
    padding-left: $base-spacing;
  }

  li {
    .block-list & {
      .item-list {
        margin-top: 0.2rem;
        margin-left: 2rem;
      }

      .front & {
        margin-bottom: 0;
      }
    }
  }

  li > ol {
    list-style-type: lower-alpha;

    .block-list & {
      list-style-type: square;
      margin-left: 2em;
      padding: 0;
    }

    li > ol {
      list-style-type: lower-roman;
    }
  }

  li > ul {
    list-style-type: circle;

    li > ul {
      list-style-type: disc;
    }
  }
}

ol {
  &.decimal {
    margin: 0;
    padding: 0 0 1rem 1rem;

    li {
      list-style: decimal outside none;
      display: table;
      counter-increment: item;
      margin-top: 0.5rem;

      &:before {
        content: counters(item, ".") ". ";
        display: table-cell;
        padding-right: 0.6em;
      }

      li {
        margin-top: 0.5em;

        li:before {
          content: counters(item, ".") " ";
        }
      }

      ol {
        list-style: none outside none;
        list-style-type: none;
        counter-reset: item;
        margin: 0;
        padding: 0;
      }
    }

    .block-list & {
      list-style-type: none;
      padding: 0;

      .site-sidebar & {
        margin-left: 0.5rem;
        padding: 0;
      }

      .front & {
        // margin-bottom: 0.5rem;
     
      }
    }

    .item-list & {
      /*margin: 0 0 1em 0;*/
    }
  }

  .block-list & {
    list-style-type: none;
    padding: 0;

    .site-sidebar & {
      margin-left: 0.5rem;
      padding: 0;
    }

    .front & {
      margin-bottom: 0.5rem;
    }

    .item-list & {
      /*margin: 0 0 1em 0;*/
    }
  }
}

ul {
  .uw-site-sidebar & {
    &.quick-links {
      font-size: 1.2352941176rem;
      list-style: none;
      margin-left: 0;
      padding-left: 0;

      &.black {
        li {
          a {
            background: #000 !important;

            &:hover {
              border-color: #aaa !important;
            }
          }
        }
      }

      li {
        padding: 0;
        margin-top: 1px;

        a {
          display: block;
          padding: 0.375rem 0.5rem 0.375rem 0.375rem;
          text-decoration: none;
          color: #fff;
          background: #96172E;

          /* same as link colour */
          border-bottom: 1px solid #cecece;

          &:hover {
            color: #fff;
            background: #8D162C;

            /* 1 shade darker than link colour at colllor.com */
            border-bottom: 1px solid #000;
            border-right: 0.350rem solid #000;
            padding-right: 3px;
          }
        }
      }
    }
  }
}

dl {
  margin-bottom: $small-spacing;

  dt {
    font-weight: bold;
    margin-top: $small-spacing;
  }

  dd {
    margin: 0;
  }
}

/* social media links */
.service-links {
  clear: both;
  margin-top: 1.250rem;
  padding-top: 0.325rem;
  border-top: 1px solid #eee;

  ul {
    padding: 0;

    .item-list & {
      li {
        margin: 0.5rem 0 0 0;
        padding: 0 0 0 1rem;

        &.first {
          padding-left: 0;
        }
      }
    }

    li {
      display: inline;
      padding: 0 0 0 1rem;

      &.first {
        padding-left: 0;
      }
    }
  }
}
